[2019-09-02 16:48] quorth0n opened #1 "Tree sponsor info panel"
![greenstand](https://user-images.githubusercontent.com/6278600/64126790-03760280-cd64-11e9-8cd5-6b5baa9e16f5.png)
Marked as (2) on the above mockup. Should be a small panel showing the name and logo of the sponsor. ~~We are waiting on a way to upload sponsor logos, placeholders can be used until then.~~ see Ezra's comment below! Feel free to ask me if you would like to tackle this issue or need a

[2020-07-25 08:33] sebastiangaertner opened #3 "Web Map needs to open with left panel active with general information on what the map is about"
The https://treetracker.org site should open up with the left panel active. We need UX UI help to define what to display there. A short introduction (if no cookies are present) of the project and what this is about. Maybe a bit of statistics ... Amount of total tree tracking events, mabye statistic by continent, once in continent by country, or markers such as how many FMNR trees, social impact co

[2020-11-20 06:02] sebastiangaertner opened #17 "Adding a simple "show tree" on google map link to the social media button or separate"
Raj from the greening India project has pointed out that there is no way to find the actually tracked trees at the moment so we though a simple location link that opens up Google Maps would be enough for now. This is very simple. This is roughly what it should look like...
https://www.google.com/maps/dir//-6.4349354,38.2180494

[2020-11-30 21:00] deepwinter opened #4 "Zoom goes to wrong center in some cases"
https://treetracker.org/?map_name=TheHaitiTreeProject.  The initial zoom that is calculated turns out to be at the wrong location.

[2020-12-17 23:07] ZavenArra opened #18 "Can we turn off some / all of the place names supplied by google maps layer?"

[2021-01-06 06:26] sebastiangaertner opened #6 "Improved quick links on the verify list"
See below the two images. Second icon should open the users map to quickly see the overview. (such as https://treetracker.org/?userid=3336)
Changing the order of icons first the pin icon with link to individual_tree, then the user_info_icon and then the user_map_icon
![usermap_link](https://user-images.githubusercontent.com/3283800/103736377-2e7c0080-5001-11eb-8ea0-5c1943f9b843.png)
![userinfo_lin

[2021-03-03 06:54] dadiorchen opened #7 "Leaflet web map: need to add copyrights information."
On the right-bottom corner, we need to display approricate map copyright information.
We are using: google satellite map as background, leaflet library.
<img width="1440" alt="Screen Shot 2021-03-03 at 2 53 59 PM" src="https://user-images.githubusercontent.com/5744708/109765861-5f0e9e00-7c30-11eb-8a8d-d4b34961b250.png">

[2021-03-12 00:31] dadiorchen opened #8 "Hide the timeline filter on: freetown.greenstand.org"
Currently, the app has been handled with some case like: treetracker.org/?map_name=freetown, in this case, the timeline filter will be hidden, we also need it be hidden in the case: freetown.treetracker.org

[2021-03-20 03:54] Davidezrajay opened #2 "Impact Panel Foldup"
### Be awesome and make this super Impact Panel design!

![Impact planel Fold out](https://user-images.githubusercontent.com/25363572/77220609-bcc8d980-6af6-11ea-8602-8a2e7bc6c698.png)

- [ ] The data should be pulled from all trees belonging to a specific 'entity_id'
- [ ] In the case of a master 'entity_id' it should contain all trees linked to that wallet and the sub-wallets of that entity.
- [

[2021-03-20 03:56] deepwinter opened #5 "Quick wallet UX upgrade"
Quick wallet UX upgrade

Want to show
Total number of tokens in wallet
Total number of planters connected to tokens in wallet
Total number different species connected to tokens in wallet

Show these each as changing graphs/charts over time, on a monthly basis
Implement as a bottom panel to the wallet map only (not the main maps)

Also include some basic information about the wallet.

![image](http

[2021-03-23 21:38] deepwinter opened #10 "Implement 'next tree' feature on new version"
Since the new version uses raster tiles to serve tree locations, we have to change our approach to the 'next tree' feature (arrows on the tree to photo to move show the next tree)

Suggested solution:
When a user first clicks on a tree and opens the side panel, load ~100 trees that are close to this tree.  Keep these trees in a cache and use them to page through until the user selects a tree that

[2021-03-24 18:22] deepwinter opened #11 "Logos on Map"
The map needs to show Powered by Greenstand on all maps.  Custom logos should be displayed elsewhere.  We will provide a lockup spec for combining the Powered by Greenstand lockup with the custom Brandmark or Lockup of the organization's map.

[2021-03-24 18:31] deepwinter commented on #11
In the meantime, we will place the custom logo in the upper right corner, and the greenstand lockup in the lower right corner.

[2021-03-25 01:42] Maxfrank commented on #7
@dadiorchen @deepwinter
Created PR for this issue https://github.com/Greenstand/treetracker-web-map-client/pull/13
Google's Terms of Use forbid any means of tile access other than through the Google Maps API, therefore I re-added the google map API script, and use a plugin of leaflet (called GoogleMutant) to integrate google satellite and google attributions with leaflet.

Please refer to https://

[2021-03-25 21:53] #7 closed

[2021-03-25 22:12] deepwinter commented on #10
@dadiorchen went through the UTF8 tiles themselves and found the data in the grid.

[2021-03-25 22:12] #10 closed

[2021-03-25 22:13] deepwinter commented on #6
this is an admin panel issue.

[2021-03-25 22:13] #6 closed

[2021-03-25 22:15] deepwinter commented on #4
Fixed.

[2021-03-25 22:15] #4 closed

[2021-03-25 22:37] ZavenArra opened #20 "Update URL with bounding box so that current location of the map can be shared"
Similar to google maps, the URL of the treetracker map should contain the bounding box information for the location currently shown.  This should change as the user navigates in the map.  The user should be able to copy and paste this URL in order to share the current map view: when a URL with a bounding box query parameter is accessed, the map should move to the location of this bounding box.

Fo

[2021-04-01 03:21] dadiorchen opened #25 "The tree point marker is inaccurate."
The tree marker is inaccurate, the tip of the point is not pointing to the correct/accurate coordinate on the map:
We need to make some calibration to make it correct.

[2021-04-01 03:22] dadiorchen commented on #25
<img width="1424" alt="Screen Shot 2021-04-01 at 11 21 36 AM" src="https://user-images.githubusercontent.com/5744708/113239044-76e34b80-92dc-11eb-888d-f85bb87ae243.png">

[2021-04-01 09:59] #25 closed

[2021-04-01 21:57] adriana-carmo commented on #8
Hello @dadiorchen, about this issue, I would like to understand how someone got this url: freetown.treetracker.org, does it come from another application?

[2021-04-01 22:52] deepwinter commented on #20
we found some issues with this PR.  query parameters are not retained in the URL when present.

[2021-04-01 23:11] deepwinter commented on #20
this PR follows google maps, which was indeed our spec.. but upon review I see that @ also has a special meaning in our platform, the wallet handles, so we have to think differently about how we update the location in the URL.

Some ideas for URLs, not sure which is best
https://dev.treetracker.org/@zaven,3.882756877719757,0.17578125,2z
https://dev.treetracker.org?map_name=freetown&location=3.8827

[2021-04-01 23:17] deepwinter commented on #20
https://dev.treetracker.org/@zaven?focus=3.882756877719757,0.17578125,2z

[2021-04-02 01:02] deepwinter commented on #8
we have some domains like that set set up to CNAME to map.treetracker.org

[2021-04-02 03:21] dadiorchen commented on #20
I think in our case, the easiest way is to just rewrite the path with the parameter we are using, so it's easy for us to get them from the path and then setting the map in correct state then request the server.
like, this is the code we generate the request for server:

https://github.com/Greenstand/treetracker-web-map-client/blob/a9a02cc6c3b5bb921c7d39157686d0e64f572f28/src/map.js#L186-L205

So,

[2021-04-02 10:14] dadiorchen opened #30 "When click tree point, the position of icon is wrong."
There is some deviation

[2021-04-05 03:13] Maxfrank commented on #20
@dadiorchen Thanks for the suggestion, but there is some potential problem reusing bounds query param. When we get bounds information from URL, we cannot use it directly in mapOptions (needs zoom level and center info) in initializationn period, therefore we can only use map.fitBounds() later on to move the map position. But at the same time, we already started to track current bounds and rewrite

[2021-04-06 01:24] dadiorchen commented on #20
@Maxfrank sounds reasonable. Please hold on to this PR for a while, cause I am refactoring the workflow to fit the new cluster tile layer, and I will keep your idea in mind, and let's see how to figure it out when I reach the point.
In your code, did you reserve the filter like map_name=freetown in the URL?

[2021-04-06 02:07] Maxfrank commented on #20
@dadiorchen Yes, all other filters are reserved and not influenced

[2021-04-06 20:22] adriana-carmo commented on #8
Hi Zaven thanks for answering me. I am studying this issue to solve it.

[2021-04-07 01:14] dadiorchen commented on #8
@adriana-carmo Sorry I missed the message, for this issue, actually, I think we don't not to care about the domain, because, the workflow is: first we will translate the subdomain to query parameter, like: freetown.treetracker.org ==>  treetracker.org/?map_name=freetown, so we just need to check if the filter is set, there are several different filter: map_name, wallet, userid, currently, the time

[2021-04-08 21:49] #30 closed

[2021-04-10 06:44] dadiorchen opened #33 "Can not cancel tile image and grid."
When rerender the map (by sliding the timeline) , can not cancel previous loading tile image and utf grid.

[2021-04-10 07:06] #33 closed

[2021-04-14 02:05] adriana-carmo commented on #8
I created the PR

[2021-04-14 17:36] ZavenArra commented on #11
@Maxfrank Do you think you could handle the 'in the meantime' version of this ?

[2021-04-22 22:27] ZavenArra opened #36 "Lint and Pretty the code"

[2021-05-06 22:12] ZavenArra opened #42 "Frontend support for tree names"
We will assign tree names to some trees

We want to show the single capture view using a URL like
map.treetracker.org/leaf-love-sustain

Also change the left panel to show the tree name as well.

Zaven will update the backend API to support a query parameter to GET a single capture using the name

[2021-05-06 22:19] ZavenArra opened #43 "Hide freetown watershed boundaries as low zoom level"
![image](https://user-images.githubusercontent.com/364622/117372474-719a9300-ae7e-11eb-9f02-7047a58f3c2d.png)

[2021-05-06 22:26] ZavenArra opened #44 "Google maps returns black image for missing satellite imagery"
![image](https://user-images.githubusercontent.com/364622/117372829-09987c80-ae7f-11eb-8130-f4426601aed1.png)

[2021-05-11 09:27] dadiorchen opened #48 "Can not display nearest icon when going to tree level"
https://map.treetracker.org/?userid=2268
<img width="1440" alt="Screen Shot 2021-05-11 at 5 17 20 PM" src="https://user-images.githubusercontent.com/5744708/117792699-1c93be00-b27e-11eb-9f08-488fdbc781fa.png">

<img width="1440" alt="Screen Shot 2021-05-11 at 5 17 35 PM" src="https://user-images.githubusercontent.com/5744708/117792684-19003700-b27e-11eb-8b2d-508da12379bf.png">

<img width="1440" a

[2021-05-11 09:50] dadiorchen opened #49 "Check this case"
https://wallet.treetracker.org/?wallet=Michael_R

There was some problem in this case before, check it in the new version.

[2021-05-12 01:13] dadiorchen opened #50 "Merge issue 43, 44 to new version of web map"
Fixed them in branch `old-version` need to merge them to the new version/master.

[2021-05-13 21:12] #36 closed

[2021-05-14 06:39] dadiorchen opened #53 "can not show trees/clusters in this case:"
https://map.treetracker.org/?map_name=mytreestrust

working case: https://map.treetracker.org/?userid=3717 they are the same.

[2021-05-14 07:40] sebastiangaertner commented on #53
User id = 3717 is in mytreestrust so it should be included in the map view https://map.treetracker.org/?map_name=mytreestrust
There is also one more planter in there at the moment which does also not get displayed due to zoom levels cluster issues.

[2021-05-19 09:39] sebastiangaertner opened #54 "Redirect treetracker.org to map.treetracker.org"
We have some links out there such as
https://treetracker.org/?userid=3737
needs to be rerouted to ....
https://map.treetracker.org/?userid=3737

Currently a pretty strong error comes up.

[2021-05-19 09:43] dadiorchen opened #55 "Make the timeline icon more noticeable"
![image](https://user-images.githubusercontent.com/5744708/118791903-ba643a00-b8c9-11eb-9781-f9d7416e976f.png)

[2021-05-20 02:27] dadiorchen opened #56 "Clean up the `copyright` information, make it cleaner"
![image](https://user-images.githubusercontent.com/5744708/118909717-ffce4900-b955-11eb-976d-3338f82e0fc8.png)

[2021-05-20 22:00] dadiorchen commented on #55
example: https://www.windy.com/?22.291,114.150,5

[2021-05-20 22:11] dadiorchen opened #58 "The timeline, show some message saying it would take a while to show the result"
Because the timeline is slow sometimes.

[2021-05-21 03:05] adriana-carmo commented on #55
Dadiorchen, I will develop it.

[2021-05-22 02:14] #50 closed

[2021-05-22 02:19] dadiorchen commented on #53
I have tested this case locally on my computer, in the new version , it works well, so let me confirm that it's working on the prod env when we released the new version.

[2021-05-22 02:26] dadiorchen commented on #48
In new version, tested locally, the nearest arrow can show, need to confirm it when prod released.
But the cluster data is still inaccurate, so the zoom-in-target is wrong in a way.

[2021-05-25 21:13] ZavenArra commented on #55
1. timeline icon should not show when side panel is open
2. timeline icon should never show when viewing a single tree link (like ?treeid=12312 or ?tree_name=test-name)

[2021-05-26 01:05] dadiorchen commented on #55
I will split this to a seperate issue.

[2021-05-26 01:05] dadiorchen opened #60 "Timeline icon problem."
timeline icon should not show when side panel is open
timeline icon should never show when viewing a single tree link (like ?treeid=12312 or ?tree_name=test-name)

[2021-05-27 06:54] dadiorchen opened #61 "New version support tree name feature."
NOTE: the freetown.treetracker.org case

[2021-05-27 06:56] dadiorchen opened #62 "Check that new version map support the subdomain cases"
Like:

* freetown
* wallet

[2021-05-28 02:25] dadiorchen commented on #56
Please refer to: https://www.google.com/maps

[2021-06-16 02:24] dadiorchen commented on #56
@Ming-Wang13 yes, no rush, and when you are ready, I will assign you another task, this one was token by @adriana-carmo

[2021-06-23 09:20] michaltrunek opened #68 "Test"
Test body

[2021-06-23 09:22] #68 closed

[2021-06-23 09:24] dadiorchen opened #69 "dedee"
https://www.loom.com/share/44fa1429908742dbb3ae5b603ed73ad5

[2021-06-23 09:25] #69 closed

[2021-06-25 01:08] dadiorchen opened #70 "Sometimes, the `nearest arrow` keep showing"
Even there are icons on the map.

https://www.loom.com/share/0f374c77ff37473d89696ae698b4efb8

[2021-06-25 06:43] dadiorchen opened #71 "Test env: nearest tree arrow doesn't work."
<img width="509" alt="screen_shot_2021-06-24_at_1 16 19_pm" src="https://user-images.githubusercontent.com/5744708/123381721-aba52d00-d5c3-11eb-84c1-2d87eabe778f.png">

[2021-06-25 16:41] michaltrunek opened #72 "Treetracker timeline not properly exposed"
Timeline icon is hard to spot on page load. This functionality should be more visible to the user. Maybe this was already fixed by our DEVs but listing it just to be sure. Feel free to close if not valid anymore.

**Details:**
![Screenshot 2021-06-25 at 16 30 25](https://user-images.githubusercontent.com/4280850/123458381-46faca00-d5e5-11eb-9704-341aa5fe8451.png)

[2021-06-25 16:45] michaltrunek opened #73 "Leaflet link in the bottom right corner with no css style"
Leaflet link in the bottom right corner has no css styles applied and therefore it doesn't look nice. Do we need to have it from legal point of view?

**Details:**
![Screenshot 2021-06-25 at 16 35 01](https://user-images.githubusercontent.com/4280850/123458626-8c1efc00-d5e5-11eb-8077-413666dd683d.png)

[2021-06-25 16:46] michaltrunek opened #74 ""Greenstand" logo - no link"
"Greenstand" logo in the bottom right corner should have a link to the Greenstand website if possible. Most probably this is not a bug as such, just an improvement.

**Details:**
![Screenshot 2021-06-25 at 16 35 28](https://user-images.githubusercontent.com/4280850/123458867-d1dbc480-d5e5-11eb-95d1-a1d0f929f49d.png)

[2021-06-25 16:48] michaltrunek opened #75 "XML parsing error on page load"
[code]

**Details:**
Firefox browser

![Screenshot 2021-06-25 at 16 42 11](https://user-images.githubusercontent.com/4280850/123459025-064f8080-d5e6-11eb-934d-388e5632be70.png)

[2021-06-25 16:50] michaltrunek opened #76 "The app is not loading in IE 11 and Yandex browsers"
**Details:**
IE 11, Yandex

![Screenshot 2021-06-25 at 16 54 17](https://user-images.githubusercontent.com/4280850/123459210-457dd180-d5e6-11eb-8227-5dd90f6c7d24.png)
![Screenshot 2021-06-25 at 16 59 11](https://user-images.githubusercontent.com/4280850/123459216-46aefe80-d5e6-11eb-85b6-0cb3f206c948.png)

[2021-06-25 16:53] michaltrunek opened #77 "Zoom out button doesn't work on small screen sizes (Mobile)"
**Details:**
iPhone SE, Chrome

https://user-images.githubusercontent.com/4280850/123459548-b624ee00-d5e6-11eb-882d-a76d18bc1b8e.mov

[2021-06-25 16:57] michaltrunek opened #78 "Invalid pointer to a tree (zoomed in)"
Upon completely zoom in on one tree (number 1 in a circle, not map pointer yet) sometimes user can see an arrow pointing/suggesting to move to left/right but in fact the tree is already presented on the screen.

**Details:**
iPhone 12, Chrome

![Screenshot 2021-06-25 at 17 15 36](https://user-images.githubusercontent.com/4280850/123459975-45320600-d5e7-11eb-9841-426dce5ef4d2.png)

[2021-06-25 16:58] michaltrunek opened #79 "Search feature (tree, user, group ...)"
There is a Search feature missing a lot. Search by a user, by id. This would be very nice to have.

[2021-06-25 17:00] michaltrunek opened #80 "Previous (big) circles not disposed properly upon zoom in"
Upon zooming in (fast) or clicking on regions, the previous big circles with number of trees in regions are disappearing very slowly most of the time. The big circle is zoomed in and is covering big part of the screen and at the same time we are already loading another/detailed regions with tree numbers. This doesn't look nice for a user. We should dispose/dismiss the previous circle more effectiv

[2021-06-25 17:08] michaltrunek opened #81 "Navigation on the map (Mobile devices)"
When zoomed in (not fully) it is very hard to move on the map. The map sometimes doesn't react to the user fingers and only stays where is.

Details:
Samsung 10, iPhone SE (Chrome)

[2021-06-25 17:15] michaltrunek opened #82 "Direct navigation to the tree details upon 1 tree"
If there is only one tree in a circle, user should be able to navigate to the tree details directly. Now the user has to click sometimes even 7 times to get to the tree/user details. This takes quite a big amount of time to show the tree details.

**Details:**
All mobile devices and desktop

https://user-images.githubusercontent.com/4280850/123463771-3732b400-d5ec-11eb-84aa-66a58bb811d6.mov

[2021-07-01 01:22] sebastiangaertner opened #83 "Simple "copy link" function on the share button"
See screenshot. Adding a simple "copy link" would also be a great addition. This is a simple task for entry level contributors.
![Screenshot 2021-06-25 at 07 26 34](https://user-images.githubusercontent.com/3283800/123369715-ed63b280-d586-11eb-8fb2-bfdeff8df34e.png)

Is there a way to add analytics to the share dialogue ?
We might also consider more than just "Share" (TBD)

[2021-07-25 21:05] dadiorchen opened #84 "Open timeline feature for planter/userid filter."
Show the timeline icon for case:  https://map.treetracker.org/?userid=1
And be able to slide the timeline to filter the tree by date, for the current userid/planter.

[2021-07-25 21:08] dadiorchen opened #85 "Improve the timeline slider component."
The start and end dates overlay if too close.

<img width="737" alt="Screen Shot 2021-07-26 at 5 06 49 AM" src="https://user-images.githubusercontent.com/5744708/126913519-32e3c4fb-33c0-4012-b248-2ecec7b3b394.png">

[2021-07-29 03:58] dadiorchen opened #86 "Bug on this case: https://map.treetracker.org/?userid=3679"
No trees/clusters show up on this URL, need to check what happened in this case.

[2021-07-29 04:06] dadiorchen opened #87 "TO check if we can set the initial view for org map"
Like this case: https://map.treetracker.org/?map_name=wscm
We need to check if the previous code is working to set the initial view for the organization map (map_name=xxx)
So we can consider using a good setting for it.

[2021-08-05 03:54] dadiorchen opened #88 "Discusssion: how to deal with this problem:"
Karen Nicolas - Treetracker Liaison  9:28 PM
Hi. another point that would be super valueable... map.treetracker/?userid=3754.  When you go to this url and others like it, you see the tear drops first.  You have to zoom out to see the circle to know how many trees that farmer planted.  Viewers should see the total in the circle first because they may not know to zoom out and they will most importan

[2021-08-05 05:08] sebastiangaertner commented on #88
This is more of an admin panel request seeing the total cou r per planter is coming soon
--
Sent from myMail for Android Thursday, 05 August 2021, 06:54am +03:00 from Dadiorchen  ***@***.*** :

[2021-08-07 03:47] dadiorchen commented on #88
Karen Nicolas - Treetracker Liaison  1 hour ago
Hi, I don't think it helps me with marketing farmer sponsorships to have it in the admin panel,  I need to show donors the farmer's trees they are sponsoring and they will want to see that total number of trees.  If its just in the admin panel, I don't think I will be able show that link to donors.

[2021-08-08 02:48] dadiorchen opened #90 "Nearest arrow stay showing."
Even there are points on the map.

[2021-08-11 06:30] dadiorchen opened #94 "Avoid load useless tile."
I see an interesting issue on the production web map... when we zoom through by 2 zoom levels, we load both sets of tiles, instead of just the target level.  We should figure out a way not to do that.

[2021-08-21 03:02] dadiorchen opened #95 "Sometimes, zoom in/out button do not work."
https://www.loom.com/share/1b62bfc64a9a4fc780142cd208dc04d8

[2021-08-24 07:59] dadiorchen opened #98 "Can not pan the map in mobile device."
https://www.loom.com/share/1ae6fab6f524426d895dd15d6c8215fe

[2021-09-01 20:57] ZavenArra commented on #11
Figma spec has been added!

[2021-09-09 02:34] dadiorchen commented on #3
Put this issue to the icebox, generally, we will have a good solution in the new web map site design.

[2021-09-09 02:40] #8 closed

[2021-09-09 07:03] #20 closed

[2021-09-09 07:03] #42 closed

[2021-09-09 07:04] dadiorchen commented on #43
Resolved

[2021-09-09 07:04] #43 closed

[2021-09-09 07:04] dadiorchen commented on #44
resolved

[2021-09-09 07:04] #44 closed

[2021-09-09 07:09] dadiorchen commented on #48
This still is a valid problem, seems the 15 zoom level doesn't work, when zoom into 16, tree point shows up
![image](https://user-images.githubusercontent.com/5744708/132639332-dbd091c0-c7c7-48b4-a15c-a74f18ebad0b.png)
zoom level 16:
https://map.treetracker.org/?userid=2268&bounds=88.7328656204045,22.08665774542832,88.76376466825606,22.096062103926354
zoom level 15:
https://map.treetracker.org/?us

[2021-09-09 07:12] dadiorchen commented on #49
Solved

[2021-09-09 07:12] #49 closed

[2021-09-09 07:15] #53 closed

[2021-09-09 07:17] dadiorchen commented on #53
Solved
<img width="500" alt="Screen Shot 2021-09-09 at 3 16 29 PM" src="https://user-images.githubusercontent.com/5744708/132640581-a2bfafd9-cad4-48a0-87ee-ef38a02167f4.png">

[2021-09-09 07:18] #54 closed

[2021-09-09 07:18] dadiorchen commented on #55
Solved

[2021-09-09 07:18] #55 closed

[2021-09-09 07:19] dadiorchen commented on #56
solved

[2021-09-09 07:19] #56 closed

[2021-09-09 07:20] #58 closed

[2021-09-09 07:20] dadiorchen commented on #60
solved

[2021-09-09 07:20] #60 closed

[2021-09-10 02:05] dadiorchen commented on #61
solved

[2021-09-10 02:05] #61 closed

[2021-09-10 02:09] dadiorchen commented on #62
solved

[2021-09-10 02:09] #62 closed

[2021-09-10 02:59] #71 closed

[2021-09-10 03:00] dadiorchen commented on #72
Solved by @adriana-carmo

[2021-09-10 03:00] #72 closed

[2021-09-10 03:03] dadiorchen commented on #73
Solved by @adriana-carmo

[2021-09-10 03:03] #73 closed

[2021-09-10 03:05] dadiorchen commented on #74
Resolved

[2021-09-10 03:05] #74 closed

[2021-09-10 03:06] dadiorchen commented on #75
Yes, this is a valid bug

[2021-09-10 03:10] dadiorchen commented on #78
a duplicated issue with #70

[2021-09-10 03:12] dadiorchen commented on #79
I will close this one now, and this new feature is in design with the designer and will implement in the future.

[2021-09-10 03:12] #79 closed

[2021-09-10 03:15] dadiorchen commented on #80
This is an interesting issue, I'm happy you are interested in this, the thing is, I thought this is a feature intentionally provided by leaflet, the old/big/previous circle remains there is for (in some view) better user experience, if you use google map, you will find, when you zoom in the satellite map, the previously loaded map will stay there for a while, till the new map get loaded, I guess t

[2021-09-10 03:22] dadiorchen commented on #82
This is a huge topic/task, let's leave it here and discuss it somehow.

[2021-09-10 03:39] dadiorchen commented on #87
To clarify, we need to adjust the config file to make this organization map looks good.

[2021-09-10 03:42] dadiorchen commented on #90
duplicated issue with #78

[2021-09-10 03:43] dadiorchen commented on #94
Need to reproduce this issue.

[2021-09-10 03:44] dadiorchen commented on #95
But it is not so easy to reproduce it.

[2021-09-10 03:45] dadiorchen commented on #98
Might be the same issue as #81

[2021-09-10 07:09] dadiorchen opened #100 "Logo component"
Make this component as a common component:

<img width="942" alt="Screen Shot 2021-09-10 at 3 05 46 PM" src="https://user-images.githubusercontent.com/5744708/132814177-8c788ed1-7a0a-4673-aabe-ee5e3c9821e9.png">

---
Some hints for building components:

* Please check the pin items in the `web map` channel on slack to get the design resource.
* A tutorial of how to use the Cypress component tool t

[2021-09-10 07:16] dadiorchen opened #101 "The menu/navigation bar"
This is a common component.

<img width="942" alt="Screen Shot 2021-09-10 at 3 14 17 PM" src="https://user-images.githubusercontent.com/5744708/132814964-294af662-7657-4629-806c-652af8b0d544.png">

---
Some hints for building components:

* Please check the pin items in the `web map` channel on slack to get the design resource.
* A tutorial of how to use the Cypress component tool to build compone

[2021-09-10 07:19] dadiorchen commented on #101
Prerequisite #100

[2021-09-10 07:21] dadiorchen opened #102 "The first page, with map"
Implement the first page, with the map get integrated into the page.
Prerequisite #100 #101

![image](https://user-images.githubusercontent.com/5744708/132815439-585a1767-c4bf-48da-b7b4-6ca506716415.png)

[2021-09-10 07:30] dadiorchen opened #103 "The leading board component."
Please make this component reusable, because we got different boards, order by person, and order by country, and there might be others.

![image](https://user-images.githubusercontent.com/5744708/132816737-ba9559ad-8305-46b6-85c2-eb3b4f198e20.png)

---
Some hints for building components:

* Please check the pin items in the `web map` channel on slack to get the design resource.
* A tutorial of how

[2021-09-10 07:34] dadiorchen opened #104 "Information card 1"
Please put the component into the common folder, and make it reusable.

<img width="710" alt="Screen Shot 2021-09-10 at 3 32 37 PM" src="https://user-images.githubusercontent.com/5744708/132817504-8e904512-71af-41f5-b12b-7ff3d3fe0a66.png">

---
Some hints for building components:

* The Figma design resource: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2497%3A11584.

[2021-09-10 07:38] dadiorchen opened #105 "Information card 2"
Please put this component in the `common` folder and make this component reusable.

<img width="701" alt="Screen Shot 2021-09-10 at 3 36 52 PM" src="https://user-images.githubusercontent.com/5744708/132817871-d91deb31-9d2c-40db-bfd8-cb10ba454231.png">

---
Some hints for building components:

* Please check the pin items in the `web map` channel on slack to get the design resource.
* A tutorial of

[2021-09-10 07:41] dadiorchen opened #106 "The spec for the route/path of the web map site."

[2021-09-11 03:15] dadiorchen opened #108 "The tooltip of the timeline position is wrong in some cases."
**Describe the bug**
The tooltip of the timeline position is wrong in some cases.

**To Reproduce**
https://www.loom.com/share/d98e7845386b4e61998d06a2543cadc9

[2021-09-11 03:44] dadiorchen commented on #106
(All these router spec will ignore the domain)
* default/root page
  * path: /
  * description: the index page

* top page
  * path: /top
  * description: the page with: featured trees, and leader board

* tree detail page
  * path: /trees/[tree id]
  * example: /trees/123
  * desc: show details for a single tree, show the tree point on the map at the same time.

* country page
  * path: /countrie

[2021-09-11 03:50] dadiorchen opened #109 "The spec for the server-side API"

[2021-09-11 03:56] dadiorchen opened #110 "MaterialUI theme"
Create the MaterialUI theme according to the design: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2497%3A11584

To set default: spacing, color, font, and so on. A reference: https://github.com/Greenstand/treetracker-wallet-web/pull/89

[2021-09-11 04:37] cpaule1811 commented on #104
Hello,

May I please be assigned this issue?

[2021-09-11 06:34] dadiorchen opened #111 "Upgrade Cypress and set up component tool"
Upgrade Cypress to the newest version, in the newest version, don't need to install react component/unit test separately. Set up the env to run the component test conveniently.

Reference: https://github.com/Greenstand/treetracker-wallet-web

[2021-09-11 10:00] sibteali786 commented on #110
The provided link is not working to figma design is not working

[2021-09-12 05:45] vishal5251 commented on #111
I'll work on it.

[2021-09-14 06:48] dadiorchen commented on #104
Hi, @cpaule1811 sure, please :)

[2021-09-14 06:51] dadiorchen commented on #104
And if you are interested to join our community, please leave you email here then I will send you a slack invitation :) we are a global team and targeted to solve the climate change and poverty problem

[2021-09-14 06:56] dadiorchen commented on #110
Sorry for the bad link and thanks for the reminder! Can you help to check it again?

[2021-09-14 07:01] dadiorchen commented on #111
Thanks @vishal5251 !

[2021-09-15 07:04] cpaule1811 commented on #104
Hi @dadiorchen ,

thank you I have raised the pr. That would be great. My email is charles.edwards1811@gmail.com

[2021-09-15 07:25] #104 closed

[2021-09-16 01:52] dadiorchen opened #117 "Add server side render feature to the project"
Because our new web map will look more like a website, with more context/content in the pages, is necessary to consider better SEO support, so we decided to use SSR in the app, the original idea is using Next.js, but any other suggestions are welcome! Please comment your thoughts here.

![image](https://user-images.githubusercontent.com/5744708/133535795-6aca335e-5942-40d9-9b75-cb881a2eafc0.png)

[2021-09-16 10:17] cpaule1811 commented on #117
Next.js is outstanding, so big yes from me.

[2021-09-16 13:03] gauraws commented on #105
Hi @dadiorchen Can I take this task please?

[2021-09-16 23:35] cpaule1811 commented on #101
Should Navbar also have hamburger menu button or dropdown for when the screen is small?

[2021-09-17 01:53] dadiorchen commented on #117
@cpaule1811 so, will you take this issue? :)

[2021-09-17 01:56] dadiorchen commented on #105
Sure! Thanks! @gauraws and you can check the readme and our engineering book: https://greenstand.gitbook.io/engineering/ there are some reminders for development.

[2021-09-17 03:39] #106 closed

[2021-09-17 03:46] dadiorchen opened #121 "Component for featured tree."
Build a good component of the slider for the featured tree.

https://www.loom.com/share/96334f0089f94eeeb068a80f72d8d8e3

---
Some hints for building components:
* Design resource: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2497%3A11584
* A tutorial of how to use the Cypress component tool to build components:
  https://github.com/Greenstand/treetracker-wallet-web#

[2021-09-17 03:53] cpaule1811 commented on #117
Sure :) So from Next version 11 onward (which is the current version) react must be version 17.0.2 or greater. However we can use Next v10.2.3 if we don't want to upgrade our react version. It also looks like we have to replace cypress react unit test(which is depracated) to cypress/react which is officially maintained by Cypress.

[2021-09-17 03:59] dadiorchen opened #122 "Build and deploy the new site project to dev env."
* Because we switched to next.js, the build and deployment would change, previously, we are single page app, and using creat-react-app, so it's about building with CRA and deploy to CDN (static files), now we need build with next.js, and need to deploy to I guess node.js server to handle page rendering.
* We need to do it in this branch `web-map-site` rather than `master`.
* Please ask in the slac

[2021-09-17 04:08] dadiorchen opened #123 "The /top page."
* Prerequisites: #103 #121
* To integrate the /top page, using mock API service.
* Write Cypress integration test cover this page. ( check the readme for the integration test guide)
* Check API document for API spec.
* Design resource: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2497%3A11584

<img width="1440" alt="Screen Shot 2021-10-19 at 4 57 48 PM" src="https://

[2021-09-17 10:46] gauraws commented on #105
Thanks @dadiorchen, I will start my work on it. Is there any mockup or UI template which I can use to create component? or how the component should look like? Please guide

[2021-09-17 13:28] gauraws commented on #105
Hello, it seems I am unable to run the project as I am working behind corporate firewall, some of module is not whitelisted. Thank you

[2021-09-18 02:19] dadiorchen commented on #117
Hi, @cpaule1811 so glad you can take this job, I think you are the right guy to take this big job, it's a bit complicated.  How about arranging a meeting for this, we need to discuss several things about the task?
Did you manage to join the slack? Also, other tools are okay for me.

[2021-09-18 02:23] dadiorchen opened #126 "Github Action to build the app failed."
https://github.com/Greenstand/treetracker-web-map-client/runs/3638163030?check_suite_focus=true
seems the node.js version is stale.
![image](https://user-images.githubusercontent.com/5744708/133869166-77554613-6e47-4f07-adfb-2a7715f98331.png)

[2021-09-18 02:23] dadiorchen commented on #126
Please rais PR to `master` branch.

[2021-09-18 02:26] dadiorchen commented on #105
Hi, here is our UI, and the readme also has some other useful info.
https://github.com/Greenstand/treetracker-web-map-client#ui-design-resource

[2021-09-18 02:28] dadiorchen commented on #105
What can I help on the network problem? Actually once you install all those npm module, you don't need outward connection to internet.

[2021-09-18 02:39] cpaule1811 commented on #117
I think a meeting would be a good idea. I haven't received an invite to the slack channel yet. My email is charles.edwards1811@gmail.com.

[2021-09-18 03:20] dadiorchen commented on #117
What's the good time for you to meet? what time zone you are in?

[2021-09-18 03:54] dadiorchen opened #127 "The /trees/{treeId} page"
The tree detail page.
* Prerequisites: #105 #104
* Please implement Cypress integration test for this page.
* Don't need to implement `impact` and `update comments` sections.
* UI/UX: https://www.figma.com/proto/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2497%3A9975&scaling=min-zoom&page-id=2497%3A9322&starting-point-node-id=2497%3A9975&show-proto-sidebar=1

https://www.loom.com/share/f26672

[2021-09-18 04:09] dadiorchen commented on #126
Maybe this is relevant: https://github.com/Greenstand/treetracker-admin-client/pull/156

[2021-09-19 10:11] jwgatt commented on #122
Could i be assigned to this?

[2021-09-19 12:31] jwgatt commented on #103
I can work on it.

[2021-09-19 23:26] dadiorchen opened #131 "Write test to cover all those edge cases for the /trees/{id} page"
* Prerequisites: #127
* A major case needed to test is that: the tree images have different cases, like the direction of photo, the ratio of pic, the definition/resolution of pic, we need to make sure, every case is fine to display on the page.
* Please refer to this file: https://github.com/Greenstand/treetracker-web-map-client/blob/web-map-site/src/components/SidePanel.cy.js

---
Some hints:
* P

[2021-09-20 01:36] #110 closed

[2021-09-20 02:16] dadiorchen commented on #122
@jwgatt that would be awesome! We still don't have volunteer for us to work on devops, for this job, I suggest you split it into two steps:
1. Just deploy our current code into dev env, please refer to our current workflow for master (this job is for `web-ma-site` branch), https://github.com/Greenstand/treetracker-web-map-client/tree/web-map-site/.github/workflows
2. When @CalDev98 finished the ne

[2021-09-20 02:20] dadiorchen commented on #103
@jwgatt sure, please give me you email, and for the design resource, there are also some guide in the readme: https://github.com/Greenstand/treetracker-web-map-client#ui-design-resource

[2021-09-20 03:09] dadiorchen opened #132 "The /planters/{planterId} page"
* Implement the /planters/{id} page.
* Write integration test to cover the page, check the [guide](https://github.com/Greenstand/treetracker-web-map-client#test) of int test.
* The UI: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2497%3A11031
* Prerequites: a common component in this page, check video below.

https://www.loom.com/share/547c1e48753648739ad0dc7a376ded6

[2021-09-20 03:33] dadiorchen opened #134 "The /organizations/{id} page"
* Implement the /organization/{id} page.
* Write integration test to cover the page, check the [guide](https://github.com/Greenstand/treetracker-web-map-client#test) of int test.
* The UI: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2497%3A10221
* Prerequites: a common component in this page, check video below.
* These API might be needed: check video below.

https:

[2021-09-20 04:40] cpaule1811 commented on #117
Hi @dadiorchen,

I have completed most of the transition, however there has been a few integrations issues I have encountered with Cypress and the Logo component. How should we move forward with this? I don't have much experience with Cypress but I'm happy to try and fix it before doing a pr.

[2021-09-20 06:47] dadiorchen commented on #117
@cpaule1811 don't hesitate to raise PR, if you didn't finished yet, just open a draft PR.
I think it's fine with those Cypress test, we can fix them later.

[2021-09-20 06:48] dadiorchen commented on #117
![image](https://user-images.githubusercontent.com/5744708/133965136-fc274722-6dc4-4c77-a72e-a09546847e74.png)

[2021-09-20 11:36] tranquanghuy0801 commented on #85
![Screenshot 2021-09-20 at 21 35 14](https://user-images.githubusercontent.com/29462498/133995893-c08f5162-6212-41f9-bf16-c1714a82b263.png)
@dadiorchen, looks like this issue has been fixed

[2021-09-21 01:11] #126 closed

[2021-09-21 01:16] dadiorchen commented on #85
But it is still problematic, #108
@kparikh9 is working on another issue related to tile server, so if you can take it, would be fantastic.

[2021-09-21 01:24] tranquanghuy0801 commented on #85
@dadiorchen yes, I will have a look at this issue later

[2021-09-21 06:11] jwgatt commented on #103
Email is ***@***.***

El lun, 20 sept 2021 a las 4:20, Dadiorchen ***@***.***>)
escribió:

--
Kind regards,
Jonathan.

[2021-09-21 09:48] jwgatt commented on #122
So should we edit the .yml files in web-ma-site so that they are compatible with the Next.js framework?

[2021-09-21 13:37] jwgatt opened #138 "Getting a TypeError when running npm start"
Web-map-client wont compile

Steps to reproduce the behavior:
Run npm start in the root folder

![image](https://user-images.githubusercontent.com/79326421/134180663-459d72f7-e7c0-4e40-bc0e-31d62a9aad8f.png)

**Expected behavior**
I expected the client to run locally on my machine.

Ubuntu 20.04
Linux
Chromium 93.0 / Firefox 92.0

[2021-09-22 01:57] dadiorchen commented on #103
@jwgatt we will contact you by email!

[2021-09-22 01:59] dadiorchen commented on #122
Do you mean edit the existing action file? I think we should make a new one against the `web-map-site` branch.
As for the next.js, I need your advice on how to deploy it to next.js, @CalDev98 it should be a node.js process running on the server side, right?

[2021-09-22 02:09] dadiorchen commented on #138
This is about, .env settings, https://github.com/Greenstand/treetracker-web-map-client/blob/web-map-site/.env
the third config failed to load. Don't know why

[2021-09-23 01:27] dadiorchen commented on #11
I think to add the `powered by Greenstand` into the logo, there are to approach:
1. Re-upload all logo with `powered by Greenstand` this is no-code solution, and bring most beautiful appearance.
2. Add an extra part below the current logo

[2021-09-23 01:28] dadiorchen commented on #11
I guess No.2 kind of like this design and put the customized logo above it.
![image](https://user-images.githubusercontent.com/5744708/134442521-040eebf0-c18d-4279-bd99-8c53deee47fa.png)
https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71

[2021-09-23 01:30] dadiorchen commented on #11
@ZavenArra

[2021-09-23 01:35] dadiorchen commented on #11
We should add a logo frame with the text `powered by Greenstand` and put the customized log in it, right? And the frame has fixed with and height, @ZavenArra

[2021-09-23 02:20] dadiorchen opened #139 "Clean up the code"
To remove some useless file like: map.js

[2021-09-23 07:51] dadiorchen opened #143 "Set up prettier to auto-format the code when commit."
Refer to https://github.com/Greenstand/treetracker-wallet-web

[2021-09-23 08:39] #102 closed

[2021-09-23 11:17] jwgatt commented on #138
Deleted the repo, re-cloned it from source and it works fine now.

[2021-09-23 11:17] #138 closed

[2021-09-23 21:48] #101 closed

[2021-09-23 21:50] #100 closed

[2021-09-24 00:31] mmayeda commented on #11
I've started working on this

[2021-09-24 03:22] dadiorchen opened #148 "Fix command of cypress"
Now it doesn't work:
[code]
The command is mentioned in readme, but don't work.https://github.com/Greenstand/treetracker-web-map-client
refer to : https://github.com/Greenstand/treetracker-wallet-web/

[2021-09-24 06:20] himanshu007-creator commented on #148
Hi, I would like to work on this issue. Please guide me further

[2021-09-24 06:27] #139 closed

[2021-09-24 06:44] dadiorchen commented on #148
@himanshu007-creator thanks, the task is to add these two command into the package.json, and make sure it works, you can check the reference, https://github.com/Greenstand/treetracker-wallet-web#how-to-build-components what we need here is the same as this repo

[2021-09-24 08:38] cpaule1811 commented on #148
By adding the below code to cypress/plugins/index.js you can run components tests with npx cypress open-ct
![plugins](https://user-images.githubusercontent.com/80873472/134644633-d6221303-79b2-4afb-b1dd-24079681d7d5.PNG)

not sure how to make that work with npm run cyu.

[2021-09-24 12:29] jwgatt commented on #148
@dadiorchen what error are you getting when trying to run `npm run cyu`?

[2021-09-25 01:41] dadiorchen commented on #148
I don't remember, just let's make sure they work, @cpaule1811 npx will run the newest version of Cypress I guess, if you put the command in package.json, it would run the command installed into the project according to the dependency section.

[2021-09-25 08:10] dadiorchen opened #151 "Should show the map view correctly"
Now the home page didn't show the map view correctly, check screenshot below:

Actually, the leaflet map view is bigger than what we are seeing, cuz we can not see the zoom control panel, which I guess is out of the browser window.

![image](https://user-images.githubusercontent.com/5744708/134764280-923618ad-9ad9-4d85-83ca-f208252cfbfd.png)

---
Some hints:
* Please read our [readme](https://gith

[2021-09-26 08:21] danp2392 commented on #151
Hello, I would like to contribute to this issue please

I think there are two issues here?
1. The header and left info bar do not show on the live website
2. The map is out of bounds

Is this correct?

[2021-09-26 22:12] dadiorchen opened #152 "The cluster highlight icon is displaying incorrectly"
**Describe the bug**
The cluster highlight icon is displaying incorrectly, it might be because of some CSS problem.

**To Reproduce**

https://user-images.githubusercontent.com/5744708/134825876-03c80a97-1e18-44ae-aefb-b57b021f3c90.mov

[2021-09-27 01:19] dadiorchen opened #153 "Build API for tree/planter country"
Currently, we don't have the API to show the country of the location, like for a tree and planter.
We need build a API to fetch the country (it would be better if we can also get the city or province in the country like the picture shows)

<img width="1440" alt="Screen Shot 2021-09-27 at 9 17 21 AM" src="https://user-images.githubusercontent.com/5744708/134831932-1b008f91-54e1-4dfa-8bc3-78d6230810

[2021-09-27 01:24] dadiorchen commented on #153
Some thoughts:
* This API should be provided by https://github.com/Greenstand/treetracker-web-map-api , so please folk that repo, and also, we can find some database(PostgreSQL) details in that repo.
* Check the `region` table, there might be some useful stuff to support this API, like some district geography info by which we might be able to locate the lat/lon.

[2021-09-27 01:38] dadiorchen commented on #151
Yes, I guess the major problem is that the leaflet map object is set inappropriate, so it doesn't fit the current map view on the right, if you use devtool to inspect the map object in the browser, you will find it is bigger than the map container( the right half of the screen)

Please read the readme for more info, and if you use discord, you can find me here https://discord.gg/wUZPnnMB and chat

[2021-09-27 02:45] dadiorchen commented on #127
I'm on it

[2021-09-27 03:02] dadiorchen opened #154 "Badge component."
Please put this component to `common` folder for future reuse.
This component should have status: enabled, the picture below shows the status: enabled=true, when enabled=false, the component should be in gray color indicating that the tree doesn't have this Badge yet.
<img width="1440" alt="Screen Shot 2021-09-27 at 10 58 26 AM" src="https://user-images.githubusercontent.com/5744708/134839348-8e51

[2021-09-27 03:51] dadiorchen opened #155 "Created-time component"
* File location: components/common/ folder
* Props: javascript Date object.
* Output, see UI below (in the red rectangle):
<img width="1440" alt="Screen Shot 2021-09-27 at 11 49 40 AM" src="https://user-images.githubusercontent.com/5744708/134842945-3de009c6-a52b-4127-9133-59e46eb9c565.png">

---
Some hints for building components:
* Design resource: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq

[2021-09-27 03:56] dadiorchen opened #156 "Location component"
* File location: components/common/ folder
* Props: coordinates, lat & lon
* Output, see UI below (in the red rectangle):
<img width="1440" alt="Screen Shot 2021-09-27 at 11 54 13 AM" src="https://user-images.githubusercontent.com/5744708/134843226-e5bb7cb1-1990-4b65-8e0d-a125d6fe21d8.png">
* API: will use the API created by #153 please mock the API if it is not ready yet.

---
Some hints for buil

[2021-09-27 05:32] ozer619 commented on #156
Hi, I'm new to opensource and react but I would like to work on this issue.

[2021-09-27 05:43] ozer619 commented on #156
I am getting this error when I tried to do npm install:
notsup Unsupported platform for fsevents@1.2.13: wanted {"os":"darwin"} (current: {"os":"linux","arch":"x64"})

[2021-09-27 07:02] dadiorchen opened #157 "Figure out how to mock API request in next.js"
We need to figure out how to set up next.js, so we can test pages with mock API data.
For the integration test in https://github.com/Greenstand/treetracker-wallet-web it's easy to write integration test against pages/paths, by using Cypress `intercept` API, cuz the API request is fired by client page, so we just simply intercept the API and return mock data.
But for next.js, we render some part of

[2021-09-27 07:08] dadiorchen commented on #157
Some clues:
This https://glebbahmutov.com/blog/mock-network-from-server/ is talking about move the next process into Cypress process (as subprocess), this is a good idea, but this only problem I think is that: can we easily write test by automatically update the next process, I mean, when we run the test and making changes in code, say, change some code for the SSR, then can we make the test re-ru

[2021-09-27 07:35] dadiorchen opened #158 "A flash glitch when open the home page of the built nextjs site."
**Describe the bug**
When open the built nextjs site, there is a flash blank page before the real home page loaded

**To Reproduce**
1. Build the project: npm run build
1. Run the next production server: npm start
1. Open localhost:3000

**Screenshots**

https://user-images.githubusercontent.com/5744708/134864350-62433dc9-1c36-47a3-8986-27589dce4219.mov

[2021-09-27 07:36] dadiorchen commented on #158
@cpaule1811 any idea?

[2021-09-27 07:49] dadiorchen commented on #157
Or we can consider leverage some things from nextjs API  https://nextjs.org/docs/api-routes/api-middlewares

[2021-09-27 07:55] dadiorchen opened #159 "rename the `integration` under `Cypress` to `tests`"
![image](https://user-images.githubusercontent.com/5744708/134867106-01a57445-b2d7-42fd-901b-079fdc62ee9e.png)

[2021-09-27 08:17] danp2392 commented on #151
Can you assign this issue to me

Thanks

[2021-09-27 08:48] dadiorchen commented on #156
Oh, that's weird, what's the OS you are using? How about delete package-lock.json then try again? You can open a issue on this if there still is problem

[2021-09-27 08:52] dadiorchen commented on #151
So glad you can help us!

[2021-09-27 08:54] #158 closed

[2021-09-27 08:58] dadiorchen commented on #159
The default folder for Cypress to find all tests is `integration` could we find a settings for this to change it to another folder name?

[2021-09-27 09:16] danp2392 commented on #151
Thanks, I have messaged you on discord :)

[2021-09-27 10:13] ozer619 commented on #156
@dadiorchen I'm currently using the latest stable version of ubuntu also after deleting the lock file I get this error:

[code]

[2021-09-27 10:13] ozer619 commented on #156
Is it some problem from my side?

[2021-09-28 01:03] dadiorchen commented on #156
Thanks!

[2021-09-28 04:59] ozer619 commented on #156
**Describe the bug**
The project crashes when we execute npm install on Ubuntu 20.04.3 LTS .

**To Reproduce**
Steps to reproduce the behavior:
(we recommend record a screenshot to show the case, like using http://loom.com to record)

**Expected behavior**
Should install all the dependencies but gives this error:
[code]
After deleting the package-lock.json and re-executing npm install:
[code]

**

[2021-09-28 19:54] danp2392 commented on #152
Hi, I would like to take a look at this issue.

[2021-09-29 02:16] dadiorchen opened #164 "Can not run the project on ubuntu!"
**Describe the bug**
The project crashes when we execute npm install on Ubuntu 20.04.3 LTS .

**To Reproduce**
Steps to reproduce the behavior:
(we recommend record a screenshot to show the case, like using http://loom.com to record)

**Expected behavior**
Should install all the dependencies but gives this error:
[code]
After deleting the package-lock.json and re-executing npm install:
[code]

**

[2021-09-29 02:19] dadiorchen commented on #156
@ozer619 I send you an invitation by your gmail so you might be able to do it in the future, and I opened this issue for you, I will take some time to run it in my ubuntu docker later, we will help you figure it out! And it's also necessary to make it working on ubuntu, our prod env is using it.

[2021-09-29 02:38] dadiorchen commented on #152
@danp2392 this issue just jumps out when we switch to the new site version(next.js), so for a reference, you can check out the `master` branch, where the highlight icon is working correctly.

Another thing, our tile server on dev env is breaking for some reason, our devops team is working on it.

[2021-09-29 03:20] #127 closed

[2021-09-29 03:26] dadiorchen opened #165 "Can not visit trees/id directly"
http://localhost:3000/trees/1

It's working to jump to this page by home page ---click--> top page ---click---> trees/1 , but can not open it directly in the browser, this is because in this way, the map context still isn't ready when try to manipulate the map object.

[2021-09-29 03:28] dadiorchen commented on #165
![image](https://user-images.githubusercontent.com/5744708/135198206-d159a414-b38b-4fa4-9764-813be6171b32.png)

[2021-09-29 03:33] dadiorchen opened #166 "Find a good way to mock the api server."
Currently, I'm using Postman's mock server for this, but they have visit limitation for free account, and I'm also thinking it might be better if we can integrate this service into the project, so we can run the mock service locally, the requirements:
* Can generate the code of mock service according to the openAPI spec.
* Can build an almost real case, like trees/1 and trees/2 will return differe

[2021-09-29 03:34] dadiorchen commented on #166
Some clue: https://github.com/stoplightio/prism

[2021-09-29 03:56] dadiorchen commented on #166
https://nextjs.org/docs/api-routes/introduction

[2021-09-29 04:33] ozer619 commented on #156
Thanks!! @dadiorchen I'm really looking forward to contributing to this repo.

[2021-09-29 04:43] jamalvarez commented on #165
@dadiorchen  I have created a PR for this: #167

Might be too simplistic? is there any concern with map object being updated and causing that code to be executed more than needed?

[2021-09-29 06:52] dadiorchen commented on #165
I will applause simplicity rather than complain about it :D , please see my comment on the PR

[2021-09-29 08:26] #151 closed

[2021-09-29 08:34] dadiorchen commented on #148
I found somthing:

https://www.cypress.io/blog/2021/04/06/cypress-component-testing-react/

[code]

Generally, we need to do some extra work to make the Cypress component tool work on next.js

[2021-09-29 08:40] dadiorchen opened #169 "Force the prettier to format the code when commit"
Refer to: https://github.com/Greenstand/treetracker-wallet-web/issues/48
https://github.com/Greenstand/treetracker-wallet-web/pull/63

---
Some hints:
* Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
* Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
* To know more about

[2021-09-29 09:11] danp2392 commented on #152
Yes I notice that the tile does not work on local host?
![image](https://user-images.githubusercontent.com/23002612/135239190-7fa5f9f6-5e07-46b0-92a7-eff18da70675.png)

[2021-09-30 01:47] dadiorchen commented on #153
some finding: https://stackoverflow.com/questions/6159074/given-the-lat-long-coordinates-how-can-we-find-out-the-city-country

[2021-09-30 02:10] dadiorchen commented on #152
@danp2392 our cloud engineering team is tuning the kubenates, so the dev env was temporarily down, you can switch to test env for a work around:
![Uploading Screen Shot 2021-09-30 at 10.08.54 AM.png…]()

[2021-09-30 02:18] #165 closed

[2021-09-30 07:11] #166 closed

[2021-09-30 17:12] danp2392 commented on #152
Thanks, I will take a look at it

[2021-10-01 03:51] dadiorchen opened #173 "Set the theme for component building tool."
`npm run cyu` to build the component, but the theme of MatieralUI is missing, we need to find a convenient way to create the case for component building, to include the theme in the cy.js

As we discussed in this thread: https://github.com/Greenstand/treetracker-web-map-client/pull/171#issue-1011855945
---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-c

[2021-10-01 03:53] dadiorchen commented on #152
@danp2392 are you in our community on slack?

[2021-10-01 08:51] danp2392 commented on #152
No, can you add me?

[2021-10-01 09:00] cpaule1811 commented on #173
So we can just mount the ThemeProvider in every component test but perhaps there is a better way.

[2021-10-01 09:01] dadiorchen commented on #152
Sure, please send me your email by dadiorchen@outlook.com or just leave it here. I will add you

[2021-10-01 09:41] danp2392 commented on #152
I sent you an email
Thanks

[2021-10-01 18:44] danp2392 commented on #152
Hello,

I have added the CSS code to make the clusters highlight
![image](https://user-images.githubusercontent.com/23002612/135671109-3ddc0577-1ce4-4a7b-82ff-3c42c050d5ea.png)

![image](https://user-images.githubusercontent.com/23002612/135671238-9fc2590a-6023-4002-9cc4-3e23bcc2905a.png)

Is this ok to commit?

[2021-10-01 20:14] jwgatt commented on #148
Great, I'll look into it.

El mié, 29 sept 2021 a las 10:34, Dadiorchen ***@***.***>)
escribió:

--
Kind regards,
Jonathan.

[2021-10-01 22:10] QuaidBartolomei commented on #148
`npm run cy` does not work for me at all, possibly related to #157.

Here's the error I received when using `npm run cyu`:

[code]

I was able to get `npm run cyu` to work with the following two changes:

First I changed line 142 in MapTools.js to this to remove the reference to the unassigned google object.
[code]

Then, I added this mock google object to the top of mapTools.cy.js:
[code]

now `n

[2021-10-01 23:06] QuaidBartolomei commented on #164
This same error occurs on Ubuntu v16.04 LTS as well with npm v14 and v16. Switching to npm v12 seems to get around the issue. I will continue working on this to get npm v16 able to install the dependencies without the package-lock

[2021-10-02 18:40] mrtillman commented on #75
@dadiorchen @michaltrunek

so, how do I reproduce this error?

I've loaded test.treetracker.org, but I do not see the `XML Parsing Error` shown in the screenshot.

[2021-10-02 18:54] mrtillman commented on #75
I can start on this one

[2021-10-02 19:09] mrtillman commented on #75
@michaltrunek @dadiorchen

do we control the code that defines https://treetracker-map-features.fra1.digitaloceanspaces.com?

I ask because the `/freetown_catchments.geojson` resource does not return a `Content-Type` header. as a result, Firefox assumes the response content is XML and chokes when trying to parse the JSON as XML. see more details about this [here](https://stackoverflow.com/question

[2021-10-02 22:03] markusiq commented on #155
Hello, can i work on this please?

[2021-10-02 22:52] mrtillman commented on #159
@dadiorchen - hey I will work on this one. thanks.

[2021-10-03 00:56] dadiorchen commented on #148
@QuaidBartolomei when you run the tool, you should be able to find a new GUI showing up to list all components in the project, you are using docker container? so you can not find the pop-up window?

[2021-10-03 01:07] dadiorchen commented on #75
@ZavenArra can you give me the details of the geojson for Freetown, like the cloud setting up, we might need to do so adjustment.

[2021-10-03 01:09] #159 closed

[2021-10-03 08:45] QuaidBartolomei commented on #148
@dadiorchen The GUI is not showing up for me. I am not currently using docker, should I be?

[2021-10-03 09:16] YassinHussein commented on #121
I would like to work on this

[2021-10-03 17:00] jwgatt commented on #169
This is the current behavior, if i'm not mistaken. I checked on my machine and it worked.
Here is the relevant PR  [#146](https://github.com/Greenstand/treetracker-web-map-client/pull/146/files)

[2021-10-03 19:35] markusiq commented on #155
can you please assign me to this issue ?

[2021-10-03 22:11] QuaidBartolomei commented on #164
The problem was with the existing yarn.lock file. The project installs fine with node 16 after deleting node_modules/, package-lock.json and yarn.lock. Is the yarn.lock file being used? If not we should delete it.

[2021-10-04 01:00] dadiorchen commented on #148
Maybe there is problem on ubuntu? Please check the video: https://www.loom.com/share/c750be68ecec4a9b99cb6921d2d2e041 skip to 2:15 min

I assume Cypress support ubuntu: https://docs.cypress.io/guides/getting-started/installing-cypress#System-requirements ?

You guys work is important for us, we need to make Cypress working on ubuntu, we need our CI to run on it.

[2021-10-04 01:02] dadiorchen commented on #148
It turns to tricky running Cypress in docker, because the cy will start some GUI, but it's difficult to redirect the window system in docker.

[2021-10-04 01:06] dadiorchen commented on #169
Yes, we can close it now

[2021-10-04 01:07] dadiorchen commented on #155
@markusiq sure!  Are you in the slack communitiy? If you want please leave you email!

[2021-10-04 01:09] dadiorchen commented on #164
@QuaidBartolomei thanks, can you raise a PR for this? you can simply delete the old one, and upload the new one, we will align with yours.

[2021-10-04 01:10] #164 closed

[2021-10-04 06:58] QuaidBartolomei commented on #148
The issue I was having came from using WSL. Cypress is a linux GUI app which required some extra steps to work with WSL. Now the integration test GUI is showing up properly with `npm run cy` and `npm run cyu`. If anyone else is using WSL you can get cypress to work with this guide [https://dev.to/nickymeuleman/using-graphical-user-interfaces-like-cypress-in-wsl2-249j](url). A key part not mentione

[2021-10-04 14:07] jwgatt commented on #122
Does this still need to be completed? It seems like the workflow files have been updated.

[2021-10-04 16:34] markusiq commented on #155
sure! my mail: mark.berty.berta@gmail.com

[2021-10-04 21:17] mrtillman commented on #143
@dadiorchen @jwgatt - this one is completed, no?

[2021-10-04 21:23] mrtillman commented on #105
@gauraws - hey Guarav are you still working on this?

[2021-10-04 21:25] mrtillman commented on #105
@dadiorchen - let's see what @gauraws says, but if he is still blocked by the network issue, then I could work on this one.

[2021-10-04 21:32] mrtillman commented on #87
I don't understand.
What is the problem?
Is this a code change?

[2021-10-04 21:34] jwgatt commented on #143
@mrtillman Yes.

[2021-10-04 21:36] mrtillman commented on #86
@dadiorchen - hey, I would like to work on this one. thanks!

[2021-10-05 01:59] dadiorchen commented on #148
@QuaidBartolomei awesome! Could you please add this to someplace in the readme as a troubleshooting or like? It would be very helpful for us, as far as I know, some other guys use Linux on windows too. @kparikh9

[2021-10-05 02:04] dadiorchen commented on #122
Yes, it is, but I have no idea how to implement it, you know, we are in two branch, master and web-map-site, the former is running on the prod, so the problem is how to maintain the master and deploy the second one to dev env too, also the new branch will use a new way to deploy the app based on next.js, the master is based on react.

[2021-10-05 02:05] dadiorchen commented on #122
Any suggestion?

[2021-10-05 02:15] dadiorchen commented on #87
@mrtillman this does not require coding, I'm not sure it's still valid, and I'd better freeze this issue for a while by taking it with `icebox`.

[2021-10-05 02:18] #143 closed

[2021-10-05 02:20] dadiorchen commented on #86
@mrtillman great, this one concerns backend, DB, and so on, so if you are stuck by any permission trouble, just let me know

[2021-10-05 02:41] mrtillman commented on #86
@dadiorchen - actually, I'm not able to reproduce this locally:

![0000](https://greenstand.surge.sh/dev-map-treetracker-org-userid.png)

the code for the `treetracker-web-map-client` repo does not match https://map.treetracker.org:

## map.treetracker.org:

![0001](https://greenstand.surge.sh/prod-map-treetracker-org.1.png)

## localhost:3000 (treetracker-web-map-client):

![0002](https://greenst

[2021-10-05 02:53] dadiorchen commented on #86
Yes, the main problem about this is to reproduce the case, let's talk on slack.

[2021-10-05 03:13] mrtillman commented on #86
https://github.com/Greenstand/treetracker-web-map-api

https://github.com/Greenstand/node-mapnik-1

[2021-10-05 04:03] gauraws commented on #105
Hi, I could not work on this as I am not able to download required modules due to corporate firewall. I apologies for not informing earlier

[2021-10-05 05:06] mrtillman commented on #105
@gauraws - ok, no problem. I'll see if I can make any progress on this task.

[2021-10-05 09:25] sebastiangaertner opened #177 "On the existing map.treetracker.org we need to display the Date in a better format"
Currently displayed in the american format we need to change the format to "EEE, d MMM yyyy"

[2021-10-06 00:13] dtabarini commented on #177
<img width="468" alt="Pasted Graphic" src="https://user-images.githubusercontent.com/36649892/136120852-4e4993a0-2cfa-41b6-b789-3c4e6c694243.png">

Are you referring to the date here?

[2021-10-06 00:19] QuaidBartolomei commented on #157
I will work on this.

[2021-10-06 02:32] dadiorchen commented on #177
@dtabarini please use the `master` branch to work on, because `web-map-site` is for the new UI

[2021-10-06 02:35] dadiorchen commented on #157
Yes, this issue is about finding a good way to mock the data in tests, so we don't rely on external service including the `mock-server`. For client side render, it's easy to do it through `cy.intercept` but it's a bit hard to do it on the case of SSR, do you have any idea?

[2021-10-06 02:42] #148 closed

[2021-10-06 02:54] QuaidBartolomei commented on #157
Ok I understand now. I will work on a solution based on the blog post you shared.

[2021-10-06 03:04] mrtillman commented on #105
https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=1830%3A471

[2021-10-06 04:31] mrtillman commented on #105
`src/common/TreeAge.js`

<img src="https://truthful-arithmetic.surge.sh/tree-age-component.png" width=300 />

[2021-10-06 06:05] #105 closed

[2021-10-06 11:53] jwgatt commented on #122
Seems like workflow files are only picked up from master
https://stackoverflow.com/questions/63480433/how-to-run-a-github-action-from-a-branch-other-than-master

[2021-10-07 00:23] QuaidBartolomei commented on #157
@dadiorchen I tested the example in the blog post you shared. This method will auto-reload the tests when developers make any frontend changes (i.e. changes to a component). If changes to the Nextjs api (i.e. changes to a getServerSideProps function) are made then the cypress tests must be manually rerun with the refresh button inside the cypress browser window. This doesn't seem so bad to me, sho

[2021-10-07 03:32] dadiorchen commented on #122
I noticed on the Github, we can chose a branch?
<img width="1440" alt="Screen Shot 2021-10-07 at 11 31 05 AM" src="https://user-images.githubusercontent.com/5744708/136316047-1bffe72b-7ae1-479f-accb-a1dc9203769f.png">

[2021-10-07 03:33] dadiorchen commented on #122
And I think it's also acceptable if we add some new workflow into the master branch, but it's for deploying `web-map-site`, right?

[2021-10-07 03:54] dadiorchen opened #179 "Grammar problem"
Grammar problem, when we run wallet web repo that are using web map client repo, will throw this error:
<img width="1440" alt="Screen Shot 2021-10-07 at 11 52 12 AM" src="https://user-images.githubusercontent.com/5744708/136317542-0a4cbeb9-8d20-46c6-b020-f1f1206fac92.png">

[2021-10-07 04:39] QuaidBartolomei commented on #157
I implemented code-watching and next api mocking. Now integration tests (cypress open) can be run without `npm run dev` and without `npm run mock-server`. Any changes to files in the 'src' directory while cypress is running will restart the tests.

[2021-10-07 20:39] QuaidBartolomei commented on #173
After doing some searching I found the recommended solution on the @cypress/react github page: [https://github.com/cypress-io/cypress/blob/master/npm/react/docs/providers-and-composition.md](https://github.com/cypress-io/cypress/blob/master/npm/react/docs/providers-and-composition.md)

Basically they suggest replacing the `mount()` function with a custom function like this:
[code]

[2021-10-07 22:35] cpaule1811 opened #181 "Link passing Href to a tag"
Next Link component won't always generate html a tag as child. This is needed for web crawlers to pick up the website for better SEO.

The current code

<Link href="/" passHref>
         <Button className={classes.buttonStyle} variant="text" component="a">
            Contact Us
        </Button>
</Link>

![without a tag](https://user-images.githubusercontent.com/80873472/136471010-25d56be2-61ba-4

[2021-10-08 01:00] QuaidBartolomei commented on #181
Here is a Link component used in Material-UI's with-nextjs example: [https://github.com/mui-org/material-ui/blob/v4.x/examples/nextjs/src/Link.js](https://github.com/mui-org/material-ui/blob/v4.x/examples/nextjs/src/Link.js).

I tested it out and it uses an anchor tag, I will submit a pr with it implemented.

[2021-10-08 04:06] mrtillman commented on #18
@dadiorchen - hey, I would like to do this one.

[2021-10-09 01:35] dadiorchen opened #182 "Upgrade the node.js to 16"
Set the project to use node.js v16 by default. and test it works well in aspects:
* the app: npm start
* the cypress integration: npm run cy
* the cypress component tool: npm run cyu
* the test: npm test (there might be some broken tests now, it's fine, just make sure jest can run on the 16)

ref: https://github.com/Greenstand/treetracker-admin-api/pull/595
---

Some hints:

- Please read our [rea

[2021-10-09 02:00] #181 closed

[2021-10-09 02:36] dadiorchen opened #184 "Guide about Cypress integration test."
Revise the guide for the cypress test section:  https://github.com/Greenstand/treetracker-web-map-client#to-run-cypress-integration-test
* How to run the test ( we now don't need to run `npm start` anymore right?)
* Brief intro of how does it work.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tuto

[2021-10-09 03:07] QuaidBartolomei commented on #184
Ok I will add some more details and include information on new features that I have added. In the future I will include a readme update with new feature PR as necessary.

[2021-10-09 04:40] cpaule1811 commented on #134
I will take this issue if that's alright.

[2021-10-10 00:44] QuaidBartolomei opened #187 "Jest (npm run test) fails react-scripts preflight check"
the command `npm run test` currently produces this error for me. It seems that CRA v3 depends on older versions of webpack, webpack-dev-server, babel-loader, and html-webpack-plugin.

[code]

- OS: Ubuntu 16
- Node: v16.11

[2021-10-10 00:56] mrtillman commented on #18
@dadiorchen - here is another demo, this time using the Leaflet library: https://curious-birth.surge.sh/main.html

so, I think it is possible to remove the place names, but I am having a very hard time getting this to work in the Treetracker app. the Treetracker code is not written like the Leaflet sample code, and the Treetracker app doesn't behave the same way.

I've also been researching [Leafl

[2021-10-10 03:19] QuaidBartolomei commented on #182
I have not encountered any issues while using Node@16.11.0. We can add this to package.json to produce a warning when using `npm install` with incorrect Node version
[code]

[2021-10-11 01:48] #173 closed

[2021-10-11 02:02] dadiorchen commented on #18
Great! You made some real progress I think, just catch me on the slack we can co-work on this, and don't hesitate to raise new PR even though it doesn't work, so I can fetch your code and try it locally, you can create new PR with `draft` status, it's for code review that is still in progress, and also a good way to co-work and discussion!

[2021-10-11 06:33] QuaidBartolomei commented on #131
We could load the images locally with `cy.fixture()`. I was able to get the local image to display with this code:
[code]
 Should I just use the same test images from SidePanel.cy.js or do we need different test cases for this?

[2021-10-12 08:52] #182 closed

[2021-10-12 09:45] dadiorchen commented on #90
It's duplicated issue with: https://github.com/Greenstand/treetracker-web-map-client/issues/70
@mrtillman are you on it?

[2021-10-13 00:05] QuaidBartolomei commented on #131
@dadiorchen this example is using an object url which references a local memory address instead of holding an encoded image string. The url ends up looking like this `blob:http://localhost:3000/e89d647d-894d-411c-bf06-de1d9ced9a0d`

[2021-10-13 02:50] #111 closed

[2021-10-13 20:12] ojafero commented on #156
Are you still working on this ozer619?

[2021-10-13 20:28] ozer619 commented on #156
Hi @ojafero I'm really really sorry I almost forgot about this Pr can you give me some time maybe 1 or 2 days I wanna try it out lowering my npm version and working on it .

[2021-10-14 02:48] dadiorchen opened #199 "Weird Korean words on the map"
Don't know if it's machine-specific or browser-area-specific problem.

My computer is MacOS, Chrome, and the area is China but the system language is English.

The URL: https://map.treetracker.org/?&bounds=-25.091743469238285,-11.844166983148572,101.47075653076173,22.777764255287394

<img width="1440" alt="Screen Shot 2021-10-14 at 10 44 43 AM" src="https://user-images.githubusercontent.com/574470

[2021-10-14 02:49] dadiorchen commented on #199
Please checkout the `master` branch to work with

[2021-10-14 02:54] dadiorchen commented on #199
@mrtillman did you encounter a problem like this?

[2021-10-14 04:41] ozer619 commented on #156
Thanks @QuaidBartolomei I will be working on this issue now can someone assign me this issue?

[2021-10-14 09:03] dadiorchen opened #201 "Format the lat/lon coordinates value."
Can we change the format of the Lon and Lat as well. Its way too long. We should really just need 6 digits since that is already 10cm accuracy. No need to show more than that.

Note:
* Please create a util function for reuse.
* Please work on the branch: `master`

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more informa

[2021-10-14 22:43] QuaidBartolomei opened #203 "Clear all formatting (eslint / prettier) warnings."
Husky is now set up to format staged files during pre-commit (#200). We will need a clean slate to start from so all formatting errors/warnings currently present in the project need to be resolved.

[2021-10-14 22:44] QuaidBartolomei commented on #203
I will be working on this.

[2021-10-14 23:24] QuaidBartolomei commented on #187
We are no longer using react-scripts or CRA so this test script needs to be changed. I can work on this

[2021-10-15 01:36] #156 closed

[2021-10-17 07:37] QuaidBartolomei opened #205 "Navbar component unit test does not render"
Opening the Navbar component in cypress component tests causes this error:
[code]
This is because of the new Link component (#183) using next/router which is not being properly mocked in cypress. Might be fixable with this: [https://github.com/cypress-io/cypress/commit/2b3b1c43d46aaf22d9a26ee16d286d47d99c0d52#diff-23044c563f1173db6464d127497c342c8f7f90722764a37749681bf455a515e0](https://github.com

[2021-10-18 23:26] QuaidBartolomei commented on #205
I will work on this

[2021-10-19 03:16] #121 closed

[2021-10-19 08:27] dadiorchen opened #209 "Wrong font family in the home page"
Set the correct font family according to the design file.

* Consider if it's necessary to set it in the MaterialUI theme, so we can make it the default font (no need to bother to set it everytime)
* Maybe we need to download the font from google font library? what's the best way to deal with this thing, I mean, a good way to let the client browser to support any font-family even they don't have t

[2021-10-19 08:32] dadiorchen opened #210 "Refine the UI/CSS on the home page"
We need to refine the home page to almost the same as the design, now there are still some flaws in details such as, the font size, weight, spacing.

This issue requires someone who is familiar with CSS so can make the UI perfect.

The design:
![image](https://user-images.githubusercontent.com/5744708/137872785-dfe95c55-6231-4bdb-8dfc-882aa61d193d.png)

Our implementation:
![image](https://user-im

[2021-10-19 08:46] dadiorchen opened #211 "The filter component"
To build a filter component according to the design below, please note:

* Put this component into the `common` folder.
* No need to implement the logic of this one, just the component.
* The planted between are two date-picker component, please implement the date-picker and the basic logic to select a range of dates. (can use the build-in date-picker component in MaterialUI)

<img width="1440" al

[2021-10-19 08:52] dadiorchen opened #212 "Move the current timeline feature to the new filter component"
We already have the function of timeline, check the code in `master`, now we need to move the component of the timeline (on the bottom left corner) to the filter component and also move the logic into the new place.

The prerequisite of this issue: #211

<img width="1440" alt="Screen Shot 2021-10-19 at 4 42 49 PM" src="https://user-images.githubusercontent.com/5744708/137876575-a34e40b4-9f97-4e7b-

[2021-10-19 09:42] dadiorchen opened #213 "Clicking tree icon on the map will jump to the /trees/[id] page"
And show the tree details on the left. Currently, clicking the tree would open the old version of the tree panel.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization,

[2021-10-19 09:50] dadiorchen opened #214 "Need to modify some part of this integration test: the organization page."
We have some problem in this code:

https://github.com/Greenstand/treetracker-web-map-client/blob/b66f91253ff28e55ac6b34b90c8113264b168cdf/cypress/tests/integration/organizations/%5Borganizationid%5D.cy.js#L17-L31

We need to change this code to like the code here:

https://github.com/Greenstand/treetracker-web-map-client/blob/b66f91253ff28e55ac6b34b90c8113264b168cdf/cypress/tests/integration/tree

[2021-10-19 22:20] dadiorchen opened #215 "Extract the map core to the third repo (draft)"
Now we need to extract the core part for map related code into the third repo: https://github.com/Greenstand/treetracker-web-map-core to make it the common repo for both treetracker-web-map-client and treetracker-wallet-web

Then both these two repos will install the core codebase `npm install git+http://github.com...`

The core map code should include (and also should include test file accordingl

[2021-10-20 02:15] dadiorchen opened #217 "Implement the /trees/:treeId page."
Now we have had the integration test skeleton for the /trees/:treeId page: https://github.com/Greenstand/treetracker-web-map-client/blob/web-map-site/cypress/tests/integration/trees/%5Btreeid%5D.cy.js
Now we need to implement details of this page to follow our design, please work on the test above and implement all the details on this page.

![image](https://user-images.githubusercontent.com/57447

[2021-10-20 02:32] QuaidBartolomei commented on #217
I already developed this page a bit while I was making the test cases, I'll submit a draft pr and finish it later unless someone else wants to take over.

[2021-10-20 02:48] QuaidBartolomei opened #219 "Project won't install"
I am getting this error when running `npm install`.

[code]

I cannot install the project without deleting ~~project-lock.json~~ package-lock.json.

[2021-10-20 17:29] QuaidBartolomei commented on #199
@dadiorchen We discussed this in the team meeting, the issue came from using a proxy/vpn.

[2021-10-22 10:22] #199 closed, assigned to nobody

[2021-10-22 22:02] QuaidBartolomei opened #222 "Warning: React does not recognize the `passHref` prop on a DOM element."
I receive this warning when starting the dev server (`npm run dev`)

[code]

[2021-10-23 08:50] #209 closed, assigned to nobody

[2021-10-23 09:33] dadiorchen opened #226 "(draft) UI/UX for embed web application"
cases:
* Haiti tree project
  Embed treetracker web map app in html: https://www.thehaititreeproject.org/tree-tracker

![image](https://user-images.githubusercontent.com/5744708/140016721-c3a56a23-9042-46e2-b235-b3839b1029f8.png)

* Sādu app
  Embed the web map into a native app (as webviewer) https://sadu.app/#everyone

https://brittanymsalas.medium.com/s%C4%81du-app-users-can-now-see-trees-verif

[2021-10-24 01:27] #222 closed

[2021-10-24 01:37] #214 closed, assigned to nobody

[2021-10-24 07:56] dadiorchen opened #228 "Tree Icon can not highlight"
But the cluster icon does.

https://user-images.githubusercontent.com/5744708/138585518-b6201be9-648c-42bc-a50f-b0ea78404836.mp4

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about ou

[2021-10-25 05:32] QuaidBartolomei opened #229 "Cypress will not run new component test files (no tests found)"
Currently if I try to make a new component test file (or duplicate an existing one) Cypress component tests (`cyu`) will say "No tests found" for that file.

If I delete my .next/ folder and restart cypress-ct the tests will work like normal but this must be done any time a new test file is created.

This seems to be an issue with the Cypress package and a fix is awaiting merge: https://github.com

[2021-10-25 19:55] QuaidBartolomei opened #230 "Cypress component testing not rendering correct font"
The web app is now using the correct font (Lato) but cypress-ct is not loading it. An easy way to test this is to change this line in `theme.js` so the backup font will be serif:

[code]

[2021-10-25 22:02] #219 closed, assigned to nobody

[2021-10-26 05:52] sebastiangaertner opened #232 "Timeline not working !"
When using the timeline such as https://map.treetracker.org/?timeline=12-07-2017_26-10-2021
no data is displayed.
Another issue that once in a boundry level view the use of the timeline changes the URL from
https://map.treetracker.org/?&bounds=-13.278488963842394,8.389551269756067,-13.140902370214462,8.472501613620992
to
https://map.treetracker.org/?timeline=20-02-2018_26-10-2021 for example.

[2021-10-26 06:16] QuaidBartolomei opened #233 "Cypress integration tests not displaying next/Image component with blob url"
I used next/Image while developing the [treeid] page (#220) based on NextJs recommended image optimization practices. Cypress integration tests now refuse to run for that page. Changing the component back to an img element fixes the error.

[2021-10-28 03:15] dadiorchen opened #235 "Improve the time component"
https://github.com/Greenstand/treetracker-web-map-client/pull/194/commits/f472bc0e36621040d4f527179075b5d91fbac237

for this PR, we need to change the prop from string to `date` and format the date before we show it.
---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering b

[2021-10-28 03:17] dadiorchen opened #236 "Improve the location component"
We need to improve the location component to passing in coordinates rather than a string, and parse the coordinates then translate to the location name.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.

[2021-10-29 09:04] #215 closed, assigned to nobody

[2021-10-29 09:06] #179 closed, assigned to nobody

[2021-10-29 18:25] danp2392 commented on #201
Sorry I have been busy, happy for someone else to take a look

[2021-10-30 01:47] jonahtabb commented on #103
Should this component be fully responsive for mobile?

[2021-10-31 04:27] QuaidBartolomei commented on #103
@jonahtabb The mobile version is currently planned to be a separate app so you can focus on just matching the design doc. Make sure to check the Figma link in the readme.

[2021-11-02 03:46] dadiorchen opened #242 "Build this project with next.js to release to production"
Following the best practice by next.js and build the project, and the command to run the server in production env.

Then please add some guide about the usage of these commands into the readme.

This is related to the k8s issue: https://github.com/Greenstand/treetracker-infrastructure/issues/56
So mainly, we just need to be able to build and run the project in production settings, so the cloud tea

[2021-11-02 05:58] dadiorchen commented on #228
Hi, @akash5100 what can I do for you? How can we get you started? Are you in our slack channel?

[2021-11-02 06:03] #211 closed

[2021-11-02 06:17] #230 closed

[2021-11-02 06:32] dadiorchen opened #243 "Refactor: move `common` folder into/under the `components` folder"
Because the goal of `common` is to put those reusable components there for convenience.

Make sure the refactoring is correct and don't break any `import` from those files under `commom`.
---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbo

[2021-11-02 06:40] akash5100 commented on #228
I am not currently on your slack channel but I wish I could join.

[2021-11-02 07:48] dadiorchen commented on #228
@akash5100 I have sent you an invitation by the gmail you leave on your profile, can you confirm it?

[2021-11-02 08:00] dadiorchen opened #244 "Timeline feature crashed!"
I guess this is because of the new time format function

<img width="1440" alt="Screen Shot 2021-11-02 at 3 58 21 PM" src="https://user-images.githubusercontent.com/5744708/139807972-ccaf6a92-c095-46de-a1da-92af3981c798.png">

[2021-11-02 08:01] dadiorchen commented on #244
Please working on `master` branch

[2021-11-02 09:13] dadiorchen opened #246 "`master` branch: switch to use `treetracker-web-map-core`"
Just the same as: https://github.com/Greenstand/treetracker-web-map-client/pull/237 remove all the core files locally, switch to install the core lib.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
-

[2021-11-02 09:14] dadiorchen commented on #246
Please fork `master` to work on

[2021-11-02 09:16] #217 closed

[2021-11-02 10:20] dadiorchen opened #248 "Add home page link for the logo icon."
By clicking the link on the logo icon, we can go back to the home page `/` anywhere.
<img width="1440" alt="Screen Shot 2021-11-02 at 6 18 35 PM" src="https://user-images.githubusercontent.com/5744708/139828678-603094e3-ab3d-4c04-b6d9-183909239d43.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide

[2021-11-03 03:25] dadiorchen commented on #244
I guess the case is: we re-formated the date string, from 2021-10-01 to 10-01-2021, then....the timeline feature tried to request API server with the new date string, then, crashed!

[2021-11-03 03:39] dadiorchen commented on #103
Oh, @jwgatt sorry about removing your comments, I thought you gave up this issue, great, I will assign this issue to you, and please go ahead, and it is also fine jwgatt if you want someone else to join you to co-work. Thank you for your work!

[2021-11-03 07:25] dadiorchen opened #250 "Broken cypress component test:"
Please check the component test:
FeatruedTreesSlider/test.cy.js

![image](https://user-images.githubusercontent.com/5744708/140022199-7a6e40cd-fd15-4764-b66f-aa394f6eecf0.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engin

[2021-11-04 02:09] dadiorchen opened #253 "Might be a next.js wrongdoing."
When the first time to visit the home page, and click the `find tree` button, the page will get refreshed rather then go forward to the link.

https://user-images.githubusercontent.com/5744708/140245554-83c68f81-b062-44f3-81cc-e601ac1b31ef.mov

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.

[2021-11-04 02:43] dadiorchen opened #254 "recover the 'nearest tree' feature."
In the `master` version, we can display a 'nearest tree' icon to show where is the nearest tree on current map view, it shows up when there isn't any tree/cluster on the map view, it works well in the `master` branch but broken in the `web-map-site`, we need to recover it.

<img width="1440" alt="Screen Shot 2021-11-04 at 10 39 50 AM" src="https://user-images.githubusercontent.com/5744708/14024905

[2021-11-04 02:49] dadiorchen opened #255 "Some problem when auto-refreshing the page by next.js dev mode."
When modifying js file, next.js will automatically reresh the web page, but sometimes it show error:
![image](https://user-images.githubusercontent.com/5744708/140249439-83c3bcb4-f26d-463d-9a92-00cb00e10884.png)

This is related to the map object mounting to the DOM, maybe we need a better way to mount the map object to the DOM

---

Some hints:

- Please read our [readme](https://github.com/Green

[2021-11-04 03:10] dadiorchen opened #256 "Design the UX for next/previous tree on the map"
We need two buttons to let people be able to check the next/previous tree on the map, because sometimes the trees are close to each other, becoming impossible to directly click the tree icon on the map.

<img width="1440" alt="Screen Shot 2021-11-04 at 11 05 06 AM" src="https://user-images.githubusercontent.com/5744708/140251201-735ff259-cc72-437b-8993-62dcc28ca830.png">

Just my own opinion, do y

[2021-11-04 03:11] dadiorchen commented on #256
You can experience the same function on the previous version of the map.
https://map.treetracker.org/?&bounds=-13.180010318756105,8.43747926027787,-13.149111270904543,8.454416778896698

[2021-11-04 03:35] dadiorchen opened #257 "Be able to highlight the tree icon after clicking (jump to single tree page)"
https://user-images.githubusercontent.com/5744708/140253671-ca801dc5-c57e-481a-b24a-9e04a71c6b68.mov

Just like what we do on https://map.treetracker.org

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand

[2021-11-04 08:49] jwgatt opened #259 "feature request; jump straight to tree view with single click"
It would be great to be able to jump from any zoom level straight to the single tree view/ground level on the map, as I find myself scrolling a lot when there should be a shortcut available. This would be a UX improvement in my opinion.

[2021-11-04 09:46] jwgatt opened #261 "Error thrown on clicking tree icon"
I'm getting this error on clicking the tree icon in dev mode running the mock server.

It might be due to this;

https://stackoverflow.com/questions/51040669/next-js-use-of-app-js-and-document-js

![Screenshot from 2021-11-04 10-45-13](https://user-images.githubusercontent.com/79326421/140292375-d7d0a6a3-2247-4b1a-bbe1-ec0dcb336e1a.png)

[2021-11-04 10:07] dadiorchen commented on #259
By clicking where? If you updated newest data, and run the mock server, on the /top page, if you click the featured tree, you will be able to jump the single tree ground level.

[2021-11-04 13:03] LahiaOmar commented on #255
Hey @dadiorchen, I would like to start working/fixing this bug

[2021-11-07 17:36] echai-11 commented on #261
I am working on this bug.

[2021-11-08 01:27] #243 closed

[2021-11-08 01:43] #261 closed

[2021-11-08 03:21] echai-11 commented on #253
I would like to work on this task.

[2021-11-08 08:29] VWRoli opened #267 "Broken cypress test routes"
**Describe the bug**
TreeAge and Filter tests are broken, after the PR #263. I moved the common folder which broke some file routes.

**To Reproduce**
Start `npm run cyu`, will get a message 'Cannot GET /__cypress/src/index.html'.

**Expected behavior**
Tests should run as before.

**Screenshots**

![Screenshot from 2021-11-08 09-23-16](https://user-images.githubusercontent.com/31432331/140708281-

[2021-11-08 18:48] #259 closed

[2021-11-09 01:51] #228 closed

[2021-11-09 01:51] #248 closed

[2021-11-09 01:58] dadiorchen opened #270 "Might be a problem about eslint"
This is about that eslint can not correctly check the CSS file.

Take a look at this PR: https://github.com/Greenstand/treetracker-web-map-client/pull/266

We have to add *.css into the eslintignore file to avoid the eslint checking the CSS file, or we will run into a eslint error saying missing semicolon or so, but apparently, the CSS file is fine.

To reproduce the problem, you can checkout the

[2021-11-09 02:02] dadiorchen commented on #270
and @QuaidBartolomei this problem I think is interesting, it also raised a question that: if we just check the code in stage pool, there might be some eslint failure in the future, imagine we change some rule, but the files that violate the rule didn't get touched in the commit, so we will find the problem in the future?

[2021-11-09 02:03] dadiorchen commented on #267
@YassinHussein is this written by you? did you check the test in cypress when you code?

[2021-11-09 07:13] VWRoli commented on #267
No, it was me, I did #263. I broke the routes.

[2021-11-10 04:17] dadiorchen opened #273 "Repair jest and tests written by Jest"
We have some legacy tests written by Jest, (might be under the models folder), we need clean and repair these tests, the goal is: `npm test` could run and pass, because we will push forward to cover all those models with Jest test, and integrate these test into our CI

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more in

[2021-11-10 08:45] dadiorchen opened #275 "Write Jest test to cover requestAPI function"
https://github.com/Greenstand/treetracker-web-map-client/blob/4e6f680d124ae6d74c92bd501eda627919b32f26/src/models/utils.js#L46-L62

Write test in utils.test.js to cover the `requestAPI` function. Please note, there is a bug in the function, if the the request failed, like, receiving 404, for example, the server response with: code:404, json body: {msg: "some error message"}, the function will stil

[2021-11-10 10:18] JulienMaurice commented on #273
Hello,
Could I do it ?

It seem that this is just an .env variable problem. The tests are waiting for `REACT_APP_API` but could take `NEXT_PUBLIC_API` to be validated.

[2021-11-11 03:11] echai-11 commented on #123
Is anyone working on this? Otherwise I would like to work on it.

[2021-11-11 03:18] dadiorchen commented on #123
Hi, @echai-11 this is a valid task to take, please.
And I have done some basic work for this page, please update the newest code from `web-map-site`
And I guess @jwgatt has finished the leader board component.

[2021-11-11 03:20] #273 closed

[2021-11-11 03:23] #270 closed

[2021-11-11 03:23] #250 closed

[2021-11-11 03:24] #267 closed

[2021-11-11 03:53] echai-11 commented on #123
Noted, then I will work on this task.

[2021-11-11 08:53] dadiorchen opened #279 "Map view div with problem"
The div of the map container seems to be wrong, the map view on the half of the right can not show the whole map, part of the map is hidden by the div.

![image](https://user-images.githubusercontent.com/5744708/141267763-9f5e8d11-5c1c-4648-a399-2c0ac91d8292.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more informa

[2021-11-11 09:01] dadiorchen opened #280 "UI/UX problem: who to deal with case like this:"
On the organization page, we are showing an org called: 180earth like this:
<img width="1440" alt="Screen Shot 2021-11-11 at 4 58 35 PM" src="https://user-images.githubusercontent.com/5744708/141268840-089f3626-9818-4afe-8253-d8206f188834.png">

How could we deal with a case like this, to make the logo showing more nice and neat?

---

Some hints:

- Please read our [readme](https://github.com/Gre

[2021-11-11 09:08] dadiorchen opened #281 "Mobile version of home/index page."
Need to make the home page being able to fit a mobile devices.

![image](https://user-images.githubusercontent.com/5744708/141269863-0e0b9e3f-9805-44c7-83d3-c3b7f65f2f9a.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engine

[2021-11-11 11:26] YassinHussein commented on #267
@dadiorchen
Sorry for the late reply.. Two weeks ago, a military coup took place in Sudan and the internet service was cut off so far

[2021-11-12 13:51] lpizzinidev commented on #281
Hi @dadiorchen 🤚 Can I work on this issue?

[2021-11-13 10:47] LahiaOmar commented on #275
Hi @dadiorchen, I will try to work on this issue.

[2021-11-15 08:39] #244 closed

[2021-11-15 08:40] #232 closed

[2021-11-15 08:41] dadiorchen commented on #212
Checkout the `master` there is the previous version of timeline:

![Uploading Screen Shot 2021-11-15 at 4.41.16 PM.png…]()

[2021-11-18 01:21] dadiorchen commented on #273
@JulienMaurice hey, sorry for the delay and missed your message, another developer has solved this problem, I'm so glad you are interested in our project, do you want to take a look at other issues? Actually, these three repo of us is aiming the same app:
https://github.com/Greenstand/treetracker-wallet-web
https://github.com/Greenstand/treetracker-web-map-core
https://github.com/Greenstand/treetr

[2021-11-18 01:23] dadiorchen commented on #123
@echai-11 do you get any progress on this? Any help do you need?

[2021-11-18 01:25] dadiorchen commented on #267
@YassinHussein terrible! I hope you are well, and no worries on the things on Greenstand, so glad to see you back to us, you did a great job for us!

[2021-11-18 01:28] dadiorchen commented on #281
@lpizzinidev sorry for the delay, yes, please! do you want to join our slack community? if true, please give me you email, I will invite you.

[2021-11-19 04:14] bstetzer32 commented on #279
Can I work on this one?

[2021-11-19 08:23] dadiorchen opened #288 "Specification for the web map (and others) API"
Please define the spec for the API service that web map site and wallet app and others be able to connect to

[2021-11-19 08:28] dadiorchen commented on #288
Some consideration:

* Generally, for list endpoint, like: /trees?planter_id=1
  * Response:
    * total: I think it's good to return total, there are several pages we need to give like a sum of trees planted by a planter.
    * limit, offset: if the user ignores these parameters in the request, it's good to let the user know that what's the default value of it.

[2021-11-20 01:43] dadiorchen commented on #279
It's yours, thanks!

[2021-11-20 03:04] dadiorchen commented on #288
Our two app (web map and wallet app) are using this doc as a mock server, so if we look this as a requirement, and if backend team can provide all these feature, then our front clients will work well!

[2021-11-22 03:16] dadiorchen commented on #281
Anyone want to take this issue?

[2021-11-22 03:17] dadiorchen commented on #275
Finished

[2021-11-22 03:17] #275 closed

[2021-11-22 03:23] dadiorchen commented on #213
Finished

[2021-11-22 03:23] #213 closed

[2021-11-22 03:23] dadiorchen commented on #212
You can directly try it on: map.treetracker.org

[2021-11-22 03:24] dadiorchen commented on #210
Finished!

[2021-11-22 03:24] #210 closed

[2021-11-22 03:24] dadiorchen commented on #155
finished!

[2021-11-22 03:24] #155 closed

[2021-11-22 03:25] dadiorchen commented on #152
finished!

[2021-11-22 03:25] #152 closed

[2021-11-22 03:26] dadiorchen commented on #132
This issue now is open for everyone

[2021-11-22 03:26] dadiorchen commented on #123
This issue now is open for everyone!

[2021-11-22 03:27] dadiorchen commented on #103
Finished, thanks @jwgatt

[2021-11-22 03:27] #103 closed

[2021-11-22 03:29] dadiorchen commented on #78
Duplicated issue

[2021-11-22 03:29] #78 closed

[2021-11-22 03:31] dadiorchen commented on #70
This is still a problem, we need someone working on this.

[2021-11-22 07:48] ojafero commented on #132
I'm almost done fixing the time and location component. So, will get working on this asap.

[2021-11-23 03:17] dadiorchen commented on #280
For now, we can just put a white background behind it. If the logo itself is white, then we can change the background color to whatever color the organization uses.
![image](https://user-images.githubusercontent.com/5744708/142966485-afaddc9c-7c17-40df-874e-d932bed8abb3.png)

Lets make sure to give at least 16 pixels of padding for logo inside the circle

[2021-11-23 09:21] dadiorchen opened #291 "Font problem"
Can not find why the font in this page is different with the UI design file:

<img width="1438" alt="Screen Shot 2021-11-23 at 5 17 43 PM" src="https://user-images.githubusercontent.com/5744708/142998765-b3e7a7f3-fb30-424f-b78e-683d4a0204bd.png">
<img width="1438" alt="Screen Shot 2021-11-23 at 5 17 28 PM" src="https://user-images.githubusercontent.com/5744708/142998776-2d7c535d-f444-4804-985c-ed7

[2021-11-23 09:22] dadiorchen commented on #291
I copied the css style in Figma directly

[2021-11-24 03:28] dadiorchen opened #294 "Layout glitch in the tree slider component"
![image](https://user-images.githubusercontent.com/5744708/143169739-89eee234-3108-433a-93d6-51ee143e8e13.png)

[demo video](https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202021-11-24%20at%2011.26.33%20AM.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIARV4KTOM4LH222XJA%2F20211124%2Fap-northeast-1%2Fs3%2Faws4_request&X-Amz-Date=20211124T032825Z&X-Amz-Expires=3600&X-Amz

[2021-11-25 02:00] #254 closed

[2021-11-25 02:27] #281 closed

[2021-11-25 06:31] dadiorchen commented on #294
Weird I think this is not about just the component, the whole pages syle is missing, after some accidently refresh, look at this video:

[problem reproduce](https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202021-11-25%20at%202.26.49%20PM.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIARV4KTOM4LH222XJA%2F20211125%2Fap-northeast-1%2Fs3%2Faws4_request&X-Amz-Date=20211125T0

[2021-11-25 06:32] dadiorchen commented on #294
@QuaidBartolomei @echai-11 I think this case is the same as we discussed in the refresh problem. Intresting.

[2021-11-25 06:49] dadiorchen opened #297 "Content get cut"
The text:         Check out the global leaders in the tree planting effort get cut

![image](https://user-images.githubusercontent.com/5744708/143393211-4d73607c-9c30-48b4-976b-a9751773ab9a.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greensta

[2021-11-25 07:12] dadiorchen opened #298 "A suite of flag icons for countries."
We are going to show the country with the flag icon, so we need a set of icons for this purpose.

We don't have are a standard way to identify the country, so for a temporarily solution, just use the name of country as the key, below is the list of country name:

(so we can load the flag icon in the probjet like this: )
[code]

Please put all these flag icons into the component tool to display the

[2021-11-25 07:17] dadiorchen commented on #298
Some resource I found:

https://en.wikipedia.org/wiki/Gallery_of_sovereign_state_flags

[2021-11-25 07:22] dadiorchen commented on #298
https://flagicons.lipis.dev/

[2021-11-25 08:40] dadiorchen commented on #123
#299  solved this issue

[2021-11-25 08:40] #123 closed

[2021-11-25 10:48] Koda-Pig commented on #298
Hi @dadiorchen, can I work on this?

[2021-11-25 11:08] dadiorchen commented on #298
@Koda-Pig yes, sure, I will assign it to you.

Also, I suggest using the Cypress unit tool for a showcase of all these flag icons, but it is not mandatory.

[2021-11-25 14:55] Koda-Pig commented on #298
Thanks @dadiorchen. Sorry if this is a basic question, but after getting this running, any changes I make to /node_modules/treetracer-web-map-core/src/Map.js has no effect on the front end. For example; as a test to see if I was editing the correct file, I replaced 'K' with 'P' here:

`  static formatClusterText(count) {
    if (count > 1000) {
      return `${Math.floor(count / 1000)}K`;
    }

[2021-11-26 02:08] dadiorchen commented on #298
@Koda-Pig are you in our slack channel? if not you can leave your email and I will invite you, that's a better place for coordination and discussion.

So you are run into the `import css` problem? right? basically, remove .next works for me.

formatClusterText function I'm not sure you can immediately find the changing on the map viewer even you are doing things right, because it just gets invoked

[2021-11-26 02:48] dadiorchen opened #300 "UI refine for information card component"
I guess these are just some margin, padding problems, (or maybe it's about making this component more responsive, I saw in the cypress sandbox, the component looks fine `npm run cyu`)

The design:
<img width="1440" alt="Screen Shot 2021-11-26 at 10 37 57 AM" src="https://user-images.githubusercontent.com/5744708/143518481-056c070e-eb2c-4a50-93c2-4dc8cf7cb407.png">

The implementation:
<img width="

[2021-11-26 03:02] dadiorchen opened #301 "A showcase/sandbox of typography in this system/theme."
This task is pretty simple, just put all our typography into the component tool/sandbox, `npm run cyu`, so brings convenience when we need to pick typography according to our UI design.

![image](https://user-images.githubusercontent.com/5744708/143520356-ede6182c-4a69-472d-acbe-a50e300af27c.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client

[2021-11-26 03:34] dadiorchen opened #302 "Refine the UI/layout of the tree tag component"
<img width="1440" alt="Screen Shot 2021-11-26 at 11 32 27 AM" src="https://user-images.githubusercontent.com/5744708/143522718-4f7fbd51-f307-490d-849e-d9b6f0e31164.png">

The design:

![image](https://user-images.githubusercontent.com/5744708/143522737-45d1d246-e8d0-4fee-a2a9-eee825379143.png)

I guess this is about making the component responsive.
---

Some hints:

- Please read our [readme](http

[2021-11-26 03:53] dadiorchen opened #303 "Remove the background for the planter photo"
This is to build a beautiful profile page for our planter:

![image](https://user-images.githubusercontent.com/5744708/143524200-a077b247-5056-4bc0-ae6d-5f8fa3844285.png)

Some online image services already support this feature:

https://cloudinary.com/documentation/cloudinary_ai_background_removal_addon

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-ma

[2021-11-26 06:13] aphive commented on #291
Could be something with your css. Is it only showing the diff in the tool or on the site as well? I was not able to locate the pages on the site that you show in the screenshots.

In your css file I did notice that h4 has a different `fontWeight` than the others but not sure exactly what the tool is using to format the two different headings:

[code]

[2021-11-26 06:39] dadiorchen opened #304 "World map component"
This is about a component to display a global map, in the component we can highlight a single continent and mark the count of trees, planted in the area, like the picture shows:

<img width="1440" alt="Screen Shot 2021-11-26 at 2 11 08 PM" src="https://user-images.githubusercontent.com/5744708/143535317-f410fda1-7e68-4667-b3ea-34344293a030.png">

So the input/parameter of the component should be l

[2021-11-26 06:49] dadiorchen commented on #297
I guess this is because the container on the left exceeds the 50% width actually, what do you think @QuaidBartolomei ?

[2021-11-26 06:50] dadiorchen commented on #291
@aphive thanks, you can jump to the page directly by `http://localhost:3000/top`

I'm afraid there is another problem in the page, #294

[2021-11-26 07:01] dadiorchen opened #305 "Make sure we mount the components with `theme` and strictly follow the Figma UI design"
We found in the component test/sandbox, (xxx.cy.js) there are some component didn't mount the component with the theme, so when we try to integrate the component into the real page, we found the layout of the component changed, e.g. #302

We should mount the component in this way:

[code]

Please go through all the component tests, ends with: `.cy.js`  to make sure all the component is mounted in

[2021-11-26 07:21] dadiorchen opened #307 "A card component"
As shown below, the card should have two statuses, active/inactive, the parameters would be like:
<Card icon={<TreeIcon/>} title={'Trees Planted'} text={'2'} />

<img width="1440" alt="Screen Shot 2021-11-26 at 3 17 09 PM" src="https://user-images.githubusercontent.com/5744708/143542190-5b383ce8-f534-4c00-a898-8e4de9b3dff4.png">

---

Some hints for building components:

- This kind of issue is ab

[2021-11-26 07:30] Koda-Pig commented on #298
I'm not in the slack channel, please add me with josh[.]koter@gmail.com.

I ran into the import css problem, but I used the workaround you mentioned here to fix it: https://github.com/Greenstand/treetracker-web-map-core/issues/23

If that's the case, how do I make changes to the actual map component?

[2021-11-26 07:45] dadiorchen commented on #297
Maybe this is because the server-side doesn't know the screen size on the client side/browser?

[reproduction](https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202021-11-26%20at%203.42.36%20PM.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIARV4KTOM4LH222XJA%2F20211126%2Fap-northeast-1%2Fs3%2Faws4_request&X-Amz-Date=20211126T074305Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=

[2021-11-26 08:10] dadiorchen opened #308 "FeaturedTreesSlider supports small size"
We will reuse the slider on this page, with a property `size=small` so we can show a smaller one here:
https://www.figma.com/proto/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2497%3A11031&scaling=min-zoom&page-id=2497%3A9322&starting-point-node-id=2497%3A11031&show-proto-sidebar=1

<img width="1440" alt="Screen Shot 2021-11-26 at 4 07 55 PM" src="https://user-images.githubusercontent.com/5744

[2021-11-26 08:24] dadiorchen opened #309 "A card component"
We need a component like this:
<img width="1440" alt="Screen Shot 2021-11-26 at 4 21 23 PM" src="https://user-images.githubusercontent.com/5744708/143549586-7ddbe447-4a7b-4bd5-8810-42c9bbc9bf9b.png">
https://www.figma.com/proto/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2497%3A11031&scaling=min-zoom&page-id=2497%3A9322&starting-point-node-id=2497%3A11031

The parameters might be:
<Card title

[2021-11-26 08:32] KaranChandekar commented on #303
Hey dadiorchen, I am interested in your project and I want to contribute in this. can you tell more about from where I have to remove planter background. I mean can you give me more information about it!

[2021-11-26 08:56] dadiorchen opened #310 "The like component and function"
We still don't have a login account on the website, so we are considering using the 3rd-party function for this, for example, the Facebook like, so this issue is about building the component and integrating the 3rd-party like button into our tree photo.

<img width="1440" alt="Screen Shot 2021-11-26 at 4 53 40 PM" src="https://user-images.githubusercontent.com/5744708/143554033-e7f9ab60-da97-403e-

[2021-11-26 09:08] dadiorchen commented on #303
sure, @KaranChandekar are you willing to join our Slack community, if true, please give me your email, I will invite you, and about this task you can check out website: https://map.treetracker.org/?&bounds=-13.20829153060913,8.423979653340414,-13.17739248275757,8.440917764040844
by clicking any tree icon, you will find the tree panel showing up with the planter photo, the goal is to try to remove

[2021-11-26 09:25] dadiorchen opened #311 "A reusable component for image"
We need a reusable component to apply to any image element in the system, the function is that:
* A taken on icon indicating when do we take this photo
* A maximum icon that we can click to open a window displaying the full size of the picture.
* A like icon that we need the work from #310

<img width="1440" alt="Screen Shot 2021-11-26 at 5 19 55 PM" src="https://user-images.githubusercontent.com/

[2021-11-26 10:09] KaranChandekar commented on #303
Ok! I understand this is my email : karanchandekar431@gmail.com

[2021-11-26 11:10] dhanushreddy291 commented on #303
Can I too give it a try?
My Email is: 29dhanushreddy@gmail.com

[2021-11-27 01:35] dadiorchen commented on #298
If you mean how to change the Map.js, you can fork the treetracker-web-map-core repo and raise PR against this repo, once your PR is accepted, we will raise the version of the core, then all those repos using this core can upgrade the core.

[2021-11-27 01:36] dadiorchen commented on #303
sure, guys, I have invited you all

[2021-11-27 18:34] echai-11 commented on #294
@dadiorchen  I am looking into this now

[2021-11-29 01:23] dadiorchen opened #313 "Missing trees"
**Describe the bug**

Please open this link and try to locate the tree point by clicking the icon.

https://wallet.treetracker.org/?wallet=NickCharlton&bounds=5.224771499633789,7.213306382670475,5.35660743713379,7.272567858407591

[screenshot video](https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202021-11-29%20at%209.16.43%20AM.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credenti

[2021-11-29 01:30] dadiorchen commented on #294
Great, thanks! I think this is a serious problem and impact all pages, I noticed the missing style problem emerged on different pages. But it shows up randomly, didn't find the pattern when/what cause it.

[2021-11-29 12:58] VWRoli commented on #307
Working on this one

[2021-11-29 15:50] VWRoli commented on #309
I will take this one

[2021-11-30 00:54] #255 closed

[2021-11-30 03:49] dadiorchen opened #316 "A new underscore emerged in the new version"
MUI 5 upgrade related?

<img width="1440" alt="Screen Shot 2021-11-30 at 11 47 21 AM" src="https://user-images.githubusercontent.com/5744708/143982469-0b79aa3b-91e6-46cb-90bc-825a7f1afe67.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstan

[2021-11-30 03:51] dadiorchen opened #317 "Nav bar disappeared"
They are there, but can not been seen.
<img width="1440" alt="Screen Shot 2021-11-30 at 11 49 40 AM" src="https://user-images.githubusercontent.com/5744708/143982630-2bc944b6-1649-42bc-b29f-40430571e31c.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](ht

[2021-11-30 15:52] VWRoli opened #319 "Broken planter page"
**Describe the bug**
The planter page is broken. MakeStyles import is not correct. And the planter image covers the whole screen and does not let the user scroll.

**To Reproduce**
Open the planter page http://localhost:3000/planters/940

**Expected behavior**
MakeStyles should be imported from the models folder.
The planter image should have some restrictions to not cover the whole page.

**Scree

[2021-12-01 02:32] #317 closed

[2021-12-01 02:36] #235 closed

[2021-12-01 06:21] QuaidBartolomei commented on #253
This issue was fixed by the new setup with mui5 from this PR #287

[2021-12-01 06:52] #316 closed

[2021-12-01 06:52] #253 closed

[2021-12-01 16:18] pierrelstan commented on #311
I would like to work on this issue, my email to join the slack community: stanleypl75@gmail.com

[2021-12-02 02:28] #307 closed

[2021-12-02 02:31] #291 closed

[2021-12-02 02:32] dadiorchen commented on #311
@pierrelstan thank you, it's yours

[2021-12-02 06:19] dadiorchen opened #331 "New design of the country leading board"
Because the previous design is not fit the plain design style of the whole app, so we redesign it, please modify the current leader board component to follow the new design.

![image](https://user-images.githubusercontent.com/5744708/144368273-a634ff1d-16b9-4cb9-b310-c6ce1bdbd8be.png)

note: please mount the component with `import { mountWithTheme as mount } from '../../models/test-utils';` to get

[2021-12-02 07:24] #319 closed

[2021-12-02 07:34] dadiorchen opened #332 "Show the zoom in/out button on the bottom right corner"
<img width="1440" alt="Screen Shot 2021-12-02 at 3 33 29 PM" src="https://user-images.githubusercontent.com/5744708/144377798-54cc0289-da50-4469-b75d-ee90df91de09.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/

[2021-12-02 07:42] dadiorchen opened #333 "Back button"
Add back button code, I thought this is just a normal `go back` action, and the code is in PageWrapper.js

<img width="1440" alt="Screen Shot 2021-12-02 at 3 39 58 PM" src="https://user-images.githubusercontent.com/5744708/144378748-1e8e12e7-a875-4b3f-9d63-ff09980ba8a1.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for

[2021-12-02 07:48] dadiorchen opened #334 "Planter quote card"
![image](https://user-images.githubusercontent.com/5744708/144379688-d82d22a7-f3af-4885-a77b-07ec5b25d079.png)

---

Some hints for building components:

- This kind of issue is about creating a new component, it might not need to mount it in the whole app, to know how to create a component separately, please check the tutorial below.
- Design resource: https://www.figma.com/file/XdYFdjlsHvxehlrkP

[2021-12-03 02:18] #309 closed

[2021-12-03 07:33] dadiorchen opened #337 "Set up cypress command to run e2e test"
Currently, `npm run cy` will integrate next.js dev env automatically, now we need a command to just simply run the cypress without running the next.js.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.

[2021-12-03 07:34] dadiorchen commented on #337
@QuaidBartolomei do you have any suggestion, I guess this is about avoiding loading the mock plugin right?

[2021-12-03 07:35] dadiorchen commented on #337
The case is that the e2e test will direct connect to a real service, like the dev env of the web map siet.

[2021-12-03 08:07] dadiorchen opened #338 "Router/path problem when operating map"
There is now a problem when we interact on the map: if use jump the organization page, like: /organization/123 then on the map, the user zoom in and click on a tree icon, then the router will jump to /trees/456, then we lost the context related to the org 123, I think this will potentially lead to problem, at least, if now user copy the address directly, then the URL will just show a single tree o

[2021-12-03 08:50] dadiorchen opened #340 "Implement the full-functional filter component, with unit tests."
Please check the video describing what needs to be done, basically, some interaction of the component, some verification of the filter conditions, some text job.

Also, please cover the feature with the component test in Filter.cy.js

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202021-12-03%20at%204.40.40%20PM.mp4

![image](https://user-images.githubusercontent.com/5744708/14

[2021-12-03 08:53] dadiorchen opened #341 "Error/warning component"
We need to show some error/warning message when the user operating on the app, for example:

![image](https://user-images.githubusercontent.com/5744708/144573608-0b455ed1-d930-4a87-966e-2131ea532cc4.png)

When people click the `submit` and there are some violations like: the start date is after the end date, then we need to show some warning to the user.

---

Some hints:

- Please read our [readm

[2021-12-03 09:47] #279 closed

[2021-12-03 18:16] LahiaOmar commented on #332
Hi @dadiorchen, I'm working on it!

[2021-12-04 02:22] dadiorchen commented on #332
Hi, Omar, thank you, a reminder, the zoom in/out is a configurable feature by leaflet, so this issue might be related to how to expose it from core and set it up by client.

[2021-12-04 08:15] VWRoli commented on #302
Working on it

[2021-12-04 08:15] VWRoli commented on #301
I will take this

[2021-12-04 09:02] dadiorchen opened #344 "New theme for the mobile version"
We need a new theme for the mobile version. So we can switch the spacing/typography/font size...  with minimal effort between desktop and mobile versions.

considering this use case:

The words: featured tree in the two version, we are able to use consistant variant, say, h3, then we got different font setting for both.

<img width="1440" alt="Screen Shot 2021-12-04 at 4 58 27 PM" src="https://use

[2021-12-04 09:23] dadiorchen opened #345 "improve the swipe able drawer for the mobile"
To make the drawer more comfortable for users and more beautiful (layout).

![image](https://user-images.githubusercontent.com/5744708/144703977-9c2ab0e7-1b6a-439a-b307-59545758dc99.png)

A video to explain this feature:
https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202021-12-04%20at%205.17.53%20PM.mp4

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/

[2021-12-04 09:34] dadiorchen opened #346 "Adapt tree slider to mobile device."
<img width="1440" alt="Screen Shot 2021-12-04 at 5 32 24 PM" src="https://user-images.githubusercontent.com/5744708/144704745-22617187-6066-49a6-96cb-0735e281b121.png">

Please add a new test in component unit test file, and paste a screenshot when creating PR.

---

Some hints for building components:

- This kind of issue is about creating a new component, it might not need to mount it in the wh

[2021-12-05 08:21] QuaidBartolomei commented on #337
I will look into this, there may be a way to pass a separate config file.

[2021-12-05 10:42] Koda-Pig commented on #298
Please see my pull request here: https://github.com/Greenstand/treetracker-web-map-client/pull/348

[2021-12-05 10:44] Koda-Pig commented on #331
@dadiorchen I am working on this issue

[2021-12-06 01:23] dadiorchen commented on #344
@VWRoli what do you think about this? and you mentioned that you are going to sort out the messy theme, right? maybe you can consider the mobile them at the same time? So we got a united solution in both.

I'm thinking if we can use the theme field like typography and also some global classes, so we can easily switch the style between desktop and mobile?

[2021-12-06 01:25] dadiorchen commented on #344
Maybe is hard, this job also need support from designer to being able to give a neat unified style guideline

[2021-12-06 02:35] #305 closed

[2021-12-06 07:38] VWRoli commented on #344
Well, I can certainly take a look at it and we will see.

[2021-12-06 14:45] wendyyuchensun commented on #346
Hi, just curious does this need to be a new component? It seems like it can be achieved by just adjusting CSS like https://github.com/wendyyuchensun/treetracker-web-map-client/commit/2c022668419d4a5fd97eb94a109fcb66f791b0fe .
![ezgif-2-9d94ce75cb95](https://user-images.githubusercontent.com/13805499/144866194-3c31ffa1-582d-4974-a5f7-11b096188ec2.gif)

[2021-12-07 01:22] dadiorchen commented on #346
awsome!!! yes, our goal is to reuse the component as much as possible, and your solution looks pretty neat! Can you raise a PR for us?
BTW, the image size is the same as the Figma design? I mean the mobile version.

[2021-12-07 01:29] #300 closed

[2021-12-07 01:30] #337 closed

[2021-12-07 06:11] wendyyuchensun commented on #346
Yes, mobile image is `152px * 152px` .
https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=4355%3A15745
<img width="1440" alt="Screen Shot 2021-12-07 at 2 09 13 PM" src="https://user-images.githubusercontent.com/13805499/144976034-1a944c2b-d042-4175-8f75-7782f7fb66f8.png">
,

[2021-12-07 06:19] wendyyuchensun commented on #346
Here is the PR: https://github.com/Greenstand/treetracker-web-map-client/pull/352
Let me know if any issue with it, thanks. :)

[2021-12-08 01:58] #301 closed

[2021-12-10 01:57] dadiorchen opened #357 "A github Action task: add integration test and component test (if possible) into the RP checking"
If new people created a PR, the action should run and check if the cypress integration test could be passed or not.
Also, consider if we can add the component test into this checking workflow, but not sure its possible or appropriate.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here i

[2021-12-10 02:07] dadiorchen commented on #303
hi, guys, any progress, question, thoughts on this?

[2021-12-10 02:35] #346 closed

[2021-12-10 15:34] dhanushreddy291 commented on #303
Sorry I was not working on it, because of my University exams. I will work on it definitely as i finish them.

[2021-12-11 01:53] #302 closed

[2021-12-11 02:01] dadiorchen commented on #303
@dhanushreddy291 thanks! And a suggestion, that establishes discussion as early as possible, create **darft** PR as early as possible, so we can align with each other and in a correct direction

[2021-12-12 02:12] pierrelstan commented on #334
Hi @dadiorchen, I would like to work on this issue.

[2021-12-12 13:31] VWRoli opened #359 "makeStyles Import error"
**Describe the bug**
Import error when opening tree page and planter page. The BackButton component does not have a makeStyles import.

**To Reproduce**
Open any of the pages mentioned above.

**Expected behavior**
The page should open without any errors.

[2021-12-12 16:18] VWRoli commented on #344
@dadiorchen The font sizes are doable with an intermediate theme in the theme.js. I'm currently working on this one.
The margins and paddings are a different topic. They are not consistent across the design like the font sizes. I will see what can I come up with.

[2021-12-13 02:19] dadiorchen commented on #344
Great!

[2021-12-14 01:41] #359 closed

[2021-12-15 06:54] dadiorchen opened #365 "Can not run Github Action to deploy."
There are some problem with the npm installment on the CI cloud, it seems related to the installing of `treetracker-web-map-core` , I tried:
`npm install --save git+https://github.com/Greenstand/treetracker-web-map-core.git`
and:
`npm install --save github:Greenstand/treetracker-web-map-core`
but no luck..

![image](https://user-images.githubusercontent.com/5744708/146137777-7b959719-e9c6-4d31-b30

[2021-12-15 07:01] dadiorchen opened #366 "The org image get stretched"
![image](https://user-images.githubusercontent.com/5744708/146138803-ae4ad9ec-ecb5-47f1-9d48-d400bd234a77.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization, vi

[2021-12-15 07:05] dadiorchen opened #367 "Back button on organization page doesn't work"
![image](https://user-images.githubusercontent.com/5744708/146139387-5fb5c7a6-a230-47f3-a1a4-9f9d3be772f9.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization, vi

[2021-12-15 07:13] dadiorchen commented on #366
![image](https://user-images.githubusercontent.com/5744708/146140482-babac74a-040d-41a0-9f5d-a1ea1c14e59e.png)

[2021-12-15 08:31] dadiorchen opened #368 "Fail to install core in the `master` branch."
When we try to switch to use the map by installing the web map core, by `npm install --save git+https://github.com/Greenstand/treetracker-web-map-core.git` , when run `npm start` the log complains:

[code]

Seems that the loader does not recognize arrow function ()=> , but it's for sure that in the source code of client, we are using some high level js syntax like arrow function, so this problem i

[2021-12-15 23:09] QuaidBartolomei commented on #357
I am working on this and fixing tests that are currently broken / not passing

[2021-12-16 02:29] dadiorchen opened #371 "The reviewer notification is not working"
It should be working but don't know why it's not
the setting is here:

https://github.com/Greenstand/treetracker-web-map-client/blob/web-map-site/CODEOWNERS

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenst

[2021-12-16 02:30] #344 closed

[2021-12-16 15:15] VWRoli commented on #371
I get emails about review requests.

[2021-12-17 02:29] dadiorchen commented on #371
I'm not sure, sometimes, I request you for review manually...

[2021-12-17 03:17] arcadioramos commented on #367
I've been trying to reproduce the error but the button works for me, is there any way to reproduce the error?

[2021-12-17 03:34] arcadioramos commented on #341
I'll take this issue :) currently working on it

[2021-12-17 03:35] dadiorchen commented on #367
Maybe this just happens on my computer?

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202021-12-17%20at%2011.27.19%20AM.mp4

[2021-12-17 03:36] dadiorchen commented on #341
Thank you!

[2021-12-17 03:37] dadiorchen commented on #341
@pierrelstan how's your work on the filter?

[2021-12-17 03:39] dadiorchen commented on #341
@pierrelstan this is about a reusable component, not just for this filter component, just in case I missed something.

[2021-12-17 03:39] arcadioramos commented on #341
I've currently done the issue which name should I use for the pr?

[2021-12-17 03:47] arcadioramos commented on #341
![image](https://user-images.githubusercontent.com/43447257/146485755-828bf10e-2fb2-4dfd-993b-ba3b14418947.png)
Any idea of why is this happening?

[2021-12-17 03:48] arcadioramos commented on #367
Maybe, I tried the same and it worked for me, kinda weird :/

[2021-12-17 03:51] dadiorchen commented on #341
@arcadioramos check this : https://github.com/Greenstand/treetracker-web-map-client#commit-message-and-pr-title-format

We have rule for commit message

[2021-12-17 03:51] arcadioramos commented on #341
Thank you @dadiorchen  !!!

[2021-12-17 06:49] VWRoli commented on #371
Ohh, I don't know that. So technically I should get a notification email every time someone makes a PR? In which case I don't.

[2021-12-17 21:44] arcadioramos commented on #331
Can I work on this? or it's actually assigned to Koda?

[2021-12-18 02:00] dadiorchen commented on #331
@arcadioramos yes, you can make a try, if @Koda-Pig you are still interested, I suggest you two can do a pair-programming on this, in my opinion, this is also a good way to learn from each other and good for tech communication and sharing.

[2021-12-18 04:18] arcadioramos commented on #331
Thank you, I'll work on it tomorrow and I hope to have it ready tomorrow too

[2021-12-18 07:25] jupiterdoom commented on #132
is this issue still actual?

[2021-12-19 02:46] dadiorchen commented on #132
Yes, this is actual the most important task for us

[2021-12-19 02:46] dadiorchen commented on #132
Do you want to take it?

[2021-12-19 08:41] jupiterdoom commented on #132
the issue looks to be fully/nearly completed
![image](https://user-images.githubusercontent.com/11030075/146668787-f8cccdea-4de5-481e-86c6-d681565a599d.png)

[2021-12-19 23:05] jwgatt opened #376 "Module not found error; @emotion/cache"
When I run `npm run dev:mock` the project fails to compile, throwing a module not found error. See the image below.
On removing @emotion/cache, it throws on the next imported module.

I'm running the most recent build.

![Screenshot from 2021-12-19 23-56-37](https://user-images.githubusercontent.com/79326421/146693932-fddcbc7b-129d-4609-b17b-71acac926988.png)

Anyone else having this issue?

[2021-12-20 01:20] dadiorchen commented on #132
Some guys have helped to integrate parts of this page, yes, the page looks fine now, the only thing left is the integration test, we need cover this page by integration cypress test, if you are interested, you can write test for this, if not interested, it's also fine, please take a look others, here are some of them:
https://github.com/Greenstand/treetracker-web-map-client/issues/304
https://gith

[2021-12-20 01:22] dadiorchen commented on #376
Did you re install packages after checking out the new code? `npm i`

[2021-12-20 02:02] jwgatt commented on #376
Yes. I'll fork it from master again in case its something local on my machine.

[2021-12-20 03:33] arcadioramos commented on #331
The issue is done :) @dadiorchen

[2021-12-20 06:21] jupiterdoom commented on #132
@dadiorchen thanks, i would take #334. Can you add me in slack: jupiterdoom@gmail.com

[2021-12-20 14:24] VWRoli commented on #367
It actually works on your computer too @dadiorchen. Take a look at the URL. When the map loads fully, the URL changes from `/organizations/1` to `/organizations/1/?bounds=...`. When you click back it goes back to `/organizations/1`, if you click again soon the page goes back to the tree page, but if you wait the URL changes again to  `/organizations/1/?bounds=...`. So you just have to click a coup

[2021-12-20 16:11] VWRoli opened #380 "Merge time and location component"
The time and location component is basically the same, it could be solved with one reusable DataTag component.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization, vi

[2021-12-21 01:26] dadiorchen commented on #376
Just in case you forgot, we are on `web-map-site` branch

[2021-12-21 01:37] dadiorchen commented on #380
I was thinking a function or component to handle the location translation, like: give a coordinate then get the location name, so I planed a location component, but it's find you merge them together, we can consider using a function (or hook) to do it, yea, maybe this is a better solution.

[2021-12-21 02:29] Siddhant-K-code commented on #365
It's working Now

Updated Test: https://github.com/Greenstand/treetracker-web-map-client/actions/runs/1590895567

[2021-12-21 02:29] #365 closed

[2021-12-21 03:54] jwgatt commented on #376
Npm wasn't able to install the dependencies properly and kept on failing, so I used yarn to install and now it runs fine.

[2021-12-21 03:54] #376 closed

[2021-12-21 14:39] VWRoli commented on #380
We can still use a function or a hook, even if they are the same component. I think so at least:D

[2021-12-22 02:50] pratikmdhr commented on #257
I'd like to try this one

[2021-12-23 00:04] pierrelstan commented on #132
@dadiorchen, I can work on this?

[2021-12-23 01:18] dadiorchen commented on #298
I guess @Koda-Pig is unavailable on this now, so if anyone can take over, it would be great, and also, his work is a good reference: https://github.com/Greenstand/treetracker-web-map-client/pull/348

[2021-12-23 01:22] dadiorchen commented on #257
@pratikmdhr thank you! because we made some refactor, so this issue should be solved in the new repo:
https://github.com/Greenstand/treetracker-web-map-core
basically, all those things relevant to map, should be move to the core,

[2021-12-23 01:38] dadiorchen commented on #132
Sure!

[2021-12-23 01:47] pierrelstan commented on #132
Thank you

[2021-12-23 14:38] urtadolg commented on #334
Hello, I would like to work on this issue

[2021-12-23 23:04] cavesdev commented on #310
Hello! I want to work on this. Just to be clear, do you mean integrating a third party button like this?
![143554033-e7f9ab60-da97-403e-a109-92e1d12d7bc3](https://user-images.githubusercontent.com/24899540/147298124-79c4b984-9fcd-47e3-a20c-abf015be5779.jpg)

Or using the same button?

[2021-12-24 01:04] dadiorchen commented on #310
My original idea is to adopt a 3rd party service like facebook, but with a customized appearance, what do you think?

[2021-12-24 02:38] cavesdev commented on #310
Now that I think of it... Using Facebook (for example) as a third party service provider would mean that the like button would have to be linked in some way to a photo or page inside Facebook.
I think it falls outside the scope to keep a Facebook page up to date with the photos. Is there plans to add treetracker accounts? maybe we can wait until then to implement a like or favorite button.

[2021-12-24 02:44] cavesdev commented on #334
Meanwhile, I can work on this component. I saw that this issue #303 is related, while it is not solved I can put the whole planter's photo as a placeholder.

[2021-12-24 16:44] dagmawig commented on #333
Has this issue been completely solved? It looks like you have press back button twice for it to work.

[2021-12-25 02:51] dadiorchen commented on #310
Do we just need an account of FB and a homepage then we can implement this feature, or we need to copy all the photos to FB?

[2021-12-25 02:56] dadiorchen commented on #310
I found this: https://developers.facebook.com/docs/plugins/like-button/

[2021-12-25 03:07] dadiorchen commented on #333
Oh, you also encountered the problem right?
I mentioned it in another issue: https://github.com/Greenstand/treetracker-web-map-client/issues/367
I'm not sure they are the same, but there also are some problems with it on my computer.

[2021-12-25 03:08] dadiorchen commented on #333
@dagmawig maybe you can help to check the back button code and try to fix it?

[2021-12-26 15:37] VWRoli opened #383 "Information card background color does not match design"
Information card background color does not match the Figma design.
Looks like this:
![Screenshot from 2021-12-26 16-35-11](https://user-images.githubusercontent.com/31432331/147412946-be0fbce5-6d6d-4d11-b76a-d08736b31178.png)

Should look like this:
![Screenshot from 2021-12-26 16-35-09](https://user-images.githubusercontent.com/31432331/147412933-ba88b29f-b668-4c30-bbff-1594c8916f65.png)

---

So

[2021-12-27 09:09] VWRoli commented on #304
Working on this

[2021-12-28 01:26] pierrelstan commented on #212
I want to work on this one @dadiorchen

[2021-12-28 01:51] #357 closed

[2021-12-28 01:55] #380 closed

[2021-12-28 02:00] dadiorchen commented on #212
@pierrelstan this has been finished, I will close it.

[2021-12-28 02:00] #212 closed

[2021-12-28 03:05] pierrelstan commented on #345
Can I work on this? @dadiorchen

[2021-12-28 03:27] dadiorchen commented on #345
Great! I think this is a challenging one, go ahead!

[2021-12-28 04:09] dadiorchen commented on #304
@VWRoli , another volunteer suggested this lib: https://www.react-simple-maps.io/
it's interesting

[2021-12-28 04:14] dadiorchen commented on #304
Maybe it's not so necessary for the current case of showing just continents, but I'm thinking maybe it's useful for future use when we need to present the data by `country` rather than `continents`

[2021-12-28 04:16] dadiorchen commented on #304
But I don't know if it is customizable to set up the UI to follow our design.

[2021-12-28 05:04] QuaidBartolomei opened #386 "CustomImageWrapper component test fails"
The newly added workflow tests are not passing. It is important that we get these tests to pass and keep it that way for the workflows to be effective. Here is the failed workflow action from a [test PR](https://github.com/QuaidBartolomei/treetracker-web-map-client/pull/5) on my fork https://github.com/QuaidBartolomei/treetracker-web-map-client/actions/runs/1629151642 . It seems to be an issue wit

[2021-12-28 07:37] VWRoli commented on #304
I started with this for the continents: https://www.npmjs.com/package/react-world-map
But if we want to show the data by countries then maybe simple maps would be better. Should I go for countries then?

[2021-12-28 17:59] pierrelstan commented on #345
Thank you

[2021-12-28 20:46] pratikmdhr commented on #280
Can I work on this??

[2021-12-29 01:19] #386 closed

[2021-12-29 01:21] dadiorchen commented on #304
No, let's do it in the future, your implementation is good enough IMO!

[2021-12-29 01:23] dadiorchen commented on #304
What a powerful world of NPM library, so many libs available, I was thinking I need to find some svg of the map and do some CSS styling, but now there are some lib for it :D

[2021-12-29 01:26] dadiorchen commented on #280
@pratikmdhr sure!

[2021-12-29 01:37] dadiorchen opened #389 "Mobile search box"
Implement a component, fits the mobile screen.
Don't need to implement the search logic, just the component.

![image](https://user-images.githubusercontent.com/5744708/147619327-9bde4b21-c310-4038-86d8-796c6502745b.png)

---

Some hints for building components:

- This kind of issue is about creating a new component, it might not need to mount it in the whole app, to know how to create a componen

[2021-12-29 03:47] pratikmdhr commented on #280
Thanks!

[2021-12-29 06:09] dagmawig commented on #389
I will work on this.

[2021-12-29 07:16] VWRoli commented on #304
That's why I love React, there is a library for almost everything.

[2021-12-30 03:09] pratikmdhr commented on #308
I'd like to work on this one

[2021-12-30 19:24] cavesdev commented on #310
Doing further testing, I think that the plugin uses the URL to track the like count. In the web-map-site branch, every tree has a unique URL so it can be possible to implement it, the caveat is that users must have a Facebook account to give likes.

Also, I have not found a way yet to customize the like button further than the basic options provided. The blue and white colors are too different fro

[2021-12-31 06:21] dadiorchen commented on #308
It's yours now

[2021-12-31 06:26] dadiorchen commented on #310
good progress, thanks @cavesdev ! yes, I think requiring FB account is acceptable, considering it's the biggest social media.

I had that worry too, I think we can just try the best to do it, if we can't eventually, it's fine to display the Facebook-style button on the position.

[2022-01-03 13:39] VWRoli opened #392 "Miscellaneous minor errors/warnings"
**Describe the bug**
Miscellaneous minor errors/warnings in the console like:

`Expected server HTML to contain a matching <a> in <a>`

`classname should be className`

`Failed prop type: Invalid prop `children` supplied to `ForwardRef(Typography)`,`

`validateDOMNesting(...): <a> cannot appear as a descendant of <a>.`

**To Reproduce**
Run the app and open the console.

**Expected behavior**
Cons

[2022-01-03 18:46] cavesdev commented on #310
Apparently, according to [Facebook's Policy](https://developers.facebook.com/devpolicy), the brand's assets cannot be changed further than the customization options provided (almost none).
Additionally, the like button plugin builds the component on Facebook's side, so customization is also not possible. So, it seems that we are bound to using the Facebook's traditional like button.

It would look

[2022-01-04 02:19] #132 closed

[2022-01-04 02:24] #366 closed

[2022-01-04 02:28] #280 closed

[2022-01-04 03:02] dadiorchen commented on #310
Great, can you raise a PR for this, I think it is worth a try for us, do I need to give you any FB account stuff?

[2022-01-04 19:50] cavesdev commented on #310
No extra data is needed. The only requirement is that users must have a FB account to like a tree.

[2022-01-07 02:12] #383 closed

[2022-01-08 06:55] sebastiangaertner opened #397 "trees.planting_organization_id does not get considered"
The admin panel allows the overwrite through trees.planting_organization_id but the web map does not consider this.
Specific case scenario:

"The Haiti Tree Project" (id = 194) plants trees for "Trees that feed" (id = 952)
Look up SELECT * from trees where trees.planting_organization_id = 952 and find these 33 captures. These do not appear on the web map.

[2022-01-10 01:39] #389 closed

[2022-01-11 01:10] #308 closed

[2022-01-13 01:48] #334 closed

[2022-01-13 08:17] dadiorchen opened #400 "Tiny UI layout flaw"
The filter component do not display well in mobile version, please help us improve it, like the two inputs are too close to each other.
<img width="355" alt="Screen Shot 2022-01-13 at 4 15 17 PM" src="https://user-images.githubusercontent.com/5744708/149291748-ff844232-42f0-42bd-8e81-e3406798823c.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-

[2022-01-13 09:17] dadiorchen opened #401 "Can not highlight the icon when upgrading to core@v1.1.0"
https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-01-13%20at%205.13.18%20PM.mp4

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization, visit our

[2022-01-13 21:53] dadiorchen opened #405 "Improve a typography"
The typography in the picture is too large for mobile.

In this case, we used the static font CSS, it's wrong, we should use the global theme, like the `h2`

<img width="1440" alt="Screen Shot 2022-01-14 at 5 50 21 AM" src="https://user-images.githubusercontent.com/5744708/149414656-219de227-266c-41c8-ae3b-0d7087147387.png">

---

Some hints:

- Please read our [readme](https://github.com/Greensta

[2022-01-13 22:01] dadiorchen opened #406 "The mobile drawer should have a fixed title area"
As shown in the picture, the red box area is fixed, which means, when you want to scroll the panel (the whole area in the drawer) you need to touch the area under the red box, and, the area in red box can not be scrolled, it will be always fixed on the top.

Also, if you touch and pan the red box, the drawer will be moved.

<img width="1440" alt="Screen Shot 2022-01-14 at 5 56 36 AM" src="https://

[2022-01-13 22:07] dadiorchen opened #407 "Title area for planter page on mobile version"
<img width="1440" alt="Screen Shot 2022-01-14 at 6 05 49 AM" src="https://user-images.githubusercontent.com/5744708/149416574-2a775299-2c8d-443d-a34d-c5a82e5e5451.png">

Prerequisites: #406
---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.git

[2022-01-13 22:09] dadiorchen opened #408 "Title area for org page on mobile version"
<img width="1440" alt="Screen Shot 2022-01-14 at 6 05 27 AM" src="https://user-images.githubusercontent.com/5744708/149416737-04552fc3-6220-465f-917d-61df2ac569e1.png">

Prereqirsets: #406
---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitb

[2022-01-13 22:11] dadiorchen opened #409 "Tiny css problem: the second box is too high"
It's because the words wrap I guess
<img width="1440" alt="Screen Shot 2022-01-14 at 6 09 50 AM" src="https://user-images.githubusercontent.com/5744708/149417002-2fe06f75-7ba2-4de5-bcb7-bac8ff156a60.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https:

[2022-01-13 22:19] dadiorchen opened #410 "Refine the layout of these two section"
* Don't use static CSS like fontSize, use theme instead. (like h2)
* Make sure every element respects the design (pading, margin, font family, font size)
* Check the mobile version too.

<img width="1440" alt="Screen Shot 2022-01-14 at 6 17 20 AM" src="https://user-images.githubusercontent.com/5744708/149417881-d18980a5-d56d-4a78-a4fa-098e031bc4fe.png">

---

Some hints:

- Please read our [readme

[2022-01-14 02:16] #345 closed

[2022-01-14 02:19] #400 closed

[2022-01-14 10:35] VWRoli opened #413 "Styling issues on planter page"
**Describe the bug**
Working on #410 noticed some color issues on the planter page, issues with the Divider component, and the classes not working.

**To Reproduce**
Take a look at the planter page

**Expected behavior**
Planter page should have proper colors according to the design.

**Screenshots**

![Screenshot from 2022-01-14 11-34-17](https://user-images.githubusercontent.com/31432331/1495017

[2022-01-14 10:35] VWRoli commented on #413
Working on this

[2022-01-15 02:04] #409 closed

[2022-01-15 02:08] #410 closed

[2022-01-15 02:09] #405 closed

[2022-01-15 07:09] dadiorchen opened #417 "A default background image."
There are places we don't have image URL data to show the image, like below planter photo, so we need a default image to fill in the place.

Could be a greenstand icon https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2972%3A12553

![image](https://user-images.githubusercontent.com/5744708/149612961-8d757209-52f1-4efb-8344-5be4d0a82c33.png)

---

Some hints:

- Please rea

[2022-01-16 14:26] VWRoli commented on #406
I don't think this is solvable without some complex reorganization.
My first thought to implement this is to create a `TitleArea` component, place it into the org/planter page. Give it the fixed style required. This can return the children components. But this way we can't move the drawer with this.

_app > LayoutMobile > Dawer > PageWrapper > orgPage
To be able to pull the drawer we need this `Ti

[2022-01-17 01:41] dadiorchen commented on #406
Yes, I got your point, there might be some difficulty when we want to build a dynamic-title-area-drawer, right?
@pierrelstan has done something relevant, what do you think, if I understand it correctly, you are putting the title area on your specific page, right?

[2022-01-17 07:08] VWRoli commented on #406
Yes, exactly.

[2022-01-17 09:02] dadiorchen opened #420 "Deploy the branch: web-map-site to dev env"
We have an action to deploy `master` to envs, but now the branch `web-map-site` is a bit different:

* Instead of deploying static file to CDN, now we need to deploy a next.js server to envs.
* Need to iron out how to build and deploy next.js to production env.
* The release bot should take version: 2.0.0 as the start point and increase it in the future deployment. (so now we got 1.x for old map,

[2022-01-17 09:03] dadiorchen commented on #420
@QuaidBartolomei @Siddhant-K-code any suggestion on this?

[2022-01-17 09:06] dadiorchen opened #421 "The continents on the map shouldn't be click able, and the cursor shouldn't change to pointer when mouse hoving on them."
https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-01-17%20at%205.04.59%20PM.mp4

[2022-01-17 09:14] dadiorchen opened #422 "Is it possible to speed up our test?"
Now we need to take about 10m+ to run all tests, is there any problem in the progress? Are we able to speed it up?

<img width="1440" alt="Screen Shot 2022-01-17 at 5 12 50 PM" src="https://user-images.githubusercontent.com/5744708/149741190-e839971c-0f42-48be-806b-663f86e8e90b.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-

[2022-01-17 09:23] #417 closed

[2022-01-19 06:08] QuaidBartolomei commented on #406
![image](https://user-images.githubusercontent.com/59486980/150073129-b3fa62f4-14c5-4ac0-80de-77d77fccba77.png)

This is the current drawer. Perhaps this red area could be made transparent (removed) while the drawer button could still overlap this area to help with touch inputs.

Another issue I noticed is that the drawer will initially snap downwards when I begin dragging it upwards. This causes

[2022-01-19 06:24] QuaidBartolomei commented on #406
@VWRoli Did you consider a context provider? The nested `TitleArea` component could manipulate the `Drawer` with `useContext`. A `MobileLayoutProvider` could have a `drawerHeight` state property and `setDrawerHeight` reducer. The Drawer component would use this context to manage its height and any nested component could implement the reducer to manipulate it.

[2022-01-19 06:27] QuaidBartolomei commented on #311
@dadiorchen can this issue be closed?

[2022-01-20 07:33] dadiorchen opened #425 "Refine the planter photo layout"
Now, it's:
* Too big
* Maybe rounded convert is better, please refer to the UI design in Figma.
* Maybe need to tweak image/background layout to fit into the photo frame, the original photo direction usually is 'portrait', but our design layout is 'landscape'.

![image](https://user-images.githubusercontent.com/5744708/150293551-fa4cadaf-7626-4d54-a6f2-2571fab80f8f.png)

---

Some hints:

- Please

[2022-01-20 07:36] dadiorchen opened #426 "Hide the full name of the planter."
Here the planter name is 'Sebastian Gaertner', we need to hide the full last name like: 'Sebastian G'.

Please put the code into a reusable function and put it into the `utils.js' file.

![image](https://user-images.githubusercontent.com/5744708/150293663-2060ec44-0d49-4d28-970f-2d25e985be5f.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client

[2022-01-20 07:56] dadiorchen commented on #406
So the drawerHeight state will control the height of the drawer? do think it will impact the performance of the UI because your drawer position need to bind with a React state?

[2022-01-20 07:56] dadiorchen commented on #311
Sure!

[2022-01-20 07:56] #311 closed

[2022-01-20 08:44] dadiorchen opened #427 "A Tag chip component"
Please check the layout on both mobile and desktop:

<img width="1440" alt="Screen Shot 2022-01-20 at 4 43 44 PM" src="https://user-images.githubusercontent.com/5744708/150303836-cc7800a1-8282-4c71-a7f2-5e62de2d1e49.png">
<img width="1440" alt="Screen Shot 2022-01-20 at 4 42 13 PM" src="https://user-images.githubusercontent.com/5744708/150303845-80961a2b-ccc0-4656-b1e2-ed898f8635ca.png">

---

Som

[2022-01-20 08:54] dadiorchen opened #428 "Implement a simple search function and result list"
<img width="1440" alt="Screen Shot 2022-01-20 at 4 50 53 PM" src="https://user-images.githubusercontent.com/5744708/150305065-15c5b07b-c9ec-4478-bf01-306b42ba3d9b.png">

The search function is simple, just be able to search by id, and use API: /trees/[id] /planters/[id]  and /organizations/[id] to fetch the exact id of the data, and show it in the list, then, click the item could be able to jump t

[2022-01-20 08:58] dadiorchen commented on #428
Please also adapt the mobile version: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=5336%3A18414
But, if the adaption is too complicated, consider implementing it with a separate component.

[2022-01-20 08:59] dadiorchen opened #429 "Embed version of the map."
Basically, the online version now: http://map.treetracker.org is an embed version, just a map container, wither banner, panel on the left, just a raw box, so it's easy to be embedded into other websites, mobile apps, and so on.

So this issue is about implementing the map box the same as the map.treetracker.org, but, with the new UI design.

---

Some hints:

- Please read our [readme](https://git

[2022-01-20 09:11] dadiorchen opened #430 "A dark style theme of the whole app"
Because we need to embed the map to other partners' websites/apps, we need to be able to switch to a dark style appearance.

This is an example: https://www.treetown.finorx.com/map?tree_name=future-beautiful-green

![image](https://user-images.githubusercontent.com/5744708/150308356-6a824cb9-eeda-4e7f-a206-2ad5aef50471.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstan

[2022-01-20 09:12] dadiorchen commented on #430
@VWRoli do you think it's possible?

[2022-01-20 09:17] dadiorchen opened #431 "A mechanism to modify the them in a preview sandbox"
We are going to provide the greenstand map to other partners, so they can embed the map to their products, like websites, and mobile apps.

So we plan to offer an online sandbox to let our partners customize the appearance of the map app. Kind of like we do when we want to custom the theme of our Twitter profile.

At this early stage, don't need to consider the data storage and permission, just im

[2022-01-20 09:21] VWRoli commented on #430
I don't see why not. MUI can handle themes so I think it's doable. Assign it to me, and I will take a look at it more deeply.

[2022-01-20 09:38] dadiorchen commented on #430
Yes, I think this is a meaningful feature, we are going to provide a way to customize the UI. And if you run into any trouble in terms of the UI we can definitely get our designer involved to help.

[2022-01-21 01:30] #310 closed

[2022-01-21 08:59] dadiorchen opened #432 "The menu icon"
Please implement the same icons as designed in Figma.
<img width="1440" alt="Screen Shot 2022-01-21 at 4 57 32 PM" src="https://user-images.githubusercontent.com/5744708/150497575-88fa1633-2a24-49df-aeab-24b354eac4a2.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engine

[2022-01-22 03:06] dadiorchen opened #434 "Need to remove this default CSS property"
The typography element will automatically add the letter-spacing, but we can not find it in the project, we need to set it to '0';

<img width="1440" alt="Screen Shot 2022-01-22 at 11 04 39 AM" src="https://user-images.githubusercontent.com/5744708/150622555-38a27e0d-b967-4404-9af2-3d851419d1d8.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-cl

[2022-01-22 05:14] Krish-bhardwaj commented on #434
Hi i am a fresher looking for some opensource contribution can u help me out i want to contribute to your project and can u assign me this project :)

[2022-01-22 05:25] mayankdp commented on #428
Hello, I have an assignment on Software Development Methodology where I have to contribute to an open-source repository. I am very interested in working on this issue. So can I work on this issue?

[2022-01-22 06:51] dadiorchen commented on #434
:) @Krish-bhardwaj sure, thank you!

[2022-01-22 06:52] dadiorchen commented on #428
Sure, thanks, @mayankdp I have assign this issue to you, and if you want you can leave me your email I will invite you into the Slack community.

[2022-01-22 06:53] #401 closed

[2022-01-22 06:55] codyconway77 commented on #434
I found a fix. Don't want to step on any toes and take away the opportunity from Krish-bhardwaj. Would it be ok to open a PR with my fix in just in case the issue goes stale?

[2022-01-22 07:00] mayankdp commented on #428
Awesome. Thank you very much.
Here is my email: mpatel9.com@gmail.com

[2022-01-22 07:10] Krish-bhardwaj commented on #434
@dadiorchen i have solved this issue ( i am in my very early stages of my contribution this is my second opensource contribution requested to merge my PR )

[2022-01-22 15:15] codyconway77 commented on #434
I believe this is the fix. Referenced the MUI docs at https://mui.com/customization/theme-components/#global-style-overrides
[code]

[2022-01-22 15:18] codyconway77 commented on #434
#435

[2022-01-24 03:58] dadiorchen commented on #420
I suppose the workflow would be:
1. A new action to work on branch `web-map-site`
2. Build the project with: `npm run build`
3. The workflow is similar to any microservice we have : for example: https://github.com/Greenstand/treetracker-query-api/actions/runs/1707038476/workflow

[2022-01-24 06:22] dadiorchen commented on #434
@dark-teal-coder thanks, it's intresting, I wonder where the original left-spacing is from?

[2022-01-24 06:25] #422 closed

[2022-01-24 06:28] #298 closed

[2022-01-25 01:25] #432 closed

[2022-01-25 03:05] pratikmdhr commented on #427
I'll work on this one

[2022-01-26 02:32] #242 closed

[2022-01-26 02:32] #294 closed

[2022-01-26 02:32] #297 closed

[2022-01-26 02:33] #333 closed

[2022-01-27 23:38] dadiorchen commented on #430
@VWRoli don't hesitate if you need the help from the designer on this, I will establish the connection for you

[2022-01-28 04:02] dadiorchen opened #441 "Refine page: http://localhost:3000/top"
* Refine the CSS to strictly respect the UI design.
* Include desktop and mobile version.
* You can refer to http://localhost:3000/ the home page.
* Some CSS hints: https://greenstand.gitbook.io/wallet-web-app/css-and-materialui-guideline

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- He

[2022-01-28 04:03] dadiorchen opened #442 "Refine page: http://localhost:3000/trees/186736"
* Refine the CSS to strictly respect the UI design.
* Include desktop and mobile version.
* You can refer to http://localhost:3000/ the home page.
* Some CSS hints: https://greenstand.gitbook.io/wallet-web-app/css-and-materialui-guideline

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- He

[2022-01-28 04:04] dadiorchen opened #443 "Refine page: http://localhost:3000/planters/940"
* Refine the CSS to strictly respect the UI design.
* Include desktop and mobile version.
* You can refer to http://localhost:3000/ the home page.
* Some CSS hints: https://greenstand.gitbook.io/wallet-web-app/css-and-materialui-guideline

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- He

[2022-01-28 04:06] dadiorchen opened #444 "Refine page: http://localhost:3000/organizations/1"
* Refine the CSS to strictly respect the UI design.
* Include desktop and mobile version.
* You can refer to http://localhost:3000/ the home page.
* Some CSS hints: https://greenstand.gitbook.io/wallet-web-app/css-and-materialui-guideline

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- He

[2022-01-28 17:03] VWRoli commented on #430
Alright, thank you. I haven't even started yet. Don't know what I will need yet.

I had to finish a personal project, but I will definitely start working on it this weekend.

[2022-01-29 02:29] dadiorchen commented on #430
:D no rush @VWRoli

[2022-01-29 09:46] dadiorchen opened #445 "The like button animation is slow"
https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-01-29%20at%205.44.53%20PM.mp4

It makes more sense to keep the like button showing, so this issue is about simply removing the animation, showing the button permanently.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.

[2022-01-29 09:53] dadiorchen commented on #236
@ojafero I will close this issue, we are going to rebuild this feature.

[2022-01-29 09:53] #236 closed

[2022-01-29 09:55] dadiorchen opened #446 "Use the API to display country name."
Please use the query API: /countries?lat=x&lon=x to display the country name for planter page.

![image](https://user-images.githubusercontent.com/5744708/151656477-5bb28eda-d2bd-4b2e-b4fc-7fdfe5408645.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](http

[2022-01-29 10:37] VWRoli commented on #421
`This XML file does not appear to have any style information associated with it. The document tree is shown below.`

I get the above error when I try to click on the video @dadiorchen

[2022-01-29 14:27] Aman-Mandal commented on #445
Can I work on this issue?

[2022-01-30 02:22] dadiorchen commented on #421
@VWRoli my falt, can you try it again?

[2022-01-30 02:25] dadiorchen commented on #445
Yes, @Aman-Mandal :)

[2022-01-30 02:28] #442 closed

[2022-01-30 03:34] dadiorchen opened #449 "Broken flags"
There are several flags broken, please fix them.

<img width="1440" alt="Screen Shot 2022-01-30 at 11 32 44 AM" src="https://user-images.githubusercontent.com/5744708/151685657-e4d50657-acea-4f86-b125-1c99c1eb75f2.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineeri

[2022-01-30 03:50] #201 closed

[2022-01-30 03:50] #246 closed

[2022-01-30 03:51] dadiorchen commented on #303
This issue is open for everyone for an experiment or trying.

[2022-01-30 03:52] dadiorchen commented on #332
This issue is open for everone

[2022-01-30 03:53] #341 closed

[2022-01-30 03:54] dadiorchen commented on #428
@mayankdp do you get any progress on this?

[2022-01-30 04:04] mayankdp commented on #428
I have started working on it. Sorry, I do not have anything to report yet.

[2022-01-30 07:47] Aman-Mandal commented on #445
Thankyouu :) ..I ll try to do this as soon as possible.

[2022-01-30 07:59] VWRoli commented on #449
It's an API problem @dadiorchen. As I described it in the PR.

The solution to this is to either the API should return the country ISO codes so we can use them and avoid conversion. Or the names should be the correct official English names.

[2022-01-30 11:06] VWRoli commented on #421
How do we display the tooltip if it is not clickable?

[2022-01-31 07:47] VWRoli commented on #441
Working on this

[2022-02-01 05:02] dadiorchen commented on #449
Get it, but I thought correcting the data in DB is kind of time-consuming, maybe we could have some workaround?

[2022-02-01 05:03] dadiorchen commented on #421
The tooltip is displaying consistently.

[2022-02-01 05:04] dadiorchen commented on #421
I mean displaying directly

[2022-02-01 05:05] #443 closed

[2022-02-01 05:07] #444 closed

[2022-02-01 06:51] VWRoli commented on #421
So the tooltip will be always be shown.
We get a continent name and that's where the tooltip will be shown right?
The user can't interact with the map.
Can we get multiple continents? Will we show multiple tooltips above multiple continents?

[2022-02-01 07:06] VWRoli commented on #449
We can fix the names with some conditional statements for the wrong country names.

[2022-02-03 05:45] jwgatt commented on #446
We want the country of the planter displayed in the url?

[2022-02-03 06:17] dadiorchen commented on #421
You are right, currently, the case of the mutiple continents is impossible, so don't worry about that.

[2022-02-03 06:19] #449 closed

[2022-02-03 12:13] jwgatt commented on #425
On it.

[2022-02-04 00:04] pratikmdhr opened #454 "Grey area appears on top of the map when it first loads"
**Describe the bug**
A grey area appears on top when the map first loads

**To Reproduce**
Steps to reproduce the behaviour:
Visit https://map.treetracker.org, when the map first loads with browser zoom level set at 100%, grey bar appears on top of the map

**Screenshots**
![grey-bar](https://user-images.githubusercontent.com/52301822/152449465-3ea827d9-8bfb-4939-9787-59829bf605bb.png)

**Desktop:

[2022-02-05 01:53] #441 closed

[2022-02-06 15:41] jwgatt commented on #425
Do we want something like this?
![Screenshot from 2022-02-06 16-38-50](https://user-images.githubusercontent.com/79326421/152688671-ba7c3f2e-2043-449d-aa65-31b4d5a12474.png)

[2022-02-06 18:51] stellarjaysoftware commented on #446
I'm working on this one.  Should have a draft PR submitted tonight (Sun).

[2022-02-06 21:12] jwgatt commented on #425
Something like this?

![Screenshot from 2022-02-06 22-05-42](https://user-images.githubusercontent.com/79326421/152701540-3d9e1c70-a8d0-4e6a-a976-b48daca7e0a4.png)

[2022-02-06 21:16] jwgatt commented on #425
@dadiorchen Something like this?
![Screenshot from 2022-02-06 22-05-42](https://user-images.githubusercontent.com/79326421/152701687-62695fe6-1158-4a33-8496-65636ed568bd.png)

[2022-02-07 01:29] dadiorchen commented on #425
Yes, this is good, I think a smaller corner radius is better.

[2022-02-07 02:48] stellarjaysoftware commented on #83
Is this issue still relevant?

I could not find how the Share component was used in the newest version of the app.  It appears that the [SidePanel component](https://github.com/Greenstand/treetracker-web-map-client/blob/web-map-site/src/components/SidePanel.js) which includes the [Share component](https://github.com/Greenstand/treetracker-web-map-client/blob/web-map-site/src/components/Share.js) i

[2022-02-07 06:25] dadiorchen opened #458 "The online map app can not update the bounds in browser address"
After pan or zoom the map, the browser address should be updated with the current bounds.
Please check out `master` for this issue.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about

[2022-02-07 06:28] dadiorchen opened #459 "The online web map app can not highlight the cluster icon."
When the mouse hoving on the cluster icon, the icon should be highlighted.
Please checkout `master` to do the job.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization

[2022-02-07 07:12] dadiorchen commented on #454
My computer is macOS 10.15.7 monitor resulution:  (2560 x 1600)
Browser: Chrome, there isn't the grey blank area.

[2022-02-07 07:16] #426 closed

[2022-02-07 07:18] #371 closed

[2022-02-07 07:18] #368 closed

[2022-02-07 07:20] dadiorchen commented on #367
Yes, I think to solve this problem, we need to ignore the bounds URL in the history stack, which means, when we update the URL with bounds, we don't push it into the browser history stack

[2022-02-07 07:21] #340 closed

[2022-02-07 07:22] dadiorchen commented on #338
Generally, we need to keep the org's / planter's context when we operate on the map.

[2022-02-07 07:23] dadiorchen commented on #229
@QuaidBartolomei can we close this one now?

[2022-02-07 07:30] dadiorchen commented on #83
I suggest we do this feature on the new version. @sebastiangaertner we didn't implement this yet, I will open an issue on this, and also, let the designer design a button for this.

[2022-02-07 07:40] dadiorchen opened #460 "Implement the share function"
We need to implement the share function for almost every page, like: tree, planter, org, we will use the same design for the wallet web, so please copy the component from that repo :
https://github.com/Greenstand/treetracker-wallet-web/blob/main/src/components/Share.js

The design is here: https://www.figma.com/file/vOCKDnXrejCASuQQyZPYYR/Wallet-Web-App---Master?node-id=1021%3A1314

(Also, we are

[2022-02-07 07:41] dadiorchen commented on #460
@stellarjaysoftware Please take a look at this

[2022-02-07 07:44] dadiorchen opened #461 "A solution to share/reuse components crossing repositories."
For example, the share components, they are the same between wallet app and web map app, so we need to find a good solution to share the components crossing repos.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in

[2022-02-07 07:45] dadiorchen commented on #461
@QuaidBartolomei can you send the link of the component lib platform you mentioned before?

[2022-02-07 10:12] QuaidBartolomei commented on #461
Here's the one that I mentioned: https://bit.dev

each component is managed as a separate npm package. You can browse public components on the site.

v15 (known as bit harmony) is still in beta. I think the component management is much easier in this new version:
 https://harmony-docs.bit.dev/getting-started/installing-bit/

[2022-02-07 16:00] pratikmdhr commented on #454
I have Windows 10 on my system, and the grey area doesn't appear on Chrome. So may be this is a Ubuntu Issue?

[2022-02-07 16:02] pratikmdhr commented on #454
I just tested it on Windows 10, and the grey area doesn't appear on Chrome. So may be this is a Ubuntu Issue?

[2022-02-07 21:17] QuaidBartolomei commented on #229
@dadiorchen Not yet, the issue of Cypress not working as intended still exists and we have `npm run cyux` as a workaround. We can close this after the cypress issue is patched.

[2022-02-07 23:09] pratikmdhr commented on #454
Its actually showing up on Windows too, its the same device and monitor.. OS - Windows 10 Build 19042, Monitor 1920 X 1080,
![image](https://user-images.githubusercontent.com/52301822/152887502-abba9ee2-384d-4a2b-b1e4-3eaf7f69a775.png)

[2022-02-07 23:13] pratikmdhr commented on #454
Its actually showing up on windows too.. Its the same system i use for Ubuntu.. OS - Windows 10 Build 19042, 100 % Desktop Scaling 1920 X 1080. Browser - Chrome Version 98.0.4758.82 100% Zoom level
![image](https://user-images.githubusercontent.com/52301822/152887930-48b3595a-e0ef-44c3-b650-f162b48661e1.png)

[2022-02-08 00:32] pratikmdhr commented on #454
@dadiorchen, I think its related to the scaling of OS and size of the monitor. The grey area seems to disappear if Desktop scaling of 125% is used on windows.. Also tried it on Ubuntu (text scaling 1.25) and it goes away..
So i guess this issue is related to not just the resolution of screen, but also the size of the monitor.. I'm using a 24" monitor with 1080p resolution with 100% scaling, thats

[2022-02-09 02:32] dadiorchen opened #465 "The script to populate data to raw_capture_feature"
We need a script/dag/ELT to populate data from the source to the `webmap.raw_capture_feature`.

It has two meanings:
* We can run it agianst the dev DB, so we can do web map client test based on the data.
* It's useful for future data refresh when needed, drop and update the how data at a time.

[2022-02-09 02:33] dadiorchen commented on #465
@ZavenArra we need the data for testing, now the table in webmap is empty.

[2022-02-09 06:32] dadiorchen opened #466 "The tree icon should be in selected mode when open a single tree's page"
like this: http://localhost:3000/trees/920811

![image](https://user-images.githubusercontent.com/5744708/153134904-bbb194f6-fb67-4342-ad56-73e78e732dd3.png)

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-02-09%20at%202.30.03%20PM.mp4

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more informati

[2022-02-10 00:40] #427 closed

[2022-02-10 07:12] dadiorchen opened #469 "Missing title of pic on the slider component"
Implementation:
![image](https://user-images.githubusercontent.com/5744708/153355887-799c6dcb-0375-44e4-8f0a-6b3773cd4e4d.png)

Design:
![image](https://user-images.githubusercontent.com/5744708/153356103-1c16e8a6-6885-4ed3-98e7-2d2b64add3cc.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutori

[2022-02-12 02:02] GabZhou commented on #466
Hi Dadior, I would love to work on this issue :)

[2022-02-14 07:46] dadiorchen opened #475 "A mechanism and utils functions to save some status of the website."
Use localStorage of other (please suggest) for the website to save some status of the application, like: the dark/light mode of the theme/UI.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know

[2022-02-14 07:49] #332 closed

[2022-02-16 14:29] VWRoli commented on #421
Where do we get the continent from? Do we have an API call for that? @dadiorchen

[2022-02-17 01:24] #445 closed

[2022-02-17 01:39] dadiorchen commented on #421
I planed to get the continent by this:
https://dev-k8s.treetracker.org/query/continents?lat=8&lon=10
response:
{
  name: "Asia",
  id: 'xxxx',
  centroid: {geojson}
}

Because we still don't have the centre point coordinates for the org, I will use the first tree's coordinates(lat/lon) in this org to fetch the data

[2022-02-17 01:40] dadiorchen commented on #421
All the things are temporary, sorry about that

[2022-02-20 19:24] mayankdp commented on #428
Hii @dadiorchen
I need help with this. Do you think we can chat over discord and any other platform?

[2022-02-21 03:39] dadiorchen commented on #428
@mayankdp I unassigned you off this issue because I'm pushing the app and did some progress on this, so this feature should be partially solved, but don't worry, we still get a lot of things waiting for contribution, I invited your in the slack, you can reach me on it!

[2022-02-22 01:31] dadiorchen opened #479 "Make the video record of the cypress test better."
In the integration tests: `index.cy.js` and `top.cy.js` the record video shows empty pages, I guess this is because of lack of checking valid element or else.

https://user-images.githubusercontent.com/5744708/155046852-eff52d34-642c-42c5-a0a5-1067c148a2fc.mp4

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more informatio

[2022-02-22 01:32] dadiorchen commented on #479
you can dowload the video here: https://github.com/Greenstand/treetracker-web-map-client/actions/runs/1877506795

[2022-02-23 08:37] iib0011 opened #482 "Zoom directly to a tree if cluster count ==1"
We should show the information about a tree and zoom to it, if the cluster count is equal to 1

[2022-02-23 08:41] #482 closed

[2022-02-24 00:30] #256 closed

[2022-02-24 00:30] #288 closed

[2022-02-24 00:33] dadiorchen commented on #460
The share dialog UI: https://www.figma.com/file/vOCKDnXrejCASuQQyZPYYR/Wallet-Web-App---Master?node-id=1007%3A1186

[2022-02-25 02:55] #421 closed

[2022-02-25 03:29] dadiorchen opened #484 "A bug: duplicated sections in planter page"
Please check this video:
https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-02-25%20at%2011.27.48%20AM.mp4

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about ou

[2022-02-25 14:38] VWRoli commented on #484
That's weird. I don't have a duplicate section.
![Screenshot from 2022-02-25 15-37-07](https://user-images.githubusercontent.com/31432331/155733750-78a7ec25-f3e8-4ebe-9ae4-981ca7ba88ed.png)

[2022-02-25 14:45] VWRoli commented on #484
Anyone else?

[2022-02-25 21:37] gregmking commented on #484
I also do not see any duplicate sections

[2022-02-26 01:27] dadiorchen opened #485 "Can not share/copy the url of online map to social media"
Please note, this is on the `master` branch.

https://dadior.s3.ap-northeast-1.amazonaws.com/Treetracker+by+Greenstand+-+Google+Chrome+2022-02-25+12-56-13.mp4

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Green

[2022-02-26 09:18] dadiorchen commented on #485
Great obersevation! But I see there are also commas in google's URL?

[2022-02-26 09:19] dadiorchen commented on #485
Maybe we can avoid using commas? change to other chars like: '|' ?

[2022-02-26 09:22] iib0011 commented on #485
We can use https://map.treetracker.org/@-10.491943359375002,6.6973427326643975,6.383056640625001,14.82799134735208

[2022-02-26 09:51] iib0011 commented on #485
Yes ! works

[2022-02-26 10:08] dadiorchen opened #486 "Super weird and urgent bug, about google satellite"
https://wallet.treetracker.org/?wallet=NabuEscrow&bounds=36.46810149773956,-0.20683013616858825,36.50427913293243,-0.18586611372427253

Just one tile picture from google satellite is wrong with black background:

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/5744708/155839125-8294619a-8975-4632-aa7c-9a0510425590.png">

---

Some hints:

- Please read our [readme](htt

[2022-02-26 10:12] dadiorchen opened #487 "[v1.0] to support wallet=[walletname]&token=[tokenid]"
We need the v.10 map to support: http://map.treetracker.orgwallet=ABC&token=[token_id]
Opening this URL, the map will jump to the single token/tree, with the logo of the wallet on the corner.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.

[2022-02-26 10:15] iib0011 commented on #486
It might be a bug with leaflet

[2022-02-26 10:16] dadiorchen commented on #486
? what kind of bug?

[2022-02-26 10:17] iib0011 commented on #486
ok. I'll look at the code

[2022-02-26 10:23] sebastiangaertner commented on #487
Its
[http://map.treetracker.org/?wallet=ABC&token=[token_id]](http://map.treetracker.org/?wallet%3Dabc%26token%3D[token_id]/)

[2022-02-26 10:25] iib0011 commented on #486
Is the problem related to the core map?

[2022-02-26 10:28] dadiorchen commented on #486
Yea core is module to handle this so it should be fine able to reproduce it in the core

Dadior Chen

在 2022年2月26日，18:25，Ibrahima ***@***.***> 写道：

﻿

Is the problem related to the core map?

—
Reply to this email directly, view it on GitHub<https://github.com/Greenstand/treetracker-web-map-client/issues/486#issuecomment-1051967332>, or unsubscribe<https://github.com/notifications/unsubscribe-auth

[2022-02-26 10:30] iib0011 commented on #486
Ok. I'll switch to the core

[2022-02-26 11:33] dadiorchen commented on #486
Got it maybe we should do some work around to solve it like use the correct tile to replace these a few tiles
I think this is a temporary problem with Google. But we need to show this map area to our client next week

[2022-02-26 11:36] iib0011 commented on #486
Okay

[2022-03-01 03:11] #469 closed

[2022-03-02 00:54] #430 closed

[2022-03-02 00:59] dadiorchen commented on #431
This is a use case for this kind of feature:
https://www.treetown.finorx.com/map
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/156274461-695bfcea-3574-4100-88c9-26588bb4da86.png">

[2022-03-02 01:23] dadiorchen opened #495 "The copyright of the map is showing above the drawer panel."
It should be covered by the drawer.

<img width="1439" alt="Screen Shot 2022-03-02 at 9 21 32 AM" src="https://user-images.githubusercontent.com/5744708/156276696-b12450c7-3c90-452b-8045-d819474845eb.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https

[2022-03-02 02:13] dadiorchen opened #497 "Move the `theme` button into the menu on the right"
<img width="333" alt="image" src="https://user-images.githubusercontent.com/5744708/156281583-6991d433-dd03-492f-90ab-7805d5b05c84.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more

[2022-03-02 03:28] dadiorchen opened #498 "Visual test with Cypress"
Do some research for visual testing with Cypress, the goal is to detect significant UI change with the new PR, so we can check/decide if it is a bug or not.

https://docs.cypress.io/guides/tooling/visual-testing#Applitools

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engine

[2022-03-02 03:52] dadiorchen commented on #479
Solved by cy.screenshot()

[2022-03-02 03:56] dadiorchen opened #499 "Background can not be set with the dark theme"
we need to set the background color properly.
https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-03-02%20at%2011.54.29%20AM.mp4

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
-

[2022-03-02 06:25] dadiorchen opened #500 "Home page tiny problem."
https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-03-02%20at%202.20.21%20PM.mp4

Please check this video, when the page loading, the mainframe (left+right panel) will stay at the top of the page, then when the top banner is loaded, the mainframe will jump downward.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetrac

[2022-03-02 07:31] dadiorchen opened #501 "Font problem"
Now our Montserrat font is different from the Figma (the first one is our implementation, second one is from figma)
<img width="370" alt="image" src="https://user-images.githubusercontent.com/5744708/156314995-d4abc76b-7b65-48a9-bfa0-7c8ec2133b7f.png">

<img width="486" alt="image" src="https://user-images.githubusercontent.com/5744708/156315067-7e63f001-ad33-4b5a-915e-cebbeb6d7529.png">

---

Som

[2022-03-02 07:32] dadiorchen commented on #501
Both the setting for the font is:
[code]
But they are different.

some clue: https://stackoverflow.com/questions/42619820/google-font-montserrat-in-chrome-no-rendering-light-font-weight

[2022-03-02 16:50] VWRoli commented on #499
I'll take a look at this. It was working properly in #467.

[2022-03-02 17:06] VWRoli commented on #501
![Screenshot from 2022-03-02 18-03-57](https://user-images.githubusercontent.com/31432331/156411245-17ae7b34-f761-48f1-a9ee-17363f2eef1e.png)

I don't know. I see the difference in your image. On mine though, they seem to be the same, the first image is the Figma.

[2022-03-02 17:17] VWRoli opened #503 "Update DesignSandbox"
Update the designSandbox, complete with dark theme information. Update colors based on Figma. Also, update the readme to contain the color information for new developers.

![Screenshot from 2022-03-02 18-15-52](https://user-images.githubusercontent.com/31432331/156413486-3ceed8ab-b582-436f-b1f2-956946b459be.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracke

[2022-03-02 17:17] VWRoli commented on #503
I'll work in this.

[2022-03-02 22:58] dadiorchen opened #505 "A query parameter to ignore the animiation of the map zooming in."
When you open the url below, there is an animation to show the map, in some case, we need to ignore the animation and show the map directly.
https://dev.treetracker.org/?userid=5556

like:
https://dev.treetracker.org/?userid=5556&presentation=[normal|simple|impressive]

We need also to do some changes to the web map core to make this all works.
---

Some hints:

- Please read our [readme](https://

[2022-03-02 23:16] CodeWithUmair commented on #505
Hi,
I want to fix it please give me more guidance about it.

[2022-03-02 23:21] CodeWithUmair commented on #505
If you want my email id for strong relation so here it is : codewithumair867@gmail.com

[2022-03-02 23:25] CodeWithUmair commented on #505
I am a fresher looking for opensource contribution so can u help me out, I want to contribute to your project and can u assign me this issue :)

[2022-03-03 06:45] dadiorchen commented on #499
oh, @VWRoli it's my fault

[2022-03-03 06:45] #499 closed

[2022-03-03 06:48] dadiorchen commented on #503
@VWRoli what is this about?

[2022-03-03 06:50] VWRoli commented on #503
I updated the colors a bit for the dark theme. Some colors change based on the theme some don't. I want to add this information into the design sandbox and the readme file, so new devs know what colors to use.

[2022-03-03 10:23] iib0011 commented on #487
@dadiorchen Do you have an example url which should work

[2022-03-07 03:29] #497 closed

[2022-03-07 03:29] #460 closed

[2022-03-07 11:43] cnohall commented on #454
I'm getting the same issue:

![image](https://user-images.githubusercontent.com/36883813/157025213-24809cd0-8909-4cdc-bbbc-a06dbcb776b4.png)

OS - Windows 11 Build 22000.493,
Resolution: (1920 X 1080),
Desktop Scaling: 100 %,
Browser - Brave [Version 1.36.109 Chromium: 99.0.4844.51 (Official Build) (64-bit)]
Browser Zoom Level: 100%

It's the same for me as for @pratikmdhr, that when I use a lapto

[2022-03-08 01:59] dadiorchen commented on #454
I red in document of the leaflet that we can set the maximum map view. I’m not sure if it is a solution

[2022-03-08 02:00] dadiorchen commented on #454
@cnohall thanks for helping test

[2022-03-08 02:03] dadiorchen commented on #454
![Uploading 8C64CAFC-E8A2-4C9E-95F2-2755632FC1E3.png…]()
This is from my pad

[2022-03-08 02:04] dadiorchen commented on #454
![A443B4CD-D41B-4946-8E07-4A387A3549B0](https://user-images.githubusercontent.com/5744708/157151623-a79a9c27-e7ed-4827-9366-324ef362bb78.png)

[2022-03-12 02:25] #475 closed

[2022-03-18 08:28] #495 closed

[2022-03-18 08:29] #503 closed

[2022-03-28 07:58] dadiorchen opened #514 "Create dashboard for web map, and integrate with keycloak lib"
With keycloak we can do single-sign-on without dealing with the user account and permission. So this issue is about simply integrating with the keycloak which has been set up successfully on our cloud and implement a simple dashboard panel for the web map client, in the future, we will do map customization on the dashboard and other things related to the map.

---

Some hints:

- Please read our [

[2022-03-28 07:59] dadiorchen commented on #514
Refer to: https://github.com/Greenstand/treetracker-admin-client/pull/261/files

[2022-04-07 08:56] dadiorchen opened #515 "Create a dashboard for web map settings."
Now we need a dashboard to do some settings stuff for the web map, the coming soon one is the theme customization feature for the web map, so we need to build a dashboard framework to integrate these features.

To save time and avoid inventing the wheel repeatedly, we can consider using template like this: https://material-ui.com/store/

---

Some hints:

- Please read our [readme](https://github.

[2022-04-07 11:19] GISSIAH commented on #515
hey i wanted to help out . where can i start with the dashboard. my email is shlattbihness@gmail.com .

[2022-04-07 11:24] dadiorchen commented on #515
I invited you to Slack let’s onboard you there

Dadior Chen

在 2022年4月7日，19:19，Bryan Malunje ***@***.***> 写道：

﻿

hey i wanted to help out . where can i start with the dashboard. my email is ***@***.******@***.***> .

—
Reply to this email directly, view it on GitHub<https://github.com/Greenstand/treetracker-web-map-client/issues/515#issuecomment-1091612801>, or unsubscribe<https://github.com/noti

[2022-04-20 19:01] mayankdp commented on #501
Hello @dadiorchen,
If this issue hasn't been resolved then I would like to work on this, if you allow me.
It looks like changing font size/weight should resolve this so I would like to try.
I am a University student and my professor gave us the assignment to do a contribution on Github by end of this month. And this issue looks doable by then.
I have experience in developing mobile as well as web

[2022-04-21 02:23] dadiorchen commented on #501
@mayankdp thanks, yes, please make a try.

[2022-04-21 02:55] dadiorchen opened #516 "Deploy 2.0 to dev env"
---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization, visit our [website](https://greenstand.org).
- If you want to join the slack community (some resources need the co

[2022-04-21 03:04] #516 closed

[2022-04-21 03:46] dadiorchen opened #518 "Set up next.js to use relative path for resources"
Generally, it's fine when we run the app locally, but when we deploy to the dev env, the next.js is trying to load resources from the root path, but because we run the app under `http://domain/web-map-site/` so this lead to 404 failed to load resources:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/164367926-7c341a2f-ac9d-4695-aa97-de21081c30e2.png">

As sho

[2022-04-21 03:48] dadiorchen commented on #501
@mayankdp if this one ran into a dead end, you can also try this: https://github.com/Greenstand/treetracker-web-map-client/issues/518 I thought it's easier than this issue

[2022-04-21 04:03] dadiorchen opened #521 "Fix a broken Cypress unit test"
Just try to run the failed test mentioned below and fix it!
https://github.com/Greenstand/treetracker-web-map-client/runs/6106044304?check_suite_focus=true

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greensta

[2022-04-25 01:15] dadiorchen opened #526 "Fix broken Cypress integration test."
Because of some env var problem, our cypree integration tests are broken, please help us fix them.
Here is an example showing the error message.
https://github.com/Greenstand/treetracker-web-map-client/runs/6139006376?check_suite_focus=true

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
-

[2022-04-25 01:22] dadiorchen opened #527 "Define the `learn more`"
@sebastiangaertner what kind of page do you think would be appropriate for this link? the `learn more` button on the home page:

<img width="1436" alt="image" src="https://user-images.githubusercontent.com/5744708/165005997-d1b0be7b-702d-42c7-b156-5795af42301c.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more info

[2022-04-25 03:56] dadiorchen opened #528 "A image-based button similar as Fab in mui"
We need a button with image behavior like Fab component in mui, or we can use Fab directly by setting up correctly.

When mouse hoving over the icon, we need some highlight to give user some feedback.

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-04-25%20at%2011.50.52%20AM.mp4

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-ma

[2022-04-26 00:35] dadiorchen opened #529 "Use our image API to load thumbnail"
For places that display a small size of pictures, we should use our image API to load it.

There are some info about the API:

[code]

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more abo

[2022-04-26 02:40] dadiorchen opened #530 "Remove underline below the planter name"
<img width="721" alt="Screen Shot 2022-04-26 at 10 39 14 AM" src="https://user-images.githubusercontent.com/5744708/165208845-7df77d8c-97f6-49f8-b329-799ebce50b76.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/

[2022-04-26 02:40] dadiorchen commented on #530
On the page `http://localhost:3000/top`

[2022-04-26 02:51] dadiorchen opened #531 "Dim the slider button if mouse is not hovering on it."
So initially, the slider button is not so clear, but when we move the mouse on it, make it more clear, like highlight it.

<img width="1440" alt="Screen Shot 2022-04-26 at 10 48 59 AM" src="https://user-images.githubusercontent.com/5744708/165210213-2ce48be4-4c89-4daa-9f95-3549de5f990a.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#tree

[2022-04-26 03:35] dadiorchen opened #532 "Fix a missing flag"
Please fix these two flag of country for us.
<img width="690" alt="image" src="https://user-images.githubusercontent.com/5744708/165215177-797256e6-cd40-4ce0-926c-cfea7a649aa5.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io

[2022-04-26 03:35] dadiorchen commented on #532
visit http://localhost:3000/top you will find this list