[2022-04-26 03:48] #406 closed

[2022-04-26 09:10] lucky-chap commented on #531
@dadiorchen can I tackle this issue? If yes, then please assign it to me

[2022-04-26 09:11] dadiorchen commented on #531
@lucky-chap sure! Thank you!

[2022-04-26 17:27] kenleyshaw commented on #528
I'd love to work on this!!

[2022-04-26 19:54] kenleyshaw commented on #528
having trouble getting the dev environment to work, I already did npm install and I am using node version 16. this is the error its giving
<img width="963" alt="Screen Shot 2022-04-26 at 3 54 06 PM" src="https://user-images.githubusercontent.com/76185224/165381411-ed4d3716-adab-4175-89ab-eb5f0720ea1b.png">

[2022-04-26 21:46] kenleyshaw commented on #532
working on this one also!

[2022-04-27 01:49] #530 closed

[2022-04-27 01:57] #532 closed

[2022-04-28 03:11] dadiorchen opened #537 "Remove a:hover style on the link"
http://localhost:3000/top
the text: tree: xxxx

<img width="854" alt="image" src="https://user-images.githubusercontent.com/5744708/165668927-65719104-535d-4d54-a21c-e815efdbc125.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook

[2022-04-30 02:28] dadiorchen opened #540 "Implement the full image panel"
<img width="977" alt="image" src="https://user-images.githubusercontent.com/5744708/166086891-1f6fbd0a-7358-46b0-91bc-f1d8aa36a10d.png">

https://www.figma.com/file/vzhy7JyGlmJIKC4wsY2s7e/Greenstand-Webmap-(Copy)?node-id=7497%3A31300

Need to make sure the component fits 3 scenarios mentioned in the readme's section "how to build a component'.

---

Some hints for building components:

- This kind

[2022-04-30 09:52] sanchy2001 commented on #529
I'm new to open source and I would like to contribute to this issue.

[2022-05-02 05:24] sanchy2001 commented on #529
Email:- iamsanchit24@gmail.com

[2022-05-03 06:55] dadiorchen opened #542 "Find a better way to import svg icons."
Now we are loading svg icon like this:

[code]

It's not so ideal, because as img's src, we can not do control over the SVG, like change the color by `fill` property. According to the material UI, we can use iconSVG or svgIcon, to do this, we failed to do it following the guide, please help us solve this problem.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetrack

[2022-05-04 02:55] dadiorchen opened #543 "A tiny problem of CSS for dark mode"
The background/border of the avatar looks a little uncomfortable, maybe we should make the avatar border the same as the whole background, just like in the light mode.
<img width="721" alt="image" src="https://user-images.githubusercontent.com/5744708/166617472-c2b8945b-d6e1-4a13-8fc4-3ed63fd545db.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map

[2022-05-04 04:03] dadiorchen opened #545 "Improve the shadow of this case"
Currently, the /top page is using the default paper shadow, it's different from the UI design, check below, so we need to refine this detail, also, make sure the `dark` mode is good too.

Our implementation:
<img width="625" alt="image" src="https://user-images.githubusercontent.com/5744708/166621428-8f1d031e-4d5f-4a36-b841-aacf4d5a4090.png">

The Figma:

<img width="668" alt="image" src="https://

[2022-05-04 06:57] dadiorchen opened #546 "Support route: /map/[map-name]"
I think we should use next.js rewrite to make this happen, rewrite rule like:
/map/[map-name] --->  /organizations?map_name=[map-name]

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more ab

[2022-05-04 09:06] Senay-Fekadu2 commented on #543
Or may be we should change the background to something with contrast and complementary color. and these is my first time contributing to open source can have shot ?

[2022-05-05 03:03] dadiorchen opened #547 "The second CSS filter is missing"
On the page: http://localhost:3000/organizations/19 the first filter works well, but the second is missing

<img width="551" alt="image" src="https://user-images.githubusercontent.com/5744708/166857918-1f6072c8-9600-4823-ac5f-76ce71737da2.png">

<img width="1440" alt="Screen Shot 2022-05-05 at 11 03 14 AM" src="https://user-images.githubusercontent.com/5744708/166857965-9120a37b-16f5-4d19-bd37-0d9

[2022-05-05 03:14] dadiorchen commented on #543
Yes, thank you @Senay-Fekadu2 you can work on it directly, and raise a PR, please let me know if you need any support!

[2022-05-05 03:17] dadiorchen opened #549 "Tiny adjustment on a icon"
<img width="77" alt="image" src="https://user-images.githubusercontent.com/5744708/166858907-a17fb569-d682-4d4f-af6c-c160b3cfd3b3.png">
The second icon (location) is kind of uncomfortable comparing to the calendar icon, please adjust the icon, I guess we need make it bigger?

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for

[2022-05-05 03:18] dadiorchen commented on #549
You can find it here: http://localhost:3000/organizations/19

[2022-05-06 00:34] pratikmdhr commented on #542
I'll look into this

[2022-05-06 03:03] dadiorchen opened #551 "A shadow effect for mobile"
Our mobile version, for example http://localhost:3000/trees/186737
When we scroll down, the layer of the header and the scrollable area is a bit confusing, we need a shadow effect like the google map, check the video below:
<img width="373" alt="image" src="https://user-images.githubusercontent.com/5744708/167059476-ef1c2842-3a5e-4634-8422-fd8b346189a6.png">

https://dadior.s3.ap-northeast-1.amazo

[2022-05-06 03:56] dadiorchen opened #552 "Tiny CSS problem"
The zoom button is a bit higher than the logo
<img width="542" alt="image" src="https://user-images.githubusercontent.com/5744708/167064370-1a6ada69-bdde-47b8-a36a-ef5694d66f9b.png">

On this page: http://localhost:3000/trees/186735?embed=true
---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.

[2022-05-06 10:10] rsmith-github commented on #552
I've fixed it on my local version. May I open a pull request?

[2022-05-07 12:50] zainbazaz commented on #537
Hey I am new to open source and would like to contribute to this project/issue

[2022-05-09 05:51] dadiorchen opened #555 "New tree info details component"
When click on the tree page's expand button, display this component.
<img width="871" alt="image" src="https://user-images.githubusercontent.com/5744708/167348325-b5315cf0-430e-49be-ba0f-da19f3e66dd0.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https

[2022-05-09 05:54] dadiorchen opened #556 "A SVG button"
Opposite to this button, we need a minimize button to collapse and back to the non-fullscreen mode.
<img width="72" alt="image" src="https://user-images.githubusercontent.com/5744708/167348575-52e1046a-c1e0-44d9-b9d1-cc02c7d2d7fb.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here

[2022-05-09 07:11] dadiorchen commented on #542
@pratikmdhr this would be a huge help, I encountered many cases that needed this feature.

[2022-05-09 07:13] dadiorchen commented on #537
Hi, @zainbazaz sorry for the delay, thanks, please feel free to make a try and raise PR!

[2022-05-09 07:34] zainbazaz commented on #537
@dadiorchen I also found a typo in readme.md under "Workflow with Github" section. Should I fix it or will that be a separate issue?

[2022-05-10 03:52] #537 closed

[2022-05-10 04:03] dadiorchen commented on #537
@zainbazaz thank you for your correction of the doc. Feel free to raise PR for that. And you can raise separate PR for every change you made. We prefer smaller, dedicated PR

[2022-05-10 05:48] dadiorchen opened #558 "An edge case for the photo slider"
We should hide the button on the slider component in some cases:
1. If the slider area is on the most right, or left, we should hide the button respectively.
2. If there are too few photos, then the buttons have no need to display

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/167556892-a6da1f4a-1802-459d-957c-8070247f7e6f.png">

---

Some hints:

- Please re

[2022-05-10 07:21] dadiorchen opened #559 "A broken icon"
On The `Share` component, the second icon is broken, that's facebook logo icon:

<img width="924" alt="image" src="https://user-images.githubusercontent.com/5744708/167571884-ddcdca28-b47e-490d-b77e-16713c19c499.png">

code:
[code]

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [

[2022-05-11 02:34] dadiorchen opened #562 "The 'share to twitter' button doesn't work"
To reporduce:

1. visit http://localhost:3000/trees/186735
2. click share
3. click twitter logo

The code:

[code]

Seems the Chrome blocked the window.open.

<img width="780" alt="image" src="https://user-images.githubusercontent.com/5744708/167757172-9b70c6b1-c290-42ad-a9c1-8aa785bc2ffe.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#t

[2022-05-11 02:36] dadiorchen commented on #562
I guess the `facebook` button encountered the same

[2022-05-11 02:52] dadiorchen opened #563 "Bad logo on mobile Chrome"
To reproduce:
Visit this url on mobile Chrome: https://dev-k8s.treetracker.org/web-map-site/demo

My device: iOS
![image](https://user-images.githubusercontent.com/5744708/167759088-e760b7ab-5357-4995-8660-ca5dc72b35a6.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engin

[2022-05-11 02:55] dadiorchen opened #564 "Hide the scroll button (the forward/backword icon) on mobile devices"
There is no need to implement the button on mobile, because we can easily pan it on phone.
![image](https://user-images.githubusercontent.com/5744708/167759484-48f982ba-2ec3-4efd-85dc-9e96721ae47f.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://g

[2022-05-11 02:56] dadiorchen opened #565 "Bad style/spacing on mobile"
Maybe the `gap` property doesn't work on mobile.

Device: iPhone, ios 13
Browser: Chrome

![image](https://user-images.githubusercontent.com/5744708/167759671-bdccf696-eb90-4381-8954-be89148bc9f9.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://gr

[2022-05-11 03:06] dadiorchen opened #566 "Mobile: The vertical drawer: bad experience of scroll the info panel"
When we scroll the info panel (the tree picture below), we can scroll the area on the Y axis direction. We should disable this behavior.

Device
![image](https://user-images.githubusercontent.com/5744708/167760632-e05678fa-6bb1-431c-8114-98e25ea5ff7c.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/gui

[2022-05-11 03:08] dadiorchen opened #567 "The map doesn't work on some mobile device"
The map is missing.

Device: iPhone, ios 13
Browser: Chrome

![image](https://user-images.githubusercontent.com/5744708/167759671-bdccf696-eb90-4381-8954-be89148bc9f9.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineeri

[2022-05-11 07:35] #559 closed

[2022-05-11 15:36] activus-d commented on #566
I would like to take on this issue

[2022-05-11 18:04] siddharth-kaushik commented on #567
Can I fix this?

[2022-05-11 21:07] pratikmdhr commented on #542
@dadiorchen how about importing the SVG icons as a react component.. https://create-react-app.dev/docs/adding-images-fonts-and-files/#adding-svgs

[code]

[2022-05-14 02:19] jamwalab commented on #558
Hey I can work on this.

[2022-05-14 03:17] dadiorchen commented on #567
@siddharth-kaushik sure, please!

[2022-05-14 03:17] dadiorchen commented on #567
feel free to open PR when you get any progress

[2022-05-14 03:18] dadiorchen commented on #558
@jamwalab hi, yes, please take it, and raise PR when you got any pregress

[2022-05-14 03:36] dadiorchen commented on #542
In this way, can we set the color using theme, or `sx` props, like:
`theme.palette.primary.main`

The goal of this issue, is making it possible to set the svg's color using theme

[2022-05-14 03:36] dadiorchen commented on #542
@pratikmdhr

[2022-05-14 03:45] dadiorchen opened #570 "Optimize the first page loading time"
To find out some way to speed up the first home page loading time, at least, the background picture is too huge!

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-05-14%20at%2011.43.53%20AM.mp4

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering

[2022-05-14 06:48] dadiorchen opened #571 "Implement page cache via next.js"
We need to cache our page, say: http://map.treetracker.org/trees/123 next.js should be having some support for this goal.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organ

[2022-05-14 06:50] dadiorchen commented on #571
The case: because the DB is the bottleneck, we don't want our page to get stuck every time waiting response from DB, so we need to cache the page on the server-side, and speed up the processing.
Please give a solution for this.

[2022-05-19 02:48] okdv commented on #518
I can take care of this!

[2022-05-19 23:54] jeremydthomas commented on #562
Id like to work on this, thank you.

[2022-05-20 03:00] jeremydthomas commented on #562
I would like this one and I believe I already fixed it.

[2022-05-20 03:20] dadiorchen commented on #562
@jeremydthomas thanks! please

[2022-05-20 03:20] dadiorchen commented on #562
Please raise a PR for us

[2022-05-20 14:36] jeremydthomas commented on #562
@dadiorchen all done my friend, have a good day!

[2022-05-20 22:17] okdv commented on #571
Quick clarification, this would also be for the beta branch right? I was confused since the link provided is for the master branch site, and the doesnt seem to use nextjs.

Assuming its for the beta branch I can also take a crack at this! should be easy enough with SSR and Cache-Control/stale-while-revalidate. Any preference as to how long the cache should be used and/or considered fresh?

[2022-05-20 23:02] okdv commented on #571
Can also take a crack at this! Should be pretty straightforward with next and cache-control. Would this be on the master branch (you linked the live website which uses master i thought)? Or is this for the new website?

[2022-05-21 02:32] dadiorchen commented on #515
This issue is still open, if anyone wants to make a try, please comment here.

[2022-05-21 03:30] dadiorchen opened #575 "Refine the shadow of these component"
These box's shadow is more smoothy then our implementation, please refine it, you can find it here: http://localhost:3000/top

Please make sure the shadow works well on the dark mode (by clicking `theme` button on top right corner)

<img width="521" alt="image" src="https://user-images.githubusercontent.com/5744708/169633732-a9992e47-b0f1-4196-9461-e1c2607d096b.png">

---

Some hints:

- Please re

[2022-05-21 03:39] dadiorchen opened #576 "Make the search button disabled"
Change the icon color to grey, indicating this feature is not yet ready.
This is related to : #542 by importing SVG correctly, we should be able to use the theme to set the color easily.
Please make sure it works well on dark theme mode.

Also, please add a Tooltip saying: `coming soon` (or better text describing that) sorry about my poor English

---

Some hints:

- Please read our [readme](https

[2022-05-21 03:59] dadiorchen opened #577 "Display tree species or country rather than tree name"
Currently we display tree name (three-random-words) in the panel, now we need to change it to show: tree species if any, if the tree has no species specified, then display the country where the tree is.

<img width="1440" alt="Screen Shot 2022-05-21 at 11 56 48 AM" src="https://user-images.githubusercontent.com/5744708/169634590-45aee1d6-f860-4d00-82f4-5685addf7f2b.png">

---

Some hints:

- Pleas

[2022-05-21 04:08] dadiorchen opened #578 "Clickable tree item."
On the top page, the tree box list here:
<img width="705" alt="image" src="https://user-images.githubusercontent.com/5744708/169634768-83eee0a1-563a-41be-9673-a7f89c534281.png">

Currently, just the id of the tree is clickable, to jump the single tree page, we need to make the whole panel box( with the image) clickable.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/tr

[2022-05-21 06:38] dadiorchen opened #579 "Shorter lat/lon numbers"
Currently, the latitude and longitude number are too long, no need to display this way, could be as short as below:

On the middle of the screen, the first menu item is a coordinates by google map

![Image](https://user-images.githubusercontent.com/5744708/169639289-214277fa-ab50-4a21-b3dd-e7e4824ac194.png)

[2022-05-21 07:26] #562 closed

[2022-05-21 07:42] dadiorchen commented on #571
@okdv yes, happy to hear that. This is on `beta` branch, the link is just for explaining the issue.

[2022-05-21 17:28] okdv commented on #571
Perfect, thank you for the clarification @dadiorchen I'll take a crack at it :smile:

[2022-05-22 05:47] jeremydthomas commented on #579
@dadiorchen is this what you wanted? I shortened it to 5 decimal places.

![lat,lon](https://user-images.githubusercontent.com/63400531/169680787-2875ceda-a2d7-44af-ad3d-bcbdf2c9ac8a.png)

[2022-05-22 08:07] jeremydthomas commented on #542
Are you looking for something like this in the MUI docs? [https://codesandbox.io/s/v1wp6m?file=/demo.tsx](url)

I was going to start on 576 but I see this needs to be done first

[2022-05-22 13:03] ANaphade opened #581 "Getting Unhandled Runtime Error on /top page"
Getting an unhandled runtime error when trying to hit endpoint http://localhost:3000/top.

The error dialog closes when we click outside the dialog

Please find screenshot below for more details

![image](https://user-images.githubusercontent.com/36621150/169696442-be4f2449-0b49-43e5-8d91-48478eba32f2.png)

After clicking outside the error dialog, the dialog minimizes in bottom left corner ('1 err

[2022-05-23 01:29] dadiorchen opened #583 "Super easy: npm install and update the lock file"
The CI is failing because of wrong package-lock.json, please run npm install and generate it and upload/commit
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/169726734-133bcb24-d01e-49d8-8596-8919ef1f9828.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tuto

[2022-05-23 01:40] svihang8 commented on #583
Hello! I would like to work on this issue. @dadiorchen

[2022-05-23 01:49] dadiorchen opened #584 "Planter page: use the first tree to fill the profile background"
As a temporary solution, use GET /trees?planter_id=[id]&order_by=created_at&desc=true&limit=1 to get the first image, and show it on the profile background (the blue picture below)
<img width="746" alt="image" src="https://user-images.githubusercontent.com/5744708/169728314-f33cd680-2156-49b0-9f7c-b2a5f0b71471.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetr

[2022-05-23 01:59] dadiorchen opened #585 "Make real logic for the world map on planter page"
<img width="705" alt="image" src="https://user-images.githubusercontent.com/5744708/169729269-08000115-a980-432a-8702-2eb0281f9774.png">

Prerequisite: https://github.com/Greenstand/treetracker-query-api/issues/108

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering bo

[2022-05-23 02:01] dadiorchen opened #586 "Planter page: replace mock data with real ones for org info"
<img width="719" alt="image" src="https://user-images.githubusercontent.com/5744708/169729499-1ae1c723-ba4b-458c-86d8-76860a64822b.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more

[2022-05-23 02:30] dadiorchen opened #588 "The beta release channel"
Connect to prod DB, release to [beta.treetracker.org](https://prod-k8s.treetracker.org/webmap/beta/)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization, visit our [w

[2022-05-23 02:35] dadiorchen opened #589 "Context info for the planter's tree page"
For this page:
http://localhost:3000/planters/940/trees/186734?embed=false

On the top of the tree info, display the planter's name and avatar, indicating this tree is under/planted by the planter.

<img width="1440" alt="Screen Shot 2022-05-23 at 10 32 29 AM" src="https://user-images.githubusercontent.com/5744708/169732694-180523cc-e26f-47b8-b11b-c5422435ae9e.png">

---

Some hints:

- Please rea

[2022-05-23 02:39] dadiorchen opened #590 "Miss context when click `next tree`"
On this page: http://localhost:3000/planters/940/trees/186734?embed=false
When click `next tree` on the map, the page jump to:
http://localhost:3000/trees/186735?embed=false

Please jump to http://localhost:3000/planters/940/trees/186735?embed=false

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tut

[2022-05-23 02:45] dadiorchen opened #591 "Change to use cookie or localStorage to save the status of fullscreen"
Currently, we are using a query parameter embed: http://localhost:3000/planters/940/trees/186734?embed=true to indicate this is a fullscreen map, this approach has some downsides:

1. problem prone: easy to lose the query jumping through pages.
2. Ugly URL

We should find another solution for this, either cookies or localStorage,

---

Some hints:

- Please read our [readme](https://github.com/Gre

[2022-05-23 02:50] dadiorchen opened #592 "Implement the /wallets/[walletName] page"
This page will present the wallet: wallet name, logo

We will re-use the planter page design for this implementation: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=4819%3A14477

The API is ready: https://github.com/Greenstand/treetracker-query-api/blob/main/__tests__/e2e/wallets.spec.ts

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetr

[2022-05-23 02:52] dadiorchen opened #593 "Implement the /tokens/[tokenId] page"
This page will present a single token: capture/tree picture,  tags, just like the tree page

We will re-use the tree page design for this implementation: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=7639%3A30959

The API is ready: https://github.com/Greenstand/treetracker-query-api/blob/main/__tests__/e2e/tokens.spec.ts

---

Some hints:

- Please read our [readme](h

[2022-05-23 03:00] dadiorchen opened #594 "This animation isn't so good"
Check the video below:

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-05-23%20at%2010.58.47%20AM.mp4

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our

[2022-05-23 03:05] dadiorchen opened #595 "Miss context info on this page:"
http://localhost:3000/planters/940/trees/186734?embed=true

The logo/avatar of the planter should be there(bottom right corner).

like this page:http://localhost:3000/planters/940?embed=true&keyword=undefined

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/169735485-d6af680d-1130-471d-906a-6c3867d0e50c.png">

---

Some hints:

- Please read our [readme](https:

[2022-05-23 03:09] dadiorchen opened #596 "The drawer's border radius become flat/square when dock to the top"
<img width="1440" alt="Screen Shot 2022-05-23 at 11 07 43 AM" src="https://user-images.githubusercontent.com/5744708/169735891-9944aa79-fe38-4e51-b1b8-8cf0649b9f77.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering

[2022-05-23 03:12] dadiorchen opened #597 "Mobile: can not scroll to the bottom of the page."
Can not scroll down to the bottom to check all the content on this page. http://localhost:3000/trees/186737

<img width="1440" alt="Screen Shot 2022-05-23 at 11 10 31 AM" src="https://user-images.githubusercontent.com/5744708/169736063-788fbf17-6660-4b98-ba98-cd06bd32bf23.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) f

[2022-05-23 03:16] dadiorchen opened #598 "Zoom in/out button on the mobile."
<img width="352" alt="image" src="https://user-images.githubusercontent.com/5744708/169736503-af8d740a-a2d5-4630-b02b-ca93a8ebb2d4.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more

[2022-05-23 03:27] dadiorchen opened #599 "Bug: theme problem on the mobile page"
To produce:

1. On /top page, change the theme to dark
2. Click the planter name to jump to planter page.
3. The banner is dark, but the panel below is light.

<img width="691" alt="image" src="https://user-images.githubusercontent.com/5744708/169737492-a997fbdd-db8c-46ab-a2aa-6f6fb60921c0.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#

[2022-05-23 03:28] dadiorchen commented on #599
This might because of the new Dawer implementation

[2022-05-23 04:00] dadiorchen opened #600 "The menu definition"
@sebastiangaertner can you give a quick definition of these links and words here? It could be a temporary one.

<img width="1440" alt="Screen Shot 2022-05-23 at 11 58 45 AM" src="https://user-images.githubusercontent.com/5744708/169740791-fa900aa5-3c6d-4ae9-9652-53ede91c1207.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web

[2022-05-24 08:24] dadiorchen commented on #581
@ANaphade thank you for issue this for us!

My feel on this is that the app accidentally initialed the drawer which registers the onTouch listner, this drawer should be touched on the desktop version, it's for mobile

[2022-05-24 08:25] dadiorchen commented on #579
That's perfect, please open PR for us! @jeremydthomas

[2022-05-24 08:33] dadiorchen commented on #542
@jeremydthomas not the same, in the demo you pasted, it's using raw/direct svg string in the js file, but our case is:
1. The designer do the design on Figma
2. We download the icon as .svg and put it into the repo
3. Import the SVG file into pages
4. Change the SVG icon color by the color defined in the theme of MUI

[2022-05-24 09:05] jeremydthomas commented on #542
@dadiorchen I seen how I can change the color to grey by using the fill and stroke option directly in the .svg file, if you want I can do that until something else is figured out. I seen what you were talking about after monkeying around some more to see exactly what you guys had done. Didn't actually open the svg file before I posted that link :laughing:

[2022-05-24 09:10] jeremydthomas commented on #579
@dadiorchen just a different question, can I just go down the line on fixing things without getting them assigned? Trying not to be too greedy if someone else wants to work on something. When I fix it, do I just automatically open a PR? Also, does the slack channel have a channel for the this beta web map client? I am in the admin_channel_chat one.

[2022-05-25 02:09] #579 closed

[2022-05-25 06:10] jeremydthomas commented on #597
![image](https://user-images.githubusercontent.com/63400531/170192064-14395508-2d9d-488d-95a9-2eb26cfc3b04.png)
@dadiorchen works for all mobile devices on chrome developer tools

[2022-05-25 08:03] dadiorchen commented on #529
<img src="https://prod-k8s.treetracker.org/images/img/treetracker-production-images.s3.eu-central-1.amazonaws.com/w=400,/2022.05.24.18.46.07_-3.2871201560000003_37.22241461_15877d5f-fe56-4cc2-a723-743df50b0df6_IMG_20150101_093721_-34054416.jpg" alt=".." srcset="https://prod-k8s.treetracker.org/images/img/treetracker-production-images.s3.eu-central-1.amazonaws.com/w=400,/2022.05.24.18.46.07_-3.2871

[2022-05-25 08:04] dadiorchen commented on #529
[code]

[2022-05-26 07:13] dadiorchen commented on #542
@jeremydthomas according to the MUI doc, it should be a easy thing to use svgicon to achieve what we want, but I failed to do it following this doc: https://mui.com/material-ui/icons/

[code]

[2022-05-26 21:29] pratikmdhr commented on #542
@dadiorchen @jeremydthomas added this to `next.config.js` as per [this guide](https://react-svgr.com/docs/next/) ..

[code]
but i get this error:
![image](https://user-images.githubusercontent.com/52301822/170583158-be83e249-306e-4f43-8429-9484ce6ba852.png)

@dadiorchen did you receive the same error when you tried it? it looks like there is some conflict when we add the svgr webpack config with o

[2022-05-27 01:45] dadiorchen opened #607 "Can not find tree point on the map"
For this case, when the map jumps to the tree location, there is no tree!

https://prod-k8s.treetracker.org/web-map-beta/demo/trees/213013?embed=false

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/170611867-531a743f-4318-4876-9fcf-1b89fbe2807a.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetra

[2022-05-27 01:49] dadiorchen opened #608 "Investigate blur tree image case"
For this case, the tree image is blur, https://prod-k8s.treetracker.org/web-map-beta/demo/trees/186735

We need to find out what's the situation, if that's just an rare case, then that's fine, if not, then:

If we can find the source of the reason which cause the bad image and fix it, that's the best result.

If we can not get high-resolution image, then we need to consider changing the UI to adap

[2022-05-27 02:05] dadiorchen opened #609 "Improve the loading of pages."
When open the app, https://prod-k8s.treetracker.org/web-map-beta/demo/top there the layout of the page is shaking, we need to improve the loading of the page, at least, if the content of some part of the page is not ready yet, then at least the layout/frame of the page is fixed, to avoid the shake.
https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-05-27%20at%2010.00.17%20AM.

[2022-05-27 02:08] dadiorchen opened #610 "Broken icon"
https://prod-k8s.treetracker.org/web-map-beta/demo/top

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/170614321-bb005b1b-7f2f-4181-9052-e48ecafddc1b.png">

For local reproducing the bug, I think we can `npm run build-and-start` to check it.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web)

[2022-05-27 03:01] dadiorchen opened #611 "The species tag area is too crowded"
https://prod-k8s.treetracker.org/web-map-beta/demo/planters/2412?embed=false&keyword=undefined
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/170620513-e94c0aa6-7f69-4b22-9bfe-a5f540f1aa35.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is

[2022-05-27 03:21] dadiorchen opened #612 "Recover the map bounds feature in the new beta"
This is our online version:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/170622293-e2a5462b-7d90-4026-9527-cc5384181f98.png">

The new beta can not update the URL to bing the map bounds (the coordinates in the URL), we need to recover this feature for the beta, please note, in the new version, we use treetracker-web-map-core as the map lib, so to implement

[2022-05-27 03:24] dadiorchen opened #613 "A tooltip to display the planter/org 's name."
When the mouse hovering on the planter or organizations box, show a tooltip to display the name of the entity.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/170622893-4b31fcba-2d6c-4578-9b58-33cebe42e5fc.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tut

[2022-05-27 05:59] sinhaniik commented on #575
hey, I want to work on this but this project is not running on my local machine. I cloned this project and after that, I ran "yarn start"
but it does not host on localhost 3000. can you help me with that

[2022-05-28 02:12] #610 closed

[2022-05-28 02:12] #583 closed

[2022-05-28 02:19] dadiorchen commented on #575
@sinhaniik you should run: npm run dev, the `start` is for prod

[2022-05-28 04:44] sinhaniik commented on #575
$ npm run dev

'next' is not recognized as an internal or external command,
operable program or batch file.

now this

[2022-05-30 07:32] dadiorchen commented on #575
Weired, the next should be installed after `npm install` if you want, you can also bring your quest in the weekly meeting of web map, it's Thursday ,https://calendar.google.com/calendar/u/0?cid=Z3JlZW5zdGFuZC5vcmdfZmMwZGFsam5icHN1cHQ2c2tiYjc3bWt1cTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

[2022-06-01 02:03] #598 closed

[2022-06-01 22:24] jeremydthomas commented on #599
@dadiorchen so Im pretty sure I figured out what is causing this, I just need to figure out how to use localstorage to recall what mode you are using. If you notice when you go to the top page it doesnt reload and it keeps the theme you had set. If you go to the trees page it also doesnt reload and it keeps the theme you had set. HOWEVER, if you go to the planters page or the organizations page it

[2022-06-02 16:23] sebastiangaertner opened #618 "Filter by user id is not working anymore"
https://map.treetracker.org/?userid=5903 should show 10 captures in this case. See screenshots. Admin panel is showing the trees, the map is not.

Also

![Screenshot 2022-06-02 at 18 21 33](https://user-images.githubusercontent.com/3283800/171677643-0176b3c0-be63-49e4-bfdb-4f5927471610.png)

![Screenshot 2022-06-02 at 18 21 55](https://user-images.githubusercontent.com/3283800/171677621-2f422418-3

[2022-06-07 01:26] dadiorchen opened #619 "The zoom button should be disabled in some cases"
Just like this picture shows, when the zoom level reach the maximum/minimum zoom level, the button should be gray and unclickable.

<img width="209" alt="image" src="https://user-images.githubusercontent.com/5744708/172276002-cbd6d1ff-0f09-4d16-90c4-d2de39e24d7a.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more in

[2022-06-09 21:11] dadiorchen opened #621 "fix the initial view problem on finorx case"
https://www.treetown.finorx.com/map/?all when open this link, the map can not jump to the right place to display trees

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organiza

[2022-06-11 01:40] #571 closed

[2022-06-13 08:26] RubenSmn commented on #596
I'll work on this!

[2022-06-14 06:14] dadiorchen commented on #596
@RubenSmn thank you!

[2022-06-14 06:18] #596 closed

[2022-06-14 06:25] #521 closed

[2022-06-14 10:17] RubenSmn opened #625 "Bug: runtime error when dragging the map"
## Description
When dragging the map a runtime error gets thrown.
This happens on different endpoints: `/` and `/top` also on the `/planters/xxx`.
It seems to happen when your load the page for the first time.

## Screenshot:
![image](https://user-images.githubusercontent.com/31519867/173550709-b753008e-3f0c-4f73-9b05-b8033021c4f3.png)

---

Some hints:

- Please read our [readme](https://github.c

[2022-06-17 06:26] #581 closed

[2022-06-17 23:45] svihang8 commented on #591
Hey @dadiorchen.
I've had a PR for one of your previous issues. I recently noticed this. If it is still available I would love to work on this issue.
I believe we can make use of cookies to solve the issue. We can have a middleware function that can check to see if the required cookie exists. Thank you!

[2022-06-18 06:12] #613 closed

[2022-06-18 06:15] dadiorchen commented on #591
@svihang8 sorry for the delay, thanks for what you've done for us, yes, please go forward and take this one.
Because now we have adapted localStorage somewhere in this project, so I tend to use the same tech to handle this issue, is it okay?
Please check this page:
https://github.com/Greenstand/treetracker-web-map-client/search?q=storage

[2022-06-20 01:37] #558 closed

[2022-06-22 02:17] #564 closed

[2022-06-22 02:32] #599 closed

[2022-06-22 02:40] dadiorchen commented on #566
@RubenSmn sorry for the confustion, this issue is about running the app on real mobile device, if you run it on if I remember correctly on the chrome mobile, then you will find it's hard to scroll by touching the panel. you can scroll the panel on the horizontal direction, to scroll to the right, we need to avoid this.
Please let me know if you need further explanation.

[2022-06-22 04:01] jeremydthomas commented on #565
@dadiorchen I dont have an iphone, but on the chrome developer tools iphon12 pro, this isnt showing up. Is this still a problem?

[2022-06-22 14:53] RubenSmn commented on #566
@dadiorchen just tested the app on a real mobile device, on the Chrome and Samsung browser. I am not having the issue of being able to scroll the panel in the horizontal direction

[2022-06-22 17:41] RubenSmn opened #639 "Bug: `Like` and `Share` button not visible on tree page using FireFox"
Visiting http://localhost:3000/trees/186734
There should be a `Like` and `Share` button at the top of the tree image according to the code.
When checking the dom elements with the inspector the items are present.
They are just not visible.

Purple indicating where the buttons should be seen
![image](https://user-images.githubusercontent.com/31519867/175102073-dadf16bc-fb10-48b3-8420-f0aeddfb6d9f.p

[2022-06-22 20:05] sebastiangaertner opened #640 "Link to species when available"
By now the species descrition is always used as a link into either the treetracker herbarium or a wiki entry or another plant database source. see attached screenshots. It would be great if a user can click on the species and a _blank link comes up with the corresponding info.
![Screenshot 2022-06-22 at 22 04 48](https://user-images.githubusercontent.com/3283800/175126333-0ef61ef8-f8dc-4d3f-be3e-3

[2022-06-23 01:28] dadiorchen commented on #565
could you please test it on android? or others?

[2022-06-23 01:28] dadiorchen commented on #565
@jeremydthomas

[2022-06-23 01:29] #611 closed

[2022-06-23 01:32] dadiorchen commented on #566
@RubenSmn oh, let me test it and back to you.

[2022-06-23 01:43] dadiorchen commented on #555
@RubenSmn please check this https://greenstand.slack.com/archives/CA0ALV5S8/p1655948537920829
So currently, it's impossible to list all capture for a tree (the tree thumbnails on the left), please just list the current picture there, we will change it in the future.

[2022-06-23 01:44] dadiorchen commented on #555
I don't if we can customize the `like` button, we simply add the FB like button following their document.

[2022-06-23 01:46] dadiorchen commented on #639
@RubenSmn weird, it was there I remember.

[2022-06-23 01:52] #589 closed

[2022-06-23 01:56] dadiorchen commented on #640
This is interesting, maybe we can dig deeper to build more features. Where can we get the reflection between the species name and link?

[2022-06-23 02:04] dadiorchen commented on #639
Maybe some change accidentally hides these buttons,  I think this is the reason we need the visual matching test, https://github.com/Greenstand/treetracker-web-map-client/issues/498

[2022-06-23 03:12] jeremydthomas commented on #639
I thought they were there before too

[2022-06-23 07:23] RubenSmn commented on #639
I think this might be something on my side, I am also having trouble with the zoom in/out buttons on the map.
When looking at the dom via the inspector I see empty transparent svg's on the img src.
Which is weird because the Search Icon is also an svg and that one I can see.
I checked in the project files and all the image are present.

[2022-06-23 08:47] RubenSmn commented on #639
@dadiorchen @jeremydthomas just tried opening the app in chrome and all the buttons are visible. No clue why they are not visible when using FireFox.

[2022-06-24 00:47] dadiorchen commented on #639
Oh, that's interesting, good finding!

[2022-06-24 22:54] okdv commented on #546
@dadiorchen I dont see an existing /map/[map-name] path. what should be expected here?

[2022-06-25 02:08] #555 closed

[2022-06-25 02:20] dadiorchen commented on #546
@okdv this is a long story, here are some info:
https://github.com/Greenstand/treetracker-web-map-client/issues/431
https://github.com/Greenstand/treetracker-web-map-client/pull/644#pullrequestreview-1019250555

So we are trying to build a sandbox to customize the theme, and load it for organization, to do this, we are planing to use: http://map.treetracker.org/map/freetown/xxxxxxxx to indicate th

[2022-06-25 02:21] dadiorchen commented on #546
Freetown is our biggest panter in Africa: https://map.treetracker.org/?map_name=freetown

[2022-06-25 02:23] dadiorchen commented on #431
Eventually, we want to implement something similar to https://bareynol.github.io/mui-theme-creator/

[2022-06-25 02:23] dadiorchen commented on #431
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/175754668-6a9db08e-11a5-4f8e-a018-421be5802a60.png">

[2022-06-25 08:19] RubenSmn commented on #407
@dadiorchen looking at the state of the current beta, I think this issue has been resolved

[2022-06-25 08:31] RubenSmn commented on #429
@dadiorchen is there any implementation from where I can start or is it a whole new component?
Which frames of the figma design should I use as a reference, my guess is `Macbook Pro - 226` and neighbours.

[2022-06-27 01:48] #407 closed

[2022-06-27 01:52] dadiorchen commented on #429
@RubenSmn I'm not sure about the status of this one, so I put it into the icebox for the time being. instead of this one, are you interested to challenge these:
https://github.com/Greenstand/treetracker-web-map-client/issues/431
https://github.com/Greenstand/treetracker-web-map-client/issues/515
If you are interested, let me know and I can give you details

[2022-06-27 01:58] dadiorchen opened #645 "The https://map.treetracker.org/?userid=3350 is broken"
On line version, `master` branch

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization, visit our [website](https://greenstand.org).
- If you want to join the slack com

[2022-06-27 07:50] RubenSmn commented on #431
@dadiorchen I would like to work on this one, can you fill me in on the details? Is there a design in the figma?

[2022-06-28 01:20] #556 closed

[2022-06-28 01:37] dadiorchen commented on #431
I have done some work on this PR, https://github.com/Greenstand/treetracker-web-map-client/pull/644 is about login to dashboard and edit the theme, and the way to switch theme via localstorage, and we also created a new microservice to handle the map config for this.
So now we are going to do an experiment to implement a visualized way to set the theme, as you see in the picture above.
The UI for

[2022-06-28 01:40] dadiorchen commented on #431
About the keycloak, is an user system, so the map client doesn't care about user management, the user login via keycloak, and the the authorization to visit the dashboard of web map

[2022-06-28 09:58] RubenSmn commented on #565
Just checked on android, Chrome and Samsung Internet. And the spacing is correct!

[2022-06-28 10:09] RubenSmn commented on #575
Should we use the `elevation` property for this, or just the `boxShadow` property. Using the `boxShadow` results in a more accurate replica of the figma design

[2022-06-28 11:35] RubenSmn opened #650 "Bug: zoom buttons overlap tree dialog"
### Description
Visiting http://localhost:3000/trees/186734?embed=true
And expanding the tree image.
The zoom buttons overlap the dialog.

This only happens when visiting the embed `true` url

### Screenshot
![image](https://user-images.githubusercontent.com/31519867/176168868-6d036f77-1eb2-4103-9ce4-eec33b570c46.png)

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetrack

[2022-06-28 19:27] Mohmn opened #652 "issue with the unit test of Featured Slider Component"
![Screenshot from 2022-06-29 00-56-47](https://user-images.githubusercontent.com/37132584/176268557-92a5c850-fc74-4d28-a2ce-0929122a8346.png)
---

Some hints for building components:

- This kind of issue is about creating a new component, it might not need to mount it in the whole app, to know how to create a component separately, please check the tutorial below.
- Design resource: https://www.fi

[2022-06-29 01:21] dadiorchen commented on #575
Previously, we just simply copy the shadow from figma, it works for light mode, but the problem is darkmode, we need to make sure it works for dark mode too.
Elevation has good behavior when switching between dark and light, as I mentioned here: https://greenstand.slack.com/archives/CA0ALV5S8/p1651203951801449

[2022-06-29 01:22] #650 closed

[2022-06-29 01:24] #652 closed

[2022-06-29 01:26] #592 closed

[2022-07-01 08:25] sebastiangaertner commented on #645
https://map.treetracker.org/?userid=6599 seems to work. @dadiorchen is this still active?

[2022-07-01 08:26] #618 closed

[2022-07-01 08:29] sebastiangaertner opened #655 "Version 1 map for Freetown has no date filter"
The date filter in production https://map.treetracker.org/?timeline=2017-02-15_2017-12-20 needs to be available on freetown.treetracker.org. this is an essential delivery of the project.

[2022-07-02 02:50] dadiorchen opened #656 "Test: this case on beta channel:"
https://map.treetracker.org/?userid=3350&bounds=-73.65242958068849,18.26000128888889,-73.52883338928224,18.291623758731028

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our orga

[2022-07-02 02:55] dadiorchen opened #657 "Do not support url update when move on map"
When open this page: https://prod-k8s.treetracker.org/web-map-beta/demo/planters/3350
Then, move/pan on the map, the URL should be updated with the bounds(the map location)

Like the online version: https://map.treetracker.org/?userid=3350&bounds=-73.65242958068849,18.26000128888889,-73.52883338928224,18.291623758731028

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/tr

[2022-07-02 02:59] dadiorchen opened #658 "Change the bounds format to follow google map"
Currently, we update the map bounds on URL as below: https://map.treetracker.org/?userid=3350&bounds=-73.65242958068849,18.26000128888889,-73.52883338928224,18.291623758731028

https://www.google.com/maps/@22.38131,114.168639,11z

so the new URL should be:
https://map.treetracker.org/?userid=3350&bounds=22.38131,114.168639,11z

This brings two downsides:
1. The formated string is a bit long
2. The

[2022-07-02 03:07] dadiorchen opened #659 "Nearest api should include the filter conditions"
https://map.treetracker.org/?userid=3350&bounds=-73.59464406967165,18.26803989209497,-73.57919454574586,18.271992832923733
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5744708/176984474-eac75bac-28a9-4992-b2e8-ee280167df5e.png">

https://prod-k8s.treetracker.org/webmap/nearest?zoom_level=17&lat=18.27001637376378&lng=-73.58691930770875
here the newst should add the f

[2022-07-02 03:26] dadiorchen opened #660 "Some zoom level is inaccurate for the tree cluster icons"
For this case, https://map.treetracker.org/?userid=3350&bounds=-73.65225791931154,18.25641487184136,-73.52866172790529,18.28803799525966
when zoom in, the cluster number gets lost,

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/

[2022-07-03 10:10] RubenSmn commented on #551
Played around with this, noticed that the box shadow does not overlaps images. See screenshot below.

![image](https://user-images.githubusercontent.com/31519867/177035023-d3eb56bd-46a4-4cea-9ce7-93c9400b20eb.png)

[2022-07-04 01:31] dadiorchen commented on #551
@RubenSmn thanks, I will check it later

[2022-07-05 13:12] jupiterdoom commented on #584
https://github.com/Greenstand/treetracker-web-map-client/pull/662

[2022-07-06 00:32] dadiorchen commented on #584
@jupiterdoom thanks for taking this issue, rather than mention PR here, you should mention this issue in your PR :)
https://github.com/gitbucket/gitbucket/wiki/How-to-Close-Reference-issues-and-pull-request

[2022-07-12 13:22] RubenSmn commented on #608
@dadiorchen the image itself is super small, 144x176 see [here](https://treetracker-production.nyc3.digitaloceanspaces.com/2019.10.09.20.56.27_79e0b04d-4d81-4072-a2ca-2e95a14a64b3_IMG_20190905_084937_-569058082.jpg).
The 'blur' happens because the image is forced to a bigger scale.

I think this is a rare case!

[2022-07-13 02:02] dadiorchen commented on #608
Yes, let's hold back on this to see how's going on.

[2022-07-18 15:59] RubenSmn opened #668 "Toggle desktop/mobile view of the web app in theme playground"
As the person who customizes the theme I want to be able to view the web app on different 'devices'.
Currently we are only able to view the web app in desktop view.
We want to have an button to change this view. The place should be next to the other buttons in the top bar of the config section.

You can use the `SquareIconButton` as button.
The state for this can be defined in the playgroundContex

[2022-07-18 16:01] RubenSmn opened #669 "Toggle textarea in theme playground"
On the bottom of the config section we have an textarea of the theme in JSON.
We want to be able to hide this from the bottom.
Something like an `Accordion`

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenst

[2022-07-19 02:06] dadiorchen commented on #668
I added `challenge` tag is because I think it's a bit tricky to switch between devices, in  a web page, @RubenSmn what kind of technology do you think we can use to implement this? Iframe? HOC in react?

[2022-07-19 08:24] RubenSmn commented on #668
The most forward solution; I think; is to use the MUI [Container](https://mui.com/material-ui/api/container/#props) around the current iframe and change the `maxWidth` prop

[2022-07-19 08:29] RubenSmn opened #670 "Improve loading custom fonts by loading them with fontWeight"
The custom fonts are loaded by the WebFontLoader. Check [here](https://www.npmjs.com/package/webfontloader#google) for the documentation

Currently we are giving the loader an array with only the names of the fonts.
When loading the fonts we should also add the used fontWeight as seen in the documentation.
We can get the those fontWeights from the theme.
If no specific fontWeights are being used w

[2022-07-19 09:39] RubenSmn opened #671 "Improve rendering/generating customize options"
Currently we are rendering the customize options from 2 places.
The first is from the `customizeOptions` in src/models/themePlaygroundOptions.js
Here we get all the options.
Then in the Select...Prop component we get the style props from the current theme.
This way we do not have control over what style props we want to show.

We can change this by extending the `customizeOptions` to something lik

[2022-07-19 12:58] RubenSmn opened #672 "Remove `temp` theme from themeObject"
Visit http://localhost:3000/admin/theme
Click preview to preview the theme and save to localstorage
In the localstorage there will we a `themeObject` with the current theme.

When changing something, an color for example and previewing the theme; the themeObject has a temp prop which should not be there.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-ma

[2022-07-20 18:12] RubenSmn commented on #668
I think that it should work; would have to test it to know for sure

[2022-07-21 01:39] dadiorchen opened #673 "Google analysis installment"
We need to add the google analysis script into the app, so we got data into google to check the visit chart/statistic.

And check if the data is successfully dumped into the google dashboard.

Maybe we also need to consider the interference of the data from test, dev env, but this is not the highest priority.

I will give you the necessary resource you need to finish this job

[2022-07-21 01:39] dadiorchen commented on #673
This issue is a good lesson to understand website statistic and anaysis

[2022-07-21 01:42] dadiorchen commented on #668
Yea that's possible, sometimes, the app will calculate something based on the global property, for example: the window.height

[2022-07-25 06:17] #672 closed

[2022-07-25 07:28] dadiorchen opened #676 "share by code/facebook/twitter"
The share feature has been down on our version 1, but the beta version misses this, so please help us migrate the existing version from version 1(master) to beta.

<img width="981" alt="image" src="https://user-images.githubusercontent.com/5744708/183355403-c45ffa5a-4d62-45c4-809b-56055c34569b.png">

[2022-07-25 07:30] dadiorchen opened #677 "image placeholder"
We need a good image placeholder to put into the places where we don't have real data.
For example, picture below, the current planter hasn't a photo yet, so we need a default image here.
It could be a gray logo of greenstand, or anything other appropriately.
![Image](https://user-images.githubusercontent.com/5744708/169639051-f0a585a5-959c-49cf-b77e-1cb7123dcb95.png)

[2022-07-25 13:10] RubenSmn commented on #670
Prerequisite #671

[2022-07-26 02:26] #671 closed

[2022-07-26 02:27] #657 closed

[2022-07-26 14:55] RubenSmn commented on #591
@dadiorchen with 'fullscreen' do you mean whether or not the `embed` value in the url is `true`?

[2022-07-27 00:48] jeremydthomas commented on #542
@dadiorchen, so I started playing with this again last night. I did find a way to make it work with theme.pallete.primary.main, it requires actually turning the svg files into components (accuracy.js file) and then loading them as react components. Similar to what @pratikmdhr was talking about a few paragraphs up. Plus many other css props for customizing them. I purposely made it bigger so you co

[2022-07-27 01:54] #594 closed

[2022-07-27 02:43] dadiorchen commented on #591
@RubenSmn correct!

[2022-07-27 02:50] dadiorchen commented on #542
@jeremydthomas yes, I think we should go in this direction, previously, I thought idealy we should be able to import `.svg` file directly and also being able to `fill` the color, but I'm afraid there are some difficulties, so let do as you suggested, correct me if I am wrong:
1. Export icon to `.svg` file
2. Copy the content in the file and create a `.js` file in the repo.
3. Import the `.js` as S

[2022-07-27 04:09] jeremydthomas commented on #542
Yes exactly it, Ill start working on the whole thing tonight @dadiorchen Ill keep the original .svg files untouched and make a svg component folder inside the svg folder and put the components in there.

[2022-07-28 01:04] dadiorchen opened #684 "Fix broken test: top.cy.js"
There are some unknown problem in this test:

https://github.com/Greenstand/treetracker-web-map-client/blob/42fda282bb28197edc6c50fa45d742b9c75ced50/cypress/tests/integration/top.cy.js#L12-L48

First, please remove `.skip` in the code and run the test locally, to check if it passes, if okay, try to raise PR and check the CI result, our case is on the github action for CI, this test will fail, chec

[2022-07-28 01:07] dadiorchen opened #685 "Write document about how to write integration test."
This issue just is about writing a guide in the REAMDE.md, please:

* Read the code and understand how the integration tests work, files under: `/cypress/tests/integrations/`
* Write a guide about how to create new integration and briefly describe how does this work.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more inf

[2022-07-28 02:21] #684 closed

[2022-07-28 02:25] dadiorchen opened #687 "A mechanism to disable next cache"
We withdraw the next cache feature in this PR: https://github.com/Greenstand/treetracker-web-map-client/pull/686/files

This is because in the Github action, if we use cache, the execution is slow and will fail sometime, like this: https://github.com/Greenstand/treetracker-web-map-client/runs/7551857265?check_suite_focus=true

So we need an env variable to switch the cache feature, so on the CI, w

[2022-07-28 06:44] dadiorchen opened #689 "User login"
This is about the organization user is able to log into the web map dashboard.

* Integrate with our Keycloak user & auth platform.
* Be able to distinguish the organization.

[2022-07-28 06:46] #514 closed

[2022-07-28 08:08] RubenSmn opened #690 "Bug: runtime error setPropByPath"
### Description
When trying to set the `dark` prop on the `primary` color in the palette config.
There is a runtime error saying that the `dark` property is undefined

The same error on the `secondary` color

EDIT: Happens when editing the dark theme, when editing the light theme the `light` prop is undefined

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-w

[2022-07-28 09:28] jeremydthomas commented on #542
After figuring everything out tonight, I am now changing everything over to the new way in doing svg files @dadiorchen . Basically what I did was to add
[code]
into next.config.js file, then
[code]
instead of
[code]

I was then able to use this code
[code]
to get the same picture that I posted above.

[2022-07-28 21:10] dadiorchen opened #692 "Wrong tile"
![Image](https://user-images.githubusercontent.com/5744708/169631050-39ac3ac0-2329-4c96-b5a8-61cffedca455.png)

[2022-07-28 21:11] dadiorchen commented on #692
https://github.com/Greenstand/treetracker-web-map-client/issues/692

[2022-07-28 21:12] dadiorchen commented on #692
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/5744708/181638301-4af2e363-ab36-4877-8dcd-c491386006f0.png">

[2022-07-28 21:20] dadiorchen opened #693 "back button on tree page"
#Need to implement back button on tree page: https://dev-k8s.treetracker.org/web-map-beta/demo/trees/186735?bounds=38.97449254989625,-5.514990846541382,38.988547325134284,-5.501043682562317

![Image](https://user-images.githubusercontent.com/5744708/181639552-04e133eb-3e27-4fae-a960-eb47608c73b4.png)

[2022-07-28 21:28] dadiorchen commented on #693
I think we can not simply use the browser history feature to implement this, because the history become messy when we jump between actions, maybe we should think about view the `button` as an action of `go up level of the website`

say, we are on: http://map.treetracker.org/planters/1/trees/2 then here by clicking `back` we should go to http://map.treetracker.org/planters/1 no matter how the histo

[2022-07-28 21:31] dadiorchen opened #694 "On this page, can not display logo"
http://localhost:3000/organizations/1/trees/701767?embed=true

[2022-07-28 21:36] dadiorchen commented on #694
We should:
on the left top conner,

![Image](https://user-images.githubusercontent.com/5744708/181641214-b955a5bd-6fd0-4d2a-b45c-cd577370a94c.png)

[2022-07-29 02:16] dadiorchen opened #696 "Force code format for every commit."
Before committing code, force to format code using prettier, in this way, the whole project is consistent in code format, avoiding unnecessary file differences when review code.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/eng

[2022-07-29 03:08] #690 closed

[2022-07-29 03:29] dadiorchen opened #698 "The dark/light button doesn't work"
I noticed that by clicking the button, nothing happen, but, refreshing the page will get the expected result.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization, vis

[2022-07-29 03:29] dadiorchen commented on #698
@RubenSmn this seems related to your change?

[2022-07-29 03:37] dadiorchen opened #699 "New highlighted wallet accounts on the `top` page."
Just like the featured org and planters, we need a section of `Featured wallet this week` and the UI could be the same, but list 10 newest wallets with logo (we will replace it with real featured list in the future)
<img width="822" alt="image" src="https://user-images.githubusercontent.com/5744708/181677537-ddcca123-d98e-4e49-8409-b0e8d76d47d8.png">

---

Some hints:

- Please read our [readme](h

[2022-07-29 03:59] #597 closed

[2022-07-29 04:00] #593 closed

[2022-07-29 05:49] RubenSmn commented on #698
@dadiorchen will have a look!

[2022-07-29 06:12] dadiorchen opened #700 "Web map client integrate with Keycloak"

[2022-07-29 09:56] RubenSmn opened #701 "Reset input fields to their default value"
### Description

Currently we can only reset the whole theme back to the Greenstand default.
We want to be able to reset the individual style props as well.
Every input should have some reset button/icon

[2022-07-29 10:24] RubenSmn commented on #698
This happens when the theme object is not set in the local storage!

[2022-07-29 15:14] jeremydthomas commented on #542
Well, the SvgIcon tag now works as well, so Im going to use that. Ive learned tons about svg files and mui and next.js.  The sx prop works with svgicon, and for theme.palette.primary.main to work, MUI uses just primar.main under the sx prop

[2022-07-30 02:34] dadiorchen commented on #542
@jeremydthomas awesome, did you open a PR?

[2022-07-30 03:14] dadiorchen opened #703 "Add link style on a component"
When the mouse is over the slider element, the pointer change to a `hand` icon to indicate that its clickable.

![Image](https://user-images.githubusercontent.com/5744708/181870495-666ebb2d-646e-42a5-ac6a-640282d9cbf8.png)

[2022-07-30 03:18] dadiorchen opened #704 "The map lost the org/planter context when click `next tree` on the map"
Basically, when we open url like this: http://localhost:3000/planters/940/trees/186734?embed=true
which means we are on the context of planter:940, but on the map , if we click the tree icon, the URL will jump to : http://localhost:3000/trees/xxxx we lost the context, on the page, if we are on the planter context, we got a logo on the top:
<img width="1352" alt="image" src="https://user-images.git

[2022-07-30 03:19] #578 closed

[2022-07-30 03:37] dadiorchen opened #705 "Tree Page: please display more tree tag on tree page"
Please help display the lost tags on tree page, like: age, token, wallet, and so on.

Please show these tags for us (by parsing from the tree API response data):
* status:
* age
* morphology
* species
* token
* wallet

Here is an example of tree API.
https://dev-k8s.treetracker.org/query/trees/186735

[code]

Please choose appropriate icon in our Figma design:
https://www.figma.com/file/XdYFdjlsHv

[2022-07-30 03:38] #595 closed

[2022-07-30 03:39] dadiorchen opened #706 "Tree page: highlight the tree icon."
On the tree page, when jump to: http://localhost:3000/trees/186735 the tree icon should be highlighted.

![Image](https://user-images.githubusercontent.com/5744708/169639476-a5aafcbf-e22e-48a9-b6ec-3a6f467f1b7c.png)

Like the design shown here: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=3127%3A12381

[2022-07-30 03:40] dadiorchen commented on #526
Finished by recent commit

[2022-07-30 03:40] #526 closed

[2022-07-30 06:17] dadiorchen commented on #591
@RubenSmn this one is problematic, in some case we must use the URL to control the embed behavior.

[2022-07-30 06:20] dadiorchen opened #707 "Use the route to control the embed behavior"
Currently, we use this way (query parameter) to control the embed behavior:

http://localhost:3000/planters/940/trees/186734?embed=true

This is annoying because we need add this parameter for every URL when we navigating on the app.

We need to consider use route to control this behavior:

http://localhost:3000/m/planters/940/trees/186734

Probably we need to use next.js rewrite to implement, but

[2022-07-30 06:25] dadiorchen commented on #707
We were thinking about use cooike to implement it, but in this way, we can not let user open the embed map at the first time, right?

http://localhost:3000/planters/940/trees/186734?embed=true

[2022-07-30 06:30] dadiorchen commented on #591
BUT, maybe we can do in this way?

1. Open: http://localhost:3000/planters/940/trees/186734?embed=true
2. Display map in embedded mode
3. Save the mode status into cookie/localstorage
4. Jump to another page without `?embed=true`
5. Read the cookie/localstorage
6. Display map in embedded mode

[2022-07-30 06:30] dadiorchen commented on #591
Another solution: https://github.com/Greenstand/treetracker-web-map-client/issues/707

[2022-07-30 06:35] RubenSmn opened #708 "Validate fontFamily user input"
### Description

In the playground when changing a style prop value we need to validate if the user input is a correct value.
We already have some rules set up for this but are missing the `fontFamily` one.

The rules are defined here: https://github.com/Greenstand/treetracker-web-map-client/blob/beta/src/models/themePlaygroundOptions.js#L120-L136

We need to accept all the default values such as

[2022-07-30 07:41] dadiorchen commented on #576
@jeremydthomas maybe you can help us on this? Just try to test your new mechanism of using SVG

[2022-07-30 07:56] jeremydthomas commented on #576
Yes, I've already got a solution for this. The color='disabled' works here @dadiorchen I was going to do this and raise a pr immediately after the other one

[2022-07-30 19:44] RubenSmn commented on #591
@dadiorchen I think this is a good way to solve this issue

[2022-07-30 22:13] jeremydthomas commented on #542
@dadiorchen finally finished and put up a PR. Let me know what you think or how I could improve!

[2022-08-01 01:40] #698 closed

[2022-08-01 02:29] dadiorchen opened #713 "filter country board by continent"
Clicking on the tag can not trigger the update of the countries (by filter by that tag)

![Image](https://user-images.githubusercontent.com/5744708/182060734-28ce3d81-e0d4-460b-8285-d231e4dfac9b.png)

[2022-08-01 02:35] dadiorchen opened #714 "Add badges component on the tree page"
http://localhost:3000/trees/186735

Please implement these `badges` on the tree page, currently, there are `badges` on the panel, but it's hard-code.

`Verified trees` if `approved` property is true.
`Waiting for verify` opposite to the above.

`Token issued` if `token` is not null
`Token not issued` opposite to the above.

![Image](https://user-images.githubusercontent.com/5744708/182061070-906e9

[2022-08-01 02:41] dadiorchen opened #715 "Tree page: add information sections: `took at`, and `location info`"
Add info below, put them under the tree id on the photo panel, replace the tree name (like, Eco-Peace-Vision), the tree name is useless for us for the time being, because most of tree is missing it.

![Image](https://user-images.githubusercontent.com/5744708/169639171-3f230a60-27db-4e44-93b8-bf4395000d8d.png)

[2022-08-01 02:41] dadiorchen opened #716 "Tree page: implement the real data for org and planter info"
Currently, these part of data is fake.

![Image](https://user-images.githubusercontent.com/5744708/169639203-1a21455b-facf-4836-a5d8-5c4ec7d6ca7a.png)

[2022-08-01 02:43] #716 closed

[2022-08-01 02:52] #612 closed

[2022-08-01 02:53] #703 closed

[2022-08-01 20:58] pierrelstan commented on #705
@dadiorchen I take this one.

[2022-08-02 01:10] dadiorchen opened #721 "CI/CD"
* The beta branch auto-deployment
* Deploy beta version to production

[2022-08-02 02:15] dadiorchen opened #722 "Tree icon highlighting is inaccurate"
Check the video, maybe this is a problem in `core`, the highlighted icon's position is a bit diverged from the right place:

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-08-02%20at%2010.14.20%20AM.mp4

[2022-08-02 02:20] dadiorchen opened #723 "The design for web map config solution"

[2022-08-02 02:28] dadiorchen opened #724 "The final solution for country leader board"
We need to find a formal solution for the leader board of countries, currently, we use SQL directly on query API to fetch the board, but, the problem is that it is too slow, we need to find a way to offer acceptable performance for querying the board data.

[2022-08-02 02:30] dadiorchen commented on #724
Some idea:

* Use airflow to pre-generate the data.
* Use pgpool to pre-cache the SQL

[2022-08-02 02:35] dadiorchen commented on #724
Maybe we can combine airflow + query-api services:

1. query-api open API for fetch the data.
2. airflow fetch the API and dump data the db. (question: who do the insertion? airflow or query-api)
3. fetch another API on query-api to get the pre-genrated data.

In this way, airflow job is simpler.

@dagmawig could you give some opinion here?

[2022-08-02 02:36] dadiorchen commented on #724
Another thing, we need to consider the leader board for continents.

[2022-08-02 02:38] dadiorchen commented on #724
Another solution: utilize the next.js cache system through the contribution by @okdv !

@okdv can you give any input on this?

[2022-08-02 02:47] dadiorchen opened #725 "Ignore history/back for updating the bounds on url address"
Currently, everytime we change the bounds (https://prod-k8s.treetracker.org/web-map-beta/demo/top?bounds=-108.10546875000001,-54.77534585936448,145.01953125000003,59.5343180010956), for example, click the zoom in/out button,  the new bounds will push the browser history, we need to ignore this action, because it make no sense that when people clicking back button on browser, the URL jumps back to

[2022-08-02 02:47] dadiorchen commented on #725
@Mohmn it would be great if you can give any input on this.

[2022-08-02 02:54] dadiorchen opened #726 "Help to analyze a special behavior of next.js"
This is weired, when we input: https://prod-k8s.treetracker.org/web-map-beta/demo/ the URL will automatically change to : https://prod-k8s.treetracker.org/web-map-beta/demo

I am not sure this is from next.js, but it has impact on the app sometimes:

The ambassador will have problem with: https://domain/services  (without ending with slash) I don't know if we can solve this problem on the side of

[2022-08-02 02:55] dadiorchen commented on #726
@emmanue do you think we can make ambassador work for this?

[2022-08-02 03:02] dadiorchen opened #727 "Link on planter slider is wrong (on prod)"

[2022-08-02 03:08] dadiorchen opened #728 "Remove the extra spacing/padding of the Link component"
After added the Link component, the UI will be changed a little bit, check the comparison:

without Link
![Image](https://user-images.githubusercontent.com/5744708/182283531-48b5d1ce-42b3-473c-992a-bfc5c776ebc9.png)

with Link
![Image](https://user-images.githubusercontent.com/5744708/182283868-872b9951-34c4-4cde-9b94-119f7a83e7a1.png)

We need to erase the effect of the Link which increased the g

[2022-08-02 03:32] #727 closed

[2022-08-02 03:48] dadiorchen opened #730 "Restrain the image size on planter page"
When the tree picture is big, the image size is inappropriate:

![Image](https://user-images.githubusercontent.com/5744708/182287554-35d12004-cbfd-490d-93bb-a7580dff1b8e.png)

comparing to the design:

![Image](https://user-images.githubusercontent.com/5744708/182287642-140e11eb-6c6c-4833-b628-8704ca786d38.png)

[2022-08-02 03:49] dadiorchen commented on #677
![Image](https://user-images.githubusercontent.com/5744708/182287825-6570ca88-96bc-4152-85ac-ff6540a2affe.png)

[2022-08-02 06:35] dadiorchen commented on #705
@pierrelstan awosome!

[2022-08-02 06:52] dadiorchen opened #731 "Set next.js runtime configuration for some env variable"
The problem:

Now we are using config like this:

`.env.production`

[code]

The problem is, that we will build the next after merging the code, then deliver the package to dev, test, production env, so we can not allow the settings which would change in different envs.

Solution, according to some research:
https://stackoverflow.com/questions/50416138/nextjs-set-dynamic-environment-variables-at-t

[2022-08-02 15:32] dagmawig commented on #724
Can we do some kind of indexing like what we are trying to accomplish with the search function? Can Solr be used on this?

[2022-08-02 17:09] okdv commented on #724
next cache is a possibility here. that being said, it would still require clients load the full request from time to time so it can generate the static pages, so it would probably be a good idea to find a way to expedite that query when it does have to be used still, so its probably better in combo with something as opposed to standalone fix.

I think an indexer like @dagmawig said could work well

[2022-08-02 20:26] Mohmn commented on #725
@dadiorchen I totally agree with you here , either the map should respond to bound url changes or we should route back to a url which performs some action

[2022-08-03 00:08] okdv commented on #707
I would agree with the cookie solution in #591, as opposed to a next.js rewrite. It's a little more involved, but i think this could work well by creating some routes dedicated to setting and getting the cookie.

- create /getCookie and /setCookie (as examples)
- in _app check /getCookie
- - if /getCookie finds no cookie, uses /setCookie to set default and returns that
- - if /getCookie finds exis

[2022-08-03 01:41] dadiorchen commented on #724
@okdv @dagmawig yes, I think these approaches all make sense, now I tend to use next.js cache as the first step, because this is the most buy for us, it's simple, fast, and speed up the whole site's performance, with the mechanism of pre-cache and enable-it-at-next-short, I think the respond of the site would be really fast.

As to the first visit for a new start of the site, I think we can use ai

[2022-08-03 01:56] dadiorchen commented on #725
Some resource related to this issue: https://developer.mozilla.org/en-US/docs/Web/API/History_API

[2022-08-03 02:10] dadiorchen commented on #707
@okdv I'm also dislike this solution, it seems not so RESTFul style, the `emebed` is a state of UI rather than a resource, so I don't want to put it into the path rather than query parameter.

But when I re-think the requirements, you know, for the partner of greenstand, say, https://sadu.app/#everyone they want to integrate our map into their app (as a browser view) in this case, we need totally

[2022-08-03 02:16] dadiorchen commented on #707
another question: cookie vs localestorage:

I prefer local storage, it's easy to manipulate, no server-data-sending, so don't need to ask permission of user, last one: we already used it in the project.

@okdv @RubenSmn please comment

[2022-08-03 02:23] dadiorchen opened #732 "Rotate the planter photo if needed"
The planter photo sometimes need to rotate, if don't the photo direction on the page is wrong.

![Image](https://user-images.githubusercontent.com/5744708/182510338-90b1d819-1b3d-479d-bae6-f7aa50c7220b.png)

In the table, (planter object) there is a field for this (image_rotation):

[code]

[2022-08-03 02:30] dadiorchen commented on #677
Our designer has made the picture, so just need to add it to the project:
[Archive.zip](https://github.com/Greenstand/treetracker-web-map-client/files/9247437/Archive.zip)

[2022-08-03 02:32] dadiorchen commented on #676
We have done some work on this, the share button is working, but there sill are some problem, for example, clicking share to facebook will throw error.

Please go though these button for us and make sure they are working.

[2022-08-03 17:08] RubenSmn commented on #707
I also prefer localstorage, it is already set up in the project and easy to use. I think its a good solution, no need to build something new for the cookies

[2022-08-03 17:24] okdv commented on #707
agreed, localstorage is better than cookies for this. might be a bit of a pain to implement with SSR/ISR being used on the same pages, but should work if we wait for it to mount first

as for the url bit. I think using them both, so that way there is a easy way to know when to hide that un/embed button. or if hiding the button isnt much concern, we can simply embed by default and no need for url s

[2022-08-03 17:32] okdv commented on #724
exactly yea, if we implement some other tools that could be used, e.g. next cache vs airflow vs solr vs combination of them, im happy to help with testing them so we can get some time comparisons down, decide whats worth keeping long term.

that being said, i think using only next cache can be a solid short term solution. load times when the cache expires might suck but hopefully most sessions won

[2022-08-03 17:34] RubenSmn commented on #707
I don't think we need the url. We could just use the localstorage value to check whether to display the embed or unembed button

[2022-08-03 21:18] okdv commented on #707
my only concern there is wouldnt need to default to embed so it works for those partners that @dadiorchen mentioned? if so, users wouldnt be able to go to unembed either, so might as well get rid of the un/embed stuff altogether

[2022-08-04 02:35] dadiorchen opened #735 "Make the slider button more noticeable, and adjust the position"
The slider button (on the right of the avatar photos) is hard to tell, please make it more noticeable.

And the position of the button is inappropriate, please adjust the vertical position to align with the middle line of the component.

![Image](https://user-images.githubusercontent.com/5744708/182750517-a0a2f4e7-06f3-4031-b0b4-0e3c8260d6a0.png)

[2022-08-04 02:49] dadiorchen opened #736 "The planter page: the background image size is inapproprate"
The image as background is too big, we need to adjust the image size to respect the design.

![Image](https://user-images.githubusercontent.com/5744708/182752071-ce27a739-edbd-45f6-9a6f-4039de12a3bf.png)

The design: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=3765%3A12671

![Image](https://user-images.githubusercontent.com/5744708/182752292-bbc2a537-0a33-4d94-8c50-

[2022-08-04 02:53] dadiorchen opened #737 "The 404 page for cases that we can not find data for entities"
We need to handle this case:

http://localhost:3000/planters/942

There isn't planter no.942, so we need to jump to 404 page (we have one /pages/404.js)

[2022-08-04 06:45] dadiorchen commented on #724
I really wanted a test for the performance, I even consider greenstand needs a test team for this, to pressure test, available test for all our service, if you can push the test for the issue we are discussing, I think that would be a good start. Do you have any plan on this? tools? the resource you need and so on? I will definitely support you on this.

[2022-08-04 06:47] dadiorchen commented on #724
Just a month ago, one of our service crashed because of the pressure, the DB can not bear the concurrent requests emitted, we really need some solution for this kind of case.

[2022-08-04 06:48] #714 closed

[2022-08-04 06:49] RubenSmn commented on #707
That is true. Then I think @dadiorchen solution in #591 is the way to go

[2022-08-04 07:23] #736 closed

[2022-08-04 08:35] dadiorchen commented on #707
Genius idea, but it's a little bit hacking style, I'm not sure it works for all cases, for example embedded by a browser view of a native app like android and ios

Thanks, guys, good discussion!

I think I tend to implement them both, but let's implement the localstorage solution first as we also discussed here: #591

@okdv will you take it or you are on others?

[2022-08-04 20:14] pierrelstan commented on #731
@dadiorchen I take this one.

[2022-08-04 21:27] dadiorchen opened #740 "Set next.js redirect url to compatible with old map"
We need to redirect our old url/path to the new version, so we need to set a redirect rule to bring the old url to the new version:

rule:

http://localhost:3000/?treeid=xxx  --> http://localhost:3000/trees/xxx

http://localhost:3000/?userid=xxx  --> http://localhost:3000/planters/xxx

The best result is a 302 permanent redirect, if it is hard, we could consider other options.

[2022-08-05 02:14] dadiorchen opened #741 "Test web map client in web viewer"
make sure the app works on android / ios app

[2022-08-05 02:17] dadiorchen opened #742 "A state controller for the client"
Now the state is super complicated, we need a model to control this, for:

* Path resolution.
* A kinds of switchers: embed, context,

[2022-08-05 04:28] dadiorchen opened #743 "Impact selection placeholder component"
Build a component with a static demo of the impact section, directly copy the UI in Figma here, by making the UI grey/disabled, and saying: coming soon.

Put it under the bottom of pages: tree/planter/organzaiton/wallet page.

![Image](https://user-images.githubusercontent.com/5744708/183001542-841a20b4-68fa-4db0-addb-2d63d86aec9a.png)

The figma: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/

[2022-08-05 10:47] oscargonzalezdev commented on #728
Hi there! I can help you with this issue.
Where can I find this component?

[2022-08-05 12:28] RubenSmn opened #745 "Preview button not updating theme"
### Description
Visiting http://localhost:3000/admin/theme
In the config tab the preview button does not update the theme anymore

[2022-08-05 12:31] RubenSmn opened #746 "Add color component to pick a color"
### Description
To improve user experience we want to add an color picker for the color input, see screenshot below

![Image](https://user-images.githubusercontent.com/5744708/181644002-e1d7abb4-317c-44a7-baec-5c6e6ebf6b29.png)

Something like this: https://casesandberg.github.io/react-color/
Lightweight version of React Color: https://github.com/omgovich/react-colorful

[2022-08-05 13:56] RubenSmn commented on #742
Maybe we can make something like a `WebMapProvider` with all the state of the `embed` `theme` etc

[2022-08-05 17:40] okdv commented on #724
For this bit in particular, I was thinking some pretty basic performance testing, mostly with in built performance api in the browser, maybe use cypress to programmatically test it depending on how everything is already set up.

That being said, for big picture, I would certainly agree that having some testing or QA team or people in place would be a good idea. stress testing a db or web server ca

[2022-08-05 19:39] okdv commented on #740
ill take care of this real quick, however it will be a 308 redirect. same thing as 301 effectively (except 308 preserves all headers/method) only bc this is supported by next.js out the box, see https://nextjs.org/docs/api-reference/next.config.js/redirects

[2022-08-05 20:35] RubenSmn opened #751 "Add tooltip to custom card"
### Description
In the `CustomCard` component we need an tooltip to display helper/info text; the question mark icon.

![image](https://user-images.githubusercontent.com/31519867/183158451-fb7dd5ab-6833-48f7-906a-451c466218bd.png)

For the UI you can follow our Figma design, see the link below for detailed design.

Tooltip: https://mui.com/material-ui/react-tooltip/
Figma: https://www.figma.com/fi

[2022-08-06 00:05] okdv opened #753 "Map bounds break on press of embed/expand map button"
**Describe the bug**
Map bounds (visible under bounds parameter in URL on pages like http://localhost:3000/planters/940/trees/186736?bounds=xxx) break on click of embed/expand button on map.

It appears to be due to the value of this parameter becoming encoded, replacing commas with %2C, breaking much of the behavior of the map

**To Reproduce**
Steps to reproduce the behavior:

- navigate to page

[2022-08-06 03:01] dadiorchen opened #754 "Should be able to load the map by `bounds`"
If the url includes `bounds` parameter, then the map should be load by the bounds:

http://localhost:3000/planters/940?bounds=38.79890441894532,-5.565415753407831,39.29328918457032,-5.069057826784033

As shown above, when open the page, the map should display the view according to the bounds=lat,lon...

The map core (Map object) can be set by bounds, so we just need to set it when we load the page

[2022-08-06 03:39] #704 closed

[2022-08-06 03:49] dadiorchen commented on #724
@okdv we used k6 as the tool to do pressure test for our wallet-api before, by a volunteer, https://k6.io/ but JMeter is kind of more battle proved one.

I ran into problem with some test running on github action, so I temporarily close the cache, I plan to recover it and add a switcher to turn it on/off, so 1. we can disable it on CI to avoid unexpected result. 2. Bring convenience when we want t

[2022-08-06 03:51] dadiorchen commented on #728
@oscargonzalezdev thank you! The component is: /src/component/Link.js

[2022-08-06 03:59] dadiorchen commented on #740
@okdv acceptable! thank you!

[2022-08-06 04:01] #740 closed

[2022-08-06 04:11] #705 closed

[2022-08-06 20:51] quyet-v commented on #751
can I take this one?

[2022-08-06 21:35] RubenSmn commented on #751
@quyet-v yes go ahead!

[2022-08-07 00:47] #743 closed

[2022-08-07 02:11] dadiorchen opened #757 "The github & semantic release workflow for web map client"
A possible proposal: https://docs.greenstand.org/drafts/workflow-for-git-github-release

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization, visit our [website](https

[2022-08-07 09:22] ParisaTork commented on #713
Had a look at this - all data indeed points to the data for Global: https://imgur.com/a/0myHQMi
Could the issue have to do with the Treetracker Query API?

[2022-08-07 14:43] RubenSmn commented on #668
@dadiorchen just did some more testing and came to the conclusion that for this to work properly with our `Drawer` we need to update the `Drawer` to use `pointer` events instead of `touch`

[2022-08-07 19:13] #751 closed

[2022-08-08 03:02] dadiorchen commented on #713
@ParisaTork I think you are right, I will transfer this to that repo.

[2022-08-08 03:03] dadiorchen commented on #713
By the way, if you want to join our community on slack, please send me your email address so I can invite you :)

[2022-08-08 03:05] #745 closed

[2022-08-08 03:08] dadiorchen commented on #668
@RubenSmn I'm not sure if the `pointer` event has big impact on the real mobile device, but I think for the playground, it is fine if the app behavior not 100% the same as the real device? So I think we can just go forward with this flaw.

What do you think?

[2022-08-08 03:09] dadiorchen commented on #668
At least they can see the initial view of the mobile page on the playground, right?

[2022-08-08 03:29] dadiorchen opened #759 "Mobile drawer doen't work on the bottom"
And the id is too long for uuid case to distort the UI

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-08-08%20at%2011.26.51%20AM.mp4

![Image](https://user-images.githubusercontent.com/5744708/183332663-27f4586a-812b-456d-be0a-77fcef7faafd.png)

[2022-08-08 03:35] dadiorchen opened #760 "Need some padding on the bottom"
![Image](https://user-images.githubusercontent.com/5744708/183333281-da4eb3b2-1dc0-4985-b152-2fd0d1178357.png)

[2022-08-08 03:44] dadiorchen opened #761 "Restore the timeline feature"
Try to restore the timeline feature, to do this, maybe we need to consider the UI/UX for this.

Please note, currently, because of performance consideration, we will just do the timeline feature for the global map, which means, on the org/planter/wallet page, say: /organizations/178 the user can not open the timeline and filter data by the data range ( which is too slow for the time being)

This i

[2022-08-08 03:57] #542 closed

[2022-08-08 06:47] dadiorchen commented on #731
@pierrelstan if this is not easy, maybe it not the best solution, I think we can also consider to delay the building step to put it into the bundle, so the normal env var could work

[2022-08-08 07:27] Dun-sin commented on #760
Hi, maybe a little more content on where exactly the padding is needed will be helpful

[2022-08-08 07:56] RubenSmn commented on #760
@Dun-sin the padding is needed on the wallet page: https://github.com/Greenstand/treetracker-web-map-client/blob/beta/src/pages/wallets/%5Bwalletid%5D.js#L270

[2022-08-08 08:35] RubenSmn commented on #668
This is the current `Mobile` preview, the user is able to click on everything (go to trees pages etc) but can't really see anything due to the drawer not being swipable with the mouse.

For now I can just implement the basic toggle feature.

[Kooha-2022-08-08-10:27:00.webm](https://user-images.githubusercontent.com/31519867/183374786-be9234f4-0d38-40e0-9947-9cd2205fdfb5.webm)

[2022-08-08 21:18] jeremydthomas commented on #677
ill be working on this

[2022-08-09 00:57] dadiorchen commented on #760
@Dun-sin welcome, if you want to join ur community to find more stuff, please send me your email so I can invite you

[2022-08-09 01:05] #737 closed

[2022-08-09 01:07] dadiorchen opened #764 "Find a better way to handle the error on server-side"
https://github.com/Greenstand/treetracker-web-map-client/pull/748

Currently, we need to handle error manually, please help us to find a more convenient way to handle case like this.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.i

[2022-08-09 01:11] dadiorchen commented on #668
@RubenSmn I think this is really good enough for now, let's build the Rome city brick by brick :D you can make a challenge issue for dealing with the drawer, but for now let's just leave it as this.

[2022-08-09 01:51] #677 closed

[2022-08-09 02:14] #591 closed

[2022-08-09 06:28] jeremydthomas commented on #754
@dadiorchen Im a bit lost on exactly what you want done here, my localhost link opens it to the map cords like it should when I click on your link. and when i make it http://localhost:3000/?bounds=38.79890441894532,-5.565415753407831,39.29328918457032,-5.069057826784033 that works too.

[2022-08-09 06:39] RubenSmn opened #769 "Graph not showing on ImpactSection"
The static graph is not showing on the `ImpactSection` component
This is probably due to the new way we import svgs

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organizatio

[2022-08-09 06:41] RubenSmn commented on #769
@jeremydthomas could you have a look at this?

[2022-08-09 07:23] jeremydthomas commented on #730
@dadiorchen something like this?
![image](https://user-images.githubusercontent.com/63400531/183588511-484e04bf-2712-492b-b752-20f739ccc340.png)
this code here
`          sx={{
            borderRadius: 4,
            mt: 6,
            '& img': {
              width: '100%',
            },
          }}
`
seems to really distort the image when it makes it really wide like that.

[2022-08-09 07:29] dadiorchen commented on #754
@jeremydthomas good start I think, yes, then it means the web map core support loading by bounds, so, the problem is, the planter/xxx page can not load by `bounds` the map view was decided by the initial calucation, we need to jump the the view indicated by the `bounds` query.

See, this is the planter page, I moved the map after loading:

<img width="1388" alt="image" src="https://user-images.git

[2022-08-09 07:30] dadiorchen commented on #754
This feature is useful for our patterner, because sometime they want to share the map with other but change a little bit the initial view of the map, doesn't this make sense?

[2022-08-09 07:32] dadiorchen commented on #730
You are close, we need to refine the UI to close the design here: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=4819%3A14477

[2022-08-09 07:42] jeremydthomas commented on #769
@RubenSmn is it supposed to look like this?
![image](https://user-images.githubusercontent.com/63400531/183593061-f3d5b789-ce9f-4d33-9592-5cda39290028.png)

If so I just fixed it

[2022-08-09 07:51] RubenSmn commented on #769
@jeremydthomas yes it does! But I remember the text was on a different spot: https://github.com/Greenstand/treetracker-web-map-client/pull/749#issuecomment-1207171655

[2022-08-09 08:16] #769 closed

[2022-08-09 10:24] RubenSmn commented on #759
Could we use the `text-overflow` property with `ellipsis` for this? https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow

[2022-08-09 11:42] RubenSmn opened #775 "Fix UX drawer"
### Description
On mobile the drawer has bad UX when trying to expand/collapse it.
Scrolling up the content collapses the drawer. The same happens when scrolling down the content then de drawer expands.
See the video for a better insight:

[Kooha-2022-08-09-13:29:05.webm](https://user-images.githubusercontent.com/31519867/183637894-b91b7a59-cff4-47bd-b0ed-aba384b71f3a.webm)

---

Some hints:

- Pl

[2022-08-09 14:24] pierrelstan commented on #676
@dadiorchen I'm working on this.

[2022-08-10 01:25] dadiorchen commented on #759
@RubenSmn good idea, be aware of the browser compatibility, some properties are not supported by browsers.

[2022-08-10 01:27] dadiorchen commented on #775
Bad, I solved this problem before, at least on my side, I tested the scroll is perfect, but don't know why it shows up again, maybe some CSS change cause this.
How do you test it? By Chrome?

[2022-08-10 05:24] RubenSmn commented on #775
Yes I tested it with Chrome. I think it is due to the content being a `ref` for the `touch` event handler. We could simply fix it by only setting the handler on the title/header part of the drawer

[2022-08-10 05:35] RubenSmn commented on #775
Also tested it on a real mobile device, same issue

[2022-08-10 06:46] jeremydthomas commented on #730
@dadiorchen try number 2, I took the height from the figma and hard coded it. left the width at 100%

![image](https://user-images.githubusercontent.com/63400531/183833591-a80869f9-1f23-4765-82c8-ebf036846a07.png)

[2022-08-10 17:07] #735 closed

[2022-08-11 01:56] dadiorchen commented on #730
@jeremydthomas did you open PR?

[2022-08-11 01:58] dadiorchen commented on #775
Great, open PR if you fixed it

[2022-08-11 06:28] dadiorchen opened #780 "Ugly case of the avatar"
In this case, the bottom of the avatar is a bit weird because the background of the SVG is white, need to refine this UI

![Image](https://user-images.githubusercontent.com/5744708/184075882-7edea53d-15a3-4be2-a715-d7c37d70cb86.png)

How to reproduce: http://localhost:3000/organizations/178

[2022-08-11 07:06] dadiorchen opened #781 "API: GET /organizations/{id} add `country` to response"
{
  country: [where this organization belong]
}

The rule to calculate the country: find the first tree planted by this organization, find the country by the trees coordinates.

All these functions has been created, so here we just need to compose them and get the result.

[2022-08-11 08:18] #668 closed

[2022-08-11 20:48] RubenSmn commented on #708
Will be fixed by #712

[2022-08-11 21:18] dadiorchen opened #783 "There are too much space in the impact area for mobile"
We need to refine for mobile on this area

![Image](https://user-images.githubusercontent.com/5744708/184244043-fef17690-077a-41a7-b897-58639e35076c.png)

[2022-08-11 22:05] RubenSmn commented on #783
I think that is my bad, there is a fixed height on the graph image. Should make it dynamic!

[2022-08-11 22:08] RubenSmn commented on #780
Maybe we could make a semi transparent black background to create more contrast

[2022-08-11 22:13] dadiorchen commented on #707
map.treetracker.org/?integrationversion=true

[2022-08-12 02:43] dadiorchen commented on #783
Could consider sx{{ height: [height-for-mobile, height-for-desktop]}} ?

[2022-08-12 02:45] dadiorchen commented on #780
I don't know, semi transparent would mix the log and the background?

[2022-08-12 03:27] dadiorchen opened #784 "API: GET /planters and GET /planters/{id} return country name"

[2022-08-12 03:45] dadiorchen opened #785 "These two icons are too big on mobile"
Check our figma design to check the correct size, and set it in the code. https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=4355%3A15745

[2022-08-12 03:57] dadiorchen opened #786 "Put featured tree section to organization and wallet page"
Just like the top page, we need featured trees for /organizations/{id} /wallets/{id} page:

![Image](https://user-images.githubusercontent.com/5744708/184282510-f9775bcf-76ee-4c82-ac3a-b6109bf75f6e.png)

[2022-08-12 07:19] dadiorchen opened #787 "How about do some adjustment on the impact selection"
I think we can make the first card/button in gray color, and move the coming soon higher,  I recorded a video to explain my mind:

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-08-12%20at%203.14.53%20PM.mp4

[2022-08-12 07:22] dadiorchen commented on #787
@RubenSmn is this okay for you?

[2022-08-12 07:54] dadiorchen opened #788 "Add missed tag: species on tree page"
http://localhost:3000/trees/186735?embed=false

We need to add the tree species tag if any

![Image](https://user-images.githubusercontent.com/5744708/184310089-d676aa03-d598-4f28-a48b-36e7948e58cd.png)

[2022-08-12 08:30] RubenSmn commented on #787
@dadiorchen #774 fixes the explanation
We can change the color of the cards easily but then we need another way to indicate which card is 'active'

[2022-08-12 09:24] RubenSmn commented on #694
Do you mean the Greenstand logo? Can we find it in the figma design?

[2022-08-12 09:34] RubenSmn opened #791 "Theme mode toggle on embed pages"
### Description
Visiting: http://localhost:3000/trees/701767?embed=true
The user does not have an option to switch between `dark` and `light` themes.
We could use the already exisiting `ChangeThemeButton`

![localhost_3000_trees_701767_embed=true](https://user-images.githubusercontent.com/31519867/184326694-d43bbaa3-11bc-4c7f-a317-6d3091020f7f.png)

---

Some hints:

- Please read our [readme](htt

[2022-08-12 12:59] RubenSmn commented on #759
Not able to use `text-overflow`

[2022-08-12 13:36] RubenSmn opened #795 "Mobile menu not closing on click"
### Description
The mobile menu is not closing when the user clicks the button again. It is only closing when you click on another element.
See the video for a visual explanation

[Kooha-2022-08-12-15:32:14.webm](https://user-images.githubusercontent.com/31519867/184364528-65b07cf5-66ae-49e3-9691-093f8d67aa2c.webm)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetra

[2022-08-12 14:33] jhhornn commented on #795
Hello
Is this still available for contribution?
I'd love to work on it

[2022-08-12 15:16] RubenSmn commented on #795
@jhhornn yes go ahead!

[2022-08-12 17:33] kperusi commented on #795
Pls can i stillwork on this

[2022-08-12 17:38] RubenSmn commented on #795
@kperusi if you want to you could try and resolve #760

[2022-08-12 17:45] jhhornn commented on #795
Thank you @RubenSmn
I'm on it now

[2022-08-12 21:24] Mohmn commented on #754
@dadiorchen i have made some progress on this issue? just have some doubts to clear
can we meet tomorrow

[2022-08-12 23:41] pierrelstan commented on #676
@dadiorchen The share to Facebook works using the protected link you gave me.

[2022-08-13 01:35] dadiorchen opened #797 "Set next.js to pre-cache pages when starting"
We need pre-cache some pages because they are pretty time consuming, we don't want to let our end user waiting for the page, currently, these page need to be pre-cached:

`/top`

Please also consider a way to opt-out this feature, for example, we don't want to do it when we developing locally

[2022-08-13 01:41] #730 closed

[2022-08-13 01:45] dadiorchen commented on #787
But they are not demo-purposed, we don't need to indicate that, and making them clickable is kindof confusing for people?

[2022-08-13 01:46] #783 closed

[2022-08-13 01:50] dadiorchen commented on #694
This isn't in our current figma file, it is here: https://github.com/Greenstand/treetracker-web-map-client/issues/11

[2022-08-13 01:51] dadiorchen commented on #694
You can find it on online version: https://freetown.treetracker.org

[2022-08-13 01:53] dadiorchen commented on #791
To avoid distraction, I will remove this from readness project.

[2022-08-13 02:16] dadiorchen commented on #754
https://calendly.com/dadiorchen/meet-with-dadior sure!

[2022-08-13 02:16] dadiorchen commented on #676
So I think we can close this one?

[2022-08-13 04:14] jeremydthomas commented on #715
![Image](https://user-images.githubusercontent.com/63400531/184468043-72c69e8a-928c-4ff5-b885-35527e035b1f.png)

is this what you want replaced?

[2022-08-13 04:44] jeremydthomas commented on #699
Im working on this, currently waiting on https://github.com/Greenstand/treetracker-query-api/issues/146

[2022-08-13 05:28] RubenSmn commented on #787
Aah okay so we make them not clickable and when we have the grapical data we make them working again, correct?

[2022-08-13 07:55] #788 closed

[2022-08-13 20:31] jhhornn commented on #795
I'm finding it hard to get the folder that contains the code for this page

[2022-08-13 20:48] RubenSmn commented on #795
@jhhornn code can be found at src/components/Navbar.js

[2022-08-14 12:39] #670 closed

[2022-08-14 12:40] #708 closed

[2022-08-15 02:31] dadiorchen commented on #715
I just changed my mind, don't replace, just add: took at, and location below the `Palm tree` is this okay?

[2022-08-15 02:34] dadiorchen commented on #787
Yes, all these are for demonstration.

[2022-08-15 02:36] #676 closed

[2022-08-15 03:58] dadiorchen opened #802 "Refine the full screen dialog for tree page"
On this page: http://localhost:3000/trees/186735?embed=false by clicking on the `expand` button to open the full screen dialog, note, this is for the mobile version:

<img width="1440" alt="Screen Shot 2022-08-15 at 11 54 23 AM" src="https://user-images.githubusercontent.com/5744708/184574848-0f68a5bb-79ed-44ab-b569-8476a9dd524d.png">

---

Some hints:

- Please read our [readme](https://github.co

[2022-08-15 06:12] #693 closed

[2022-08-15 06:32] dadiorchen opened #804 "Missing functions for these two buttons"
http://localhost:3000/trees/186735?embed=false on this page, click `expand` icon to open full screen dialog:

<img width="1440" alt="Screen Shot 2022-08-15 at 2 30 44 PM" src="https://user-images.githubusercontent.com/5744708/184587503-b83d0c18-e970-4813-b642-6ae4a664f525.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) f

[2022-08-15 06:56] Hansraj8149 commented on #804
Hello there,
I want to work on this issue, but I am having some trouble understanding the exact problem. I tried to read the readme file but I didn't find any information regarding this issue on the file. So please can you provide me with some brief on this issue.

Sorry for any convenience. This is my first time to open source contribution.

[2022-08-15 09:23] sebastiangaertner opened #805 "Statistic cards (from admin) in web map views"
When an organization has static cards such as Freetown then there should be a way to include the statistic cards on demand (maybe as part of the style config)

[2022-08-15 11:37] RubenSmn opened #807 "Replace placeholder embed logo"
## Description
Visiting: http://localhost:3000/organizations/11?embed=true

The logo in the bottom right is still a the placeholder logo, we want to change this with the actual logo of the organization.
Just like on the planter page: http://localhost:3000/planters/5449?embed=true

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web)

[2022-08-15 16:43] Adarsreg commented on #804
Hello dadiorchen, how can I access this page? The link seems broken.

[2022-08-16 01:48] dadiorchen commented on #804
:) that's possible, the app isn't stable now, please join our slack community, so we can coordinate, if you want,  send me your email please.

[2022-08-16 03:06] dadiorchen opened #809 "Species page UX design"
We need to expand to open our species page, like: http://treetracker.org/species/mongo

As the first step, we need to define the UX, page content using Figma.

To take the task, the one need to be a bit familiar with our data structure, how the species links to tree and how to species info is expressed.

We can copy the current page like planter/wallet/organziation, and replace with element belong

[2022-08-16 03:15] dadiorchen opened #811 "The embed logo is distorted"
http://localhost:3000/trees/186735?embed=false

![Image](https://user-images.githubusercontent.com/5744708/184790596-29cbc71a-9bb4-4c4b-98c7-b8de9f895bc7.png)

The correct UI is:

![Image](https://user-images.githubusercontent.com/5744708/184790670-b73b2e3d-649c-434d-99b5-dc4347f3a71c.png)

You can find code here: https://map.treetracker.org/

[2022-08-16 03:41] dadiorchen opened #812 "Adjust these svg icon size on mobile screen"
They are too big
<img width="378" alt="image" src="https://user-images.githubusercontent.com/5744708/184793144-1f7f168b-e9cd-4507-84a3-3fce24b45011.png">

to reproduce: visit: http://localhost:3000/trees/186735?embed=false

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Here is [an engine

[2022-08-16 04:25] okdv opened #813 "Illegal use of document in SSR components"
**Describe the bug**
Error was caught recently as embed functionality has been updated and is working properly now

Use of document in components rendered on the server side cause fatal error as document does not exist.

For example, `<Portal container={document.getElementById('embed-logo-container')}>` on `[treeid].js`

Should validate document is available before attempting to render, or find a

[2022-08-16 07:33] dadiorchen opened #814 "Put featured tree selection to planter page"
Just like the top page, we need featured trees for /planters/{id} page:

Use /trees?planter_id=xxx endpoint to get the tree list for this slider

![Image](https://user-images.githubusercontent.com/5744708/184282510-f9775bcf-76ee-4c82-ac3a-b6109bf75f6e.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/gu

[2022-08-16 07:41] RubenSmn commented on #813
Yes I came across this too, fixed it with `container={() => document.getElementBy.....}`

[2022-08-16 08:44] RubenSmn opened #815 "Add top page embed version"
## Description
Visiting: http://localhost:3000/top?embed=true

There is nothing but the map. We want to have an embedded version of the top page.
Just like on the planter page: http://localhost:3000/planters/5449?embed=true

You can take the code from the planter page as an example.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-w

[2022-08-16 09:06] Adarsreg commented on #804
adarsh_202100084@smit.smu.edu.in

[2022-08-16 09:15] Adarsreg commented on #804
Here's my github email:
adarsh_202100084@smit.smu.edu.in

[2022-08-16 19:50] pierrelstan commented on #722
@dadiorchen I take that one.

[2022-08-17 02:46] dadiorchen commented on #812
@Harshalyadav yes, please!

[2022-08-17 02:46] dadiorchen commented on #812
Let me know if you need anything, and any question

[2022-08-17 02:48] dadiorchen commented on #722
@pierrelstan cool!

[2022-08-17 03:48] #707 closed

[2022-08-17 05:27] quyet-v commented on #814
Can I take this one?

[2022-08-17 06:39] dadiorchen opened #816 "This page, the initial map location is inaccurate"
https://dev-k8s.treetracker.org/web-map-beta/demo/wallets/eecdf253-05b6-419a-8425-416a3e5fc9a0

the map view is a bit inaccurate, so we can not see all the icons on the map, for this wallet.

![Image](https://user-images.githubusercontent.com/5744708/185051469-de02b1e3-9ae7-4ba7-8d45-06de066cf292.png)

The workflow of calculating the initial view: the map core first request API for the data global

[2022-08-17 07:13] dadiorchen opened #817 "Refactor the tab to better support for the SEO"
Our tabs on the page is using javascript to switch , it may cause SEO problem, need to consider a better approach.

![Image](https://user-images.githubusercontent.com/5744708/185057460-698c4bad-3df4-4eea-869a-a2a7ef04bd65.png)

Here is some resource: https://www.seroundtable.com/google-hidden-tab-content-seo-19489.html

[2022-08-17 07:39] RubenSmn commented on #817
Maybe we could only change the sx prop `display` instead of hiding all the content: https://github.com/Greenstand/treetracker-web-map-client/blob/beta/src/pages/organizations/%5Borganizationid%5D.js#L384
Something like the approach found on the MUI Hidden page https://mui.com/material-ui/migration/v5-component-changes/#hidden

[2022-08-17 08:01] RubenSmn opened #819 "Remove second scrollbar from embed pages"
## Description
Visiting http://localhost:3000/planters/5449?embed=true or http://localhost:3000/organizations/11?embed=true
There is some issue with the scrollbars. On the pages there are two scrollbars!

![image](https://user-images.githubusercontent.com/31519867/185066281-cbe4a087-242e-43e3-b08f-e2835c0a1baf.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetra

[2022-08-17 09:44] dadiorchen opened #821 "A better way to handle 404 and 500"
We handle the error like this:

``
export async function getServerSideProps({ params }) {
  const id = params.walletid;
  try {
    const [wallet, species, tokens, tokenRegionCount] = await Promise.all([
      getWalletById(id),
      getSpeciesByWalletId(id),
      (async () => {
        // Todo write a filter api that only returns totalNo.of tokens under a certain wallet
        const data = awa

[2022-08-17 10:17] dadiorchen opened #823 "A component to display uuid"
UUID is too long in some case, so we'd better has a wey to display the id, some consideration, any suggestion is welcome:

1. Omit part of the uuid, say, `b1e2...55cb`
2. Be able to check the full id by hovering.
3. Styleless, so we can re-use it in all kinds of environment, maybe use `span` tag is good idea, because we dont' want to break the line as shown below:

![Image](https://user-images.git

[2022-08-17 10:21] dadiorchen opened #824 "Make the LikeButton re-usable"
Currently, the LikeButton is fixed to share the tree URL, we need to make it to be unaware of the business, so just share the link we give it.

[code]

[2022-08-17 11:32] Phant0m-a commented on #823
maybe try using split function to take first and last  3 letters of the id and then add three dots in between and join them!

[2022-08-17 15:49] tyler1588 commented on #577
I would like to work on this issue.
I noticed that right now the response object used to map the tree components does not have a country attribute, but it does have a species attribute.

Any advice on how to proceed with this?

[2022-08-18 01:34] dadiorchen commented on #814
@quyet-v it's yours, thank you for taking it!

[2022-08-18 01:34] dadiorchen commented on #814
Please test it in mobile env too

[2022-08-18 01:49] #787 closed

[2022-08-18 01:51] dadiorchen commented on #817
Yea, that's a way, I'm not sure this is good for google, they might ignore the invisible block in the page

[2022-08-18 01:53] dadiorchen commented on #817
https://developers.google.com/search/docs/advanced/guidelines/hidden-text-links?hl=en&visit_id=637963843889451599-646526783&rd=1

[2022-08-18 01:55] dadiorchen commented on #819
@RubenSmn which browser you are using? I didn't see the scroll bar on my side, I usually is on Chrome

[2022-08-18 01:58] dadiorchen commented on #823
@Phant0m-a that's good, will you make a try

[2022-08-18 02:03] dadiorchen commented on #812
Oh, you need to run: `npm run dev` that's for the local development.

[2022-08-18 02:08] #824 closed

[2022-08-18 06:27] RubenSmn commented on #819
@dadiorchen I use Chromium

[2022-08-18 07:00] dadiorchen commented on #821
BTW, it would be better if we can streamlin the boilerplate of the handler:

[code]

[2022-08-18 21:31] dadiorchen opened #828 "Turn off the light of this icon"
component: impactplaceholder

![Image](https://user-images.githubusercontent.com/5744708/185498688-0afb9d2b-ba7c-464f-988b-c37c7c45659d.png)

[2022-08-19 03:56] dadiorchen opened #830 "Link component can not use the class to set style"
For this commit:

https://github.com/Greenstand/treetracker-web-map-client/pull/829/commits/c4c97cac4166b4d0372e02e88572ea25fac675ba

In the code, I have to set the inline style to specify CSS property, I can not use the className by mui to set it, inline style is not the best solution, so we need to fix the problem.

I wanted to add the style in the class.link, but it doesn't work. to reproduce t

[2022-08-19 07:19] RubenSmn commented on #828
Do you mean change the green color?

[2022-08-19 13:13] RubenSmn commented on #780
I think this is quite challenging. This avatar/logo has an transparent background, do we know if all the logo's will have an transparent background?
To create a more visible border we could change the background of the avatar to a semi transparent color like in the screenshot below. If the logo has an transparent background this would be the fallback color. If the logo has a solid background it wi

[2022-08-19 16:56] okdv commented on #590
I believe this was fixed by #755 right?

[2022-08-20 02:45] dadiorchen commented on #828
Yes, that green dollar should be gray/disabled in this case, right?

[2022-08-20 02:46] dadiorchen commented on #828
anyway, a tiny flaw.

[2022-08-20 02:54] #802 closed

[2022-08-20 02:58] dadiorchen commented on #780
@RubenSmn I like it, please go this way!

[2022-08-20 13:39] pranavmadhu01 commented on #823
can i try to implement this component

[2022-08-20 13:58] dadiorchen commented on #823
Yes please

[2022-08-21 09:04] #780 closed

[2022-08-21 09:05] #828 closed

[2022-08-21 09:58] RubenSmn opened #841 "URL does not override embed"
## Description
`embed` value is `true` in the localstorage
Trying to explicit visit `?embed=false` http://localhost:3000/trees/186735?embed=false does still display the embedded version of the page

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- For design guidelines checkout our [Figma d

[2022-08-21 09:59] RubenSmn commented on #841
@okdv is this suppose to happen or maybe a bug?

[2022-08-21 14:07] muhon9 commented on #811
Is these issue already solved?

[2022-08-21 16:04] RubenSmn commented on #819
@muhon9 maybe you could take a look at this?

[2022-08-22 03:06] #785 closed

[2022-08-22 03:09] #811 closed

[2022-08-22 03:36] dadiorchen opened #843 "Too big size of the icons on mobile"
http://localhost:3000/wallets/eecdf253-05b6-419a-8425-416a3e5fc9a0

![Image](https://user-images.githubusercontent.com/5744708/185833507-6e00cebc-1136-415c-86e4-f07073a1a96c.png)

Maybe we need to find a good way to reuse/reduce-maintainness of these cases

[2022-08-22 03:45] dadiorchen opened #844 "On mobile, the map can not display trees correctly for this wallet"
http://localhost:3000/wallets/eecdf253-05b6-419a-8425-416a3e5fc9a0

![Image](https://user-images.githubusercontent.com/5744708/185834424-0eadf5d6-00bb-44f4-a902-2ed24e87084d.png)

But if switch to desktop, it is fine.

[2022-08-22 03:52] dadiorchen opened #845 "Use the uuid component to display this tag"
The uuid is too long, need to use the component mentioned in this issue #823  to shorten the tag.

Also, this page: http://localhost:3000/wallets/eecdf253-05b6-419a-8425-416a3e5fc9a0

![Image](https://user-images.githubusercontent.com/5744708/185835681-0e46d9a3-a191-4485-b8f3-3fd8e2ab266a.png)

[2022-08-22 04:09] dadiorchen commented on #699
@jeremydthomas I think you can continue, that API has been released

[2022-08-22 09:37] #625 closed

[2022-08-22 09:56] RubenSmn opened #846 "Add description/unit to GPS Accuracy tag"
## Description
Currently we have a GPS Accuracy of just a number, this does not say much about what kind of information it provides.
Is it some rate? Is it some error range in meters?

![image](https://user-images.githubusercontent.com/31519867/185893272-8a577b66-555a-4346-8671-e5af5de6b7cf.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#

[2022-08-22 10:06] RubenSmn opened #847 "Improve ui next/previous tree buttons"
## Description
Visiting: http://localhost:3000/trees/186735
The buttons to go back and forward to the other trees need an update.
We want them to look more like our expand, zoom in/out buttons, to improve the UI/UX.

![image](https://user-images.githubusercontent.com/31519867/185895451-09e72669-1494-49d1-878b-0c2c126ffcf6.png)

---

Some hints:

- Please read our [readme](https://github.com/Greens

[2022-08-22 13:49] RubenSmn commented on #843
Currently we are passing an `sx` prop to the CustomCard which only gets applied to the SvgIcon component. That itself is not very intuitive.
To make it more reuseable we could add a standard `height: [32, 52]` and `width: [32, 52]` in the the SvgIcon component here https://github.com/Greenstand/treetracker-web-map-client/blob/beta/src/components/common/CustomCard.js#L47-L55

[2022-08-22 14:01] tyler1588 commented on #845
I'd be happy to take this one.
If I understand correctly, this change is waiting on the component from #823?

[2022-08-23 03:15] jeremydthomas commented on #699
Ok thanks, I'll get started on it again. Took a bit of a vacation with the family, so haven't been on much.

[2022-08-23 07:24] dadiorchen commented on #846
@sebastiangaertner can you give some support on this? some explanation/text for this?

[2022-08-23 07:30] dadiorchen opened #848 "A case that the timeline is supper slow"
https://map.treetracker.org/?timeline=2018-11-26_2020-08-09&bounds=-13.201039507985117,8.429334829106852,-13.16449709236622,8.449923377951505

Comparing to this one, it's faster: https://map.treetracker.org/?timeline=2015-01-01_2015-12-23

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- Fo

[2022-08-23 07:36] dadiorchen commented on #847
@RubenSmn is this duplicated with https://github.com/Greenstand/treetracker-web-map-core/issues/98 ?

[2022-08-23 07:42] dadiorchen commented on #845
Correct, @tyler1588 thank you for taking this issue

[2022-08-23 07:50] RubenSmn commented on #847
@dadiorchen yes almost, I would also suggest we keep the background of the buttons the same

[2022-08-23 09:17] dadiorchen commented on #722
@pierrelstan what's the situation of this one? I tried again on the map, the effect is better than before somehow?

What's the effect of the highlight on your side? This is from my computer:
https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-08-23%20at%205.14.01%20PM.mp4

I think this is almost acceatable, although the number text would still move up or down a bit when you pu

[2022-08-23 09:39] dadiorchen opened #849 "API `GET /organizations/[id]` support map name"
Currently, `GET /organizations/{id}` where query the data by id in the `entity` table, now we need to also support by map name,  `GET /organizations/{map_nam}` so, if the id isn't an integer, we query the `map_name` field in `entity` table, and return the organization data to client.

[2022-08-23 09:43] dadiorchen opened #850 "The map can not display data correctly for organization map."
For case like this:

http://localhost:3000/organizations/1?bounds=-40.42968750000001,-19.808054128088575,22.851562500000004,39.90973623453719

The data on map is wrong, we need to filter the data by the organization.

[2022-08-23 09:49] #584 closed

[2022-08-23 10:01] #586 closed

[2022-08-23 10:02] #588 closed

[2022-08-23 10:04] #590 closed

[2022-08-23 10:08] dadiorchen opened #852 "The planter/organization/wallet tree should display all tree point when select a single tree"
For case like this: http://localhost:3000/planters/940/trees/186734?embed=false

The result is:

![Image](https://user-images.githubusercontent.com/5744708/186131727-e330494b-049d-4e4b-b481-f54f5a69a809.png)

The expected result would be:

* Set the map to filter by the planter, which means when move on the map we should display the data for that planter appropriately.
* Select/highlight the tree

[2022-08-23 19:32] okdv commented on #841
@RubenSmn currently is working as designed since the useEmbed hook is only checking for embed=true. However, if we want this functionality I dont expect it to be too much work to implement off the top of my head

[2022-08-23 20:02] RubenSmn commented on #841
I think we should implement this functionality. The behavior for the user is currently different then expected. Visiting explicit `?embed=true` or `?embed=false` should result in the right version of the web map

[2022-08-23 20:05] okdv commented on #841
yea i get that, i see no issue adding this, i'll take a look at what it takes to get that feature built. i dont expect it to be very difficult at all

[2022-08-23 20:54] pierrelstan commented on #722
@dadiorchen, I noticed that the effect is better too.
The problem was probably from the treetracker-web-map-core package.

[2022-08-24 00:55] dadiorchen commented on #847
<img width="334" alt="image" src="https://user-images.githubusercontent.com/5744708/186292081-82ef2c8a-d0e7-4e19-8100-5907a632212d.png">
I would suggest that we keep the same to the figma design, just put the button on the top because for mobile version, top is a better solution

[2022-08-24 01:16] #797 closed

[2022-08-24 01:17] dadiorchen commented on #722
Right, maybe because that we just upgraded the core to the newest version.

[2022-08-24 01:17] dadiorchen commented on #722
So @pierrelstan do you think we can close this issue for now?

[2022-08-24 01:20] pierrelstan commented on #722
@dadiorchen  I think, we can close it.

[2022-08-24 01:42] #724 closed

[2022-08-24 01:43] dadiorchen commented on #728
This issue is related to #830

[2022-08-24 01:44] #722 closed

[2022-08-24 01:46] #760 closed

[2022-08-24 01:55] dadiorchen commented on #786
hi, @quyet-v could you please also add the featured tree into this page? I think this might be easier for you to take after the planter page?

[2022-08-24 02:15] dadiorchen commented on #759
I think we also need the uuid component to shorten the text  #823

[2022-08-24 02:17] dadiorchen commented on #823
This component turns out to be pretty priority for us, do you get any progress on this?

A suggestion on this is that please make the component style-unaware, like the font size, spacing, so we can put this component in different env to reuse it

[2022-08-24 02:22] #814 closed

[2022-08-24 02:44] RubenSmn commented on #847
Ah okay yes we should stick to the figma design!

[2022-08-24 03:24] dadiorchen opened #855 "can not un-highlight the icons sometimes"
To reproduce, open: http://localhost:3000/planters/940?bounds=38.98773193359375,-5.202416135297965,39.23492431640626,-5.05161661191565

when the map is loading, move the mouse over the cluster icon, sometimes, even the mouse has left the icon, the icons is still highlighted.

![Image](https://user-images.githubusercontent.com/5744708/186317239-c08ffcfb-d6c4-4405-ad30-a747c9d64d23.png)

[2022-08-24 08:08] #852 closed

[2022-08-24 08:08] #850 closed

[2022-08-24 08:16] dadiorchen opened #857 "Failed to use pre-cache feature by next.js"
@okdv I failed to release the new version to prod env, please help me analyze, this is the error: https://github.com/Greenstand/treetracker-web-map-client/runs/7990205499?check_suite_focus=true

Seems we can not build next now, can you check it on your side?

[2022-08-24 08:27] dadiorchen commented on #857
And another thing I noticed is that when open /top locally, the logo is missing, previously they were there.

![Image](https://user-images.githubusercontent.com/5744708/186369589-2f03bb86-2558-4b47-89b0-b297a912dced.png)

[2022-08-24 17:36] okdv commented on #857
figured it out, this points to my change in the PR for [data] instead of data.planters / data.organizations

root cause was MSW was returning only a single object of a planter or org, instead of an array of planters/orgs that we get in the prod api. so the hot fix i made in that PR worked with MSW but not prod api. PR coming shortly

[2022-08-25 02:06] dadiorchen commented on #857
Good, I think now we are not so relying on the MSW right? I remember we are using it for mocking data, but now the nock + axios-mock works well I guess.

[2022-08-25 02:11] #857 closed

[2022-08-25 03:06] dadiorchen commented on #609
Another record of the loading:

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-08-25%20at%2011.04.48%20AM.mp4

[2022-08-25 03:07] #721 closed

[2022-08-25 03:09] dadiorchen opened #860 "Test web map on mobile device"

[2022-08-25 03:10] dadiorchen opened #861 "Can not display the map correctly on the map"
http://localhost:3000/organizations/1/trees/701767

[2022-08-25 03:11] #567 closed

[2022-08-25 19:23] okdv commented on #857
@dadiorchen that may be the case, im not too sure, I think that predates when I started contributing here and havent looked to far into it. But I've been using npm run dev:mock for local testing and I was under the impression this was using msw. perhaps we could look into cleaning up some of these stale dependencies?

[2022-08-26 01:36] #761 closed

[2022-08-26 03:21] dadiorchen opened #863 "The mini title is insensitive on mobile"
Sometimes, we can not expand the drawer by clicking the mini title area, it's insensitive
check this video demo:
https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-08-26%20at%2011.19.06%20AM.mp4

[2022-08-26 03:55] dadiorchen opened #864 "Wrong initial position for the drawer"
For the initial position of the drawer, it is too low, we need refine the calculation for the position of the drawer.

The device testing this:
Xiaomi Redmi 10A
Android
Size | 6.53 inches, 102.9 cm2 (~81.0% screen-to-body ratio)
Resolution | 720 x 1600 pixels, 20:9 ratio (~269 ppi density)

To reproduce, maybe we can set the chrome devtool's mobile size to equal to this one

![Screenshot_2022-08-2

[2022-08-26 03:59] dadiorchen commented on #864
Comparing to the correct position:
<img width="923" alt="image" src="https://user-images.githubusercontent.com/5744708/186815237-e6691b58-afeb-4e8a-acef-b09752e8c890.png">

[2022-08-26 06:16] PhiCygni commented on #843
I want to try and work on this issue. I think I know what to do. I will update the component and its Cypress test.

[2022-08-26 06:19] RubenSmn commented on #843
@PhiCygni thanks!

[2022-08-26 08:18] PhiCygni commented on #843
I have created a PR for this issue https://github.com/Greenstand/treetracker-web-map-client/pull/866. Not sure if I did everything correctly for the PR to be picked up automatically.

[2022-08-26 09:11] dadiorchen opened #867 "title is hiding the button on map"
The title area on the bottom is hiding the: zoom button, timeline button

The device testing this:
Xiaomi Redmi 10A
Android
Size | 6.53 inches, 102.9 cm2 (~81.0% screen-to-body ratio)
Resolution | 720 x 1600 pixels, 20:9 ratio (~269 ppi density)

To reproduce, maybe we can set the chrome devtool's mobile size to equal to this one

![Screenshot_2022-08-26-17-09-56-974_com android chrome](https://us

[2022-08-26 09:12] #864 closed

[2022-08-26 19:27] pierrelstan opened #868 "Fix router path"
When clicking on a single tree. The tree should display all the information about the tree.

[2022-08-29 21:52] dadiorchen opened #869 "The web map UI, page/component for search box"
Implement the Search Box, and the auto-completion list as below:

Please DO NOT add it into the app, instead, use unit cypress tool to test the feature.

![Image](https://user-images.githubusercontent.com/5744708/187305359-2aa916fe-2e1f-4b95-83d1-b1c7b6d46edd.png)

The UI design file is here: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=8797%3A34191

Refer to https:/

[2022-08-29 22:23] dadiorchen opened #870 "Search history"
Design and implement the search history feature on web map client.

Please consider how to implement this feature (we just need to store the history on the client-side rather then server-side).

![Image](https://user-images.githubusercontent.com/5744708/187309095-d740381b-7431-4e7e-9ee8-87e9fcb79eb6.png)

The UI file is here: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node

[2022-08-30 03:12] dadiorchen commented on #868
I think this happens on the top page, which means, on the top/home page, zoom in the map and then click a single tree

<img width="1162" alt="image" src="https://user-images.githubusercontent.com/5744708/187340513-25df8ba6-2bc8-4d99-8171-ad866df13010.png">

[2022-08-30 03:25] dadiorchen opened #871 "Map: tree filter doesn't work on this case"
On the top page, click featured tree, the map zoom in the the tree place, but display all the tree on this area rather then that single tree. also, the tree should be highlighted.

![Image](https://user-images.githubusercontent.com/5744708/187342127-d28b61fc-fea0-4431-acc1-0bf8f570dfa1.png)

[2022-08-31 08:20] RubenSmn commented on #815
Top page embed is not showing due to this line: https://github.com/Greenstand/treetracker-web-map-client/blob/beta/src/pages/top.js#L228

[2022-08-31 08:22] RubenSmn commented on #775
Fixed by #865

[2022-08-31 08:22] #775 closed

[2022-08-31 08:55] RubenSmn commented on #847
@dadiorchen Is this button supposed to be the next/previous tree button: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=4500%3A13734?

[2022-08-31 10:04] RubenSmn commented on #867
@dadiorchen I think this happens because the browser includes the height of the top bar (home icon, url, tabs) in the view height. On some pages this bar disappears when you scroll down the page. This does not happen in our case since we scroll inline.

[2022-09-01 08:05] #819 closed

[2022-09-01 08:09] dadiorchen commented on #847
@RubenSmn no the arrow icon for next/prev is here: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2497%3A9770

But, considering the mobile version, we will put it on the top of the map rather than the bottom, does it make sense?

[2022-09-01 08:11] dadiorchen commented on #867
@RubenSmn I don't get it, you mean this isn't a bug?

[2022-09-01 08:12] dadiorchen commented on #867
But it did happen on my phone?

[2022-09-01 09:41] dadiorchen opened #875 "Refine the layout/style of the breadcrumbs component"
Please help to refine the `Crumbs` component, to:
* align all elements on the horizontal baseline (the bottom edge of the fonts)
* use appropriate font family/typography/font size for elements.

<img width="1030" alt="image" src="https://user-images.githubusercontent.com/5744708/187884647-2a4ff7ef-f1b8-4416-bddf-4246fd87938b.png">

We can do this separate in the unit test file: Crumbs.cy.js :

<im

[2022-09-01 09:55] dadiorchen opened #876 "Add tree slider on the organization page"
Just like we did for the planter page (https://dev-k8s.treetracker.org/web-map-beta/demo/planters/940) , we should display the tree planted by the organization on the organization page. (https://dev-k8s.treetracker.org/web-map-beta/demo/organizations/178)

![Image](https://user-images.githubusercontent.com/5744708/187886647-207e5c7b-095c-4b4c-9e0d-3e7e6d301947.png)

[2022-09-01 22:33] #699 closed

[2022-09-02 06:40] #868 closed

[2022-09-02 06:40] dadiorchen commented on #868
@pierrelstan I have solved this problem

[2022-09-02 06:46] dadiorchen opened #879 "The mouse hovering behaves wrongly in this case"
on this page: https://dev-k8s.treetracker.org/web-map-beta/demo/top?bounds=38.973827362060554,-5.515930613039982,38.989276885986335,-5.50042427565408

The tree icon will get highlighted even the mouse is far away from the icon.

![Image](https://user-images.githubusercontent.com/5744708/188075553-610f0fb8-7512-4501-87eb-5280844b20dd.png)

*Please check the video*

https://dadior.s3.ap-northeast-1.

[2022-09-02 06:50] dadiorchen commented on #879
@kparikh9 do you remember how do you solve the similar problem? I feel the problem is that we solved the problem with the cluster icon, but the tree icon is still failing?

[2022-09-03 07:28] #875 closed

[2022-09-03 08:57] #823 closed

[2022-09-03 14:39] jeremydthomas commented on #876
@dadiorchen looks like Im going to have to wait for them to fix the api? https://github.com/Greenstand/treetracker-query-api/issues/173

[2022-09-03 18:11] kparikh9 commented on #879
Hey @dadiorchen, yes you're right it looks like it might be having the same UTF-grid issue as with the cluster icons. You can follow [this PR](https://github.com/Greenstand/node-mapnik-1/pull/96) to solve the issue and upload a smaller icon file.

[2022-09-04 08:59] dadiorchen commented on #876
@jeremydthomas yes, and we just solved this problem, thank @mayankbucha

[2022-09-04 09:19] dadiorchen opened #883 "Tree page: the map shouldn't load other tree point."
https://dev-k8s.treetracker.org/web-map-beta/demo/trees/186735?bounds=38.973784446716316,-5.51578110483295,38.9892339706421,-5.50027476354513

In this link, the map on the right is showing other tree points.

[2022-09-04 12:08] RubenSmn commented on #845
@tyler1588 #823 is fixed

[2022-09-04 22:03] dadiorchen opened #890 "The organization user should be able to pick the initial map view for their map"
For a organization, they should be able to pick a location and zoom level (or a bounds with two corner locations on the map) as their initial  map view, so when user open the org's map, the map should jump to that location.

[2022-09-04 22:25] dadiorchen opened #891 "Add Jest test (unit test) to CI"
We need to add the jest test as another part of the unit test to the CI checking, it should be run every time a new PR is raised.

So we can protect some code: model, utiles, basically, they are code not concerning to the UI.

`npm run test`

[2022-09-05 01:08] tyler1588 commented on #845
@RubenSmn Great, thank you. I will get started on this.

[2022-09-05 01:53] dadiorchen opened #892 "Map: tree doesn't get highlighted in this case"
https://dev-k8s.treetracker.org/web-map-beta/demo/organizations/178/trees/735592

Should highlight the tree: 735592

![Image](https://user-images.githubusercontent.com/5744708/188344691-b2628e6d-1a7b-4354-abbe-48940dc91d24.png)

[2022-09-05 02:04] dadiorchen commented on #879
@Mohmn did you set up the mapnik successfully? if true, this one is an easy one for you to get started the tile server part

[2022-09-05 02:48] tyler1588 commented on #845
I am attempting to run the tokenid test so that I can work on this issue (I haven't modified anything yet) and the test is failing. Is there a different way I can access an example UUID to work on this?

<img width="838" alt="Screen Shot 2022-09-04 at 10 45 14 PM" src="https://user-images.githubusercontent.com/87100297/188350940-1a06f956-934c-441a-abbd-aa169a613ac3.png">

[2022-09-05 06:22] Mohmn commented on #879
Check ur slack @dadiorchen

[2022-09-05 09:17] RubenSmn commented on #845
@tyler1588 you can see the tag on http://localhost:3000/tokens/6c85c551-ed63-456f-ba0f-8d632897f560 or on the wallet page Dadior mentioned

[2022-09-05 09:28] RubenSmn commented on #759
Added the UUID component but having some issues with the tags
Before UUID|After UUID
:-:|:-:
![image](https://user-images.githubusercontent.com/31519867/188416841-810363ec-2e02-4302-9552-e4b9d8f5a831.png)|![image](https://user-images.githubusercontent.com/31519867/188416571-536b54ec-3bf1-4b1f-a025-c910072e57be.png)

[2022-09-05 10:16] RubenSmn opened #895 "Timeline button dark theme color incorrect"
## Description
The background color of the timeline button is not the same as the drawer

Mobile Screenshot (same on desktop)
![image](https://user-images.githubusercontent.com/31519867/188425967-a5c1cab0-5270-4ba0-99f8-38350d7c837a.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- For

[2022-09-05 10:16] RubenSmn commented on #895
@dadiorchen what do you think about this? Change to the same color?

[2022-09-05 10:34] #570 closed

[2022-09-05 14:26] ar563 commented on #891
We have Jest unit tests implemented in CI checking, it uses `npx jest --ci` in `pull-request-ci.yml` file.

[2022-09-06 10:01] RubenSmn opened #901 "Vertical center icon/image in breadcrumbs"
# Description
Visiting the planter page: http://localhost:3000/planters/5449 or the wallet page: http://localhost:3000/wallets/ba95a148-7ff8-42bb-8028-99b747b86ae1
The icons/images are not centered vertically

## Screenshots
Wallet page
![image](https://user-images.githubusercontent.com/31519867/188605948-cd1a50b6-b67a-43e6-833c-4507445d4156.png)
Planter page
![image](https://user-images.githubuse

[2022-09-07 03:34] dadiorchen commented on #759
@dadiorchen I don't think we need the token (unclaimed) here

[2022-09-07 03:37] dadiorchen commented on #895
Is it different? More dark for the timeline?

[2022-09-07 03:59] dadiorchen commented on #891
@ar563 thankyou!

[2022-09-07 03:59] #891 closed

[2022-09-07 04:03] #817 closed

[2022-09-07 07:56] RubenSmn commented on #759
I will work on it!

[2022-09-07 07:59] RubenSmn commented on #895
Yes the button for the timeline is more dark

[2022-09-07 08:01] RubenSmn commented on #895
On the drawer and the navbar we have a `background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09))` which makes it lighter

[2022-09-08 09:42] #759 closed

[2022-09-08 10:07] dadiorchen opened #911 "The timeline should only be available in a `global` context"
Currently, we just support timeline for a global map, so if the path is in a context like: planter, org, wallet, then we should hide the timeline to avoid confusion. like this path: http://localhost:3000/organizations/178/trees/762681

[2022-09-09 01:57] #892 closed

[2022-09-09 01:57] dadiorchen commented on #892
Fixed by new core

[2022-09-09 02:04] dadiorchen opened #917 "Path problem on the dev env"
On dev env, path like: https://dev-k8s.treetracker.org/web-map-beta/demo/organizations/178/trees/735592 if zoom in and click other trees, or click next/prev button, the map will jump to /trees/id, it's wrong, the root of this problem might be the base is different with localhost

[2022-09-09 02:04] #883 closed

[2022-09-09 02:06] #871 closed

[2022-09-09 02:06] dadiorchen commented on #871
solved by new core

[2022-09-09 02:06] #861 closed

[2022-09-09 02:06] dadiorchen commented on #861
solved by new core

[2022-09-09 02:06] #860 closed

[2022-09-09 02:11] #812 closed

[2022-09-09 02:11] dadiorchen commented on #812
Solved by Rubben's PR

[2022-09-09 02:12] dadiorchen commented on #804
@RubenSmn can you take a quick fixing on this?

[2022-09-09 02:17] dadiorchen opened #918 "SEO report"
We need to do a comparison for the effect of our SEO between the new and old versions of the map, so we'd better prepare it now, to give a report for the current online version so that we can make the comparison with the new beta.
The report items to consider include:
1. Current SEO situation of the map.treetracker.org
2. Current search engine rank, index file count, and order in the result list f

[2022-09-09 02:19] #742 closed

[2022-09-09 02:27] dadiorchen commented on #715
@jeremydthomas how's this issue going?

[2022-09-09 02:27] #577 closed

[2022-09-09 02:27] dadiorchen commented on #577
Solved by current code

[2022-09-09 02:28] dadiorchen commented on #576
solved by @jeremydthomas

[2022-09-09 02:28] #576 closed

[2022-09-09 02:30] dadiorchen commented on #731
Finially, we decide to build the next everytime when we run the next.js server

[2022-09-09 02:30] #731 closed

[2022-09-09 03:54] #917 closed

[2022-09-09 04:57] jeremydthomas commented on #715
@dadiorchen I forgot about it, I'll start on it again.

[2022-09-09 05:37] RubenSmn commented on #804
I'll take a look!

[2022-09-09 08:19] RubenSmn commented on #639
Just noticed that they are present and clickable just not visible!

[2022-09-09 20:59] dobinator commented on #809
dobsonemily@gmail.com

[2022-09-09 22:47] jeremydthomas opened #929 "Planter has been a Planter since todays date. This should be the date that he actually became a planter."
**Describe the bug**
A clear and concise description of what the bug is.

Planter has been a Planter since todays date. This should be the date that he actually became a planter.

**To Reproduce**
Steps to reproduce the behavior:
(we recommend record a screenshot to show the case, like using http://loom.com to record)

Go to http://localhost:3001/planters/940

**Expected behavior**
A clear and con

[2022-09-10 03:16] dadiorchen commented on #809
Hi, @dobinator I have invited you on slack, are you going to take this work?

[2022-09-10 03:17] #715 closed

[2022-09-10 07:11] jeremydthomas commented on #929
Ill fix this, the same problem is on the organization page as well, Ill combine everything I find in this PR

[2022-09-11 07:52] jeremydthomas commented on #901
@RubenSmn are you saying that you want the images/icons to be centered vertically to the words? For example lower the icon a bit so the middle of the icon lines up with the words, instead of the bottom of the icon lining up with the bottom of the words?

[2022-09-11 08:07] RubenSmn commented on #901
@jeremydthomas yes I think the icons/images should be vertically centered of the text

[2022-09-11 08:31] jeremydthomas commented on #901
@RubenSmn
![image](https://user-images.githubusercontent.com/63400531/189518653-89415a9f-3e3e-4027-9efd-0c05a84042a0.png)

Something like that?

[2022-09-11 08:31] jeremydthomas commented on #901
hmm the / is a bit off I think

[2022-09-11 08:40] RubenSmn commented on #901
It looks better! Can you set a before/after side by side?

[2022-09-11 09:12] jeremydthomas commented on #901
![image](https://user-images.githubusercontent.com/63400531/189520006-41bd7a34-3ad2-471f-a892-361f047b4695.png)
![image](https://user-images.githubusercontent.com/63400531/189519566-94a9696b-37bd-47e6-95a2-99a9ce61d116.png)

I THINK the top one looks better @RubenSmn , but my eyes are starting to trick me looking at the small pictures and adjusting things haha.

[2022-09-11 09:17] RubenSmn commented on #901
Hahah I can imagine, yes the top one looks better!

[2022-09-13 02:23] #821 closed

[2022-09-13 02:35] #929 closed

[2022-09-13 02:38] #876 closed

[2022-09-13 03:02] #869 closed

[2022-09-13 07:22] jeremydthomas commented on #807
@RubenSmn So I fixed this, but I also found a bug that only happened when the link is embeded (?embed=true).

![image](https://user-images.githubusercontent.com/63400531/189836580-4c56e6e8-20ae-427c-b923-9e0b9914d9a1.png)

This happens on both the organization and planter pages. I did figure out how to fix it though. Can I add the fix on this issue?

[2022-09-13 07:40] RubenSmn commented on #807
Awesome @jeremydthomas yes we did encounter that in a previous one aswell #813

I think you can add it to this PR id you're using a seperate commit for it, in case we need to come back to it

[2022-09-13 07:40] jeremydthomas opened #939 "ReferenceError: document is not defined"
**Describe the bug**
When going to a link with the ?embed= true ( for example http://localhost:3000/planters/5449?embed=true, and http://localhost:3000/organizations/11?embed=true) we get the ReferenceError: document is not defined.

**To Reproduce**
Steps to reproduce the behavior:
Go to http://localhost:3000/planters/5449?embed=true and http://localhost:3000/organizations/11?embed=true

**Expect

[2022-09-13 07:41] jeremydthomas commented on #807
ooh, I didnt see that issue, I made another one. Should I delete it?

[2022-09-13 08:07] RubenSmn commented on #807
You could do that, or you could make a seperate PR for the Portal document issue. Whatever you prefer :+1:

[2022-09-13 08:27] dadiorchen opened #940 "The next.js dev mode can not display the source code correctly"
The next.js should be able to display the source code rather than compiled bundle raw javascript code as shown below:

![Image](https://user-images.githubusercontent.com/5744708/189851351-46a5f07e-3997-484b-9837-92b966295947.png)

[2022-09-13 09:03] dadiorchen opened #942 "The correct 500 page is flashing and then dispear"
To reproduce, open this page: https://dev-k8s.treetracker.org/web-map-beta/demo/trees/top
There was a correct 500 page show up, but immediately replaced by this :

![Image](https://user-images.githubusercontent.com/5744708/189859620-8d7f9e74-e75b-4a30-8a9a-f758895584cb.png)

[2022-09-13 10:03] dadiorchen opened #943 "The tree point is too huge?"
The tree icon seems too big? Even zoom into the maximum zoom level, it's hard to tell every single tree point from the icons. Should we consider improving the UX here?

https://map.treetracker.org/?userid=3937&bounds=36.638806164264686,-3.205451921326484,36.64073735475541,-3.2043833937573076

Our version:

![Image](https://user-images.githubusercontent.com/5744708/189873312-6e96fa81-b5b3-47a3-a98a

[2022-09-13 10:03] RubenSmn commented on #942
I changed this in the `[treeid].js`
[code]
And it seems to be fixed

[2022-09-13 10:05] RubenSmn commented on #943
Maybe instead of the full white circle we could only use the tree icon

[2022-09-13 23:57] jeremydthomas commented on #943
Thats a good idea, about the tree icon, however if we do that I think we should keep a small white outline like these red ones so they are still easy to see on the map. Otherwise the green icons over green grass or other green trees might be hard to see.

[2022-09-14 00:00] jeremydthomas commented on #895
The timeline Icon being darker than the rest of the theme does look a bit odd.

[2022-09-14 01:56] dadiorchen commented on #942
@RubenSmn super! did you raise a PR

[2022-09-14 03:12] dadiorchen opened #945 "Need real date for org page"
Need data for the date here

![Image](https://user-images.githubusercontent.com/5744708/190049883-328afaaa-1ca3-4eb3-8665-82999da53416.png)

[2022-09-14 03:15] dadiorchen opened #946 "Need real location for org page"
Prerequisites for this: https://github.com/Greenstand/treetracker-query-api/issues/185

![Image](https://user-images.githubusercontent.com/5744708/190050779-4881b86c-735e-416d-b2e6-23313203a705.png)

[2022-09-14 03:17] dadiorchen opened #947 "Org page: location for planter info"
Prerequisites: https://github.com/Greenstand/treetracker-query-api/issues/184

![Image](https://user-images.githubusercontent.com/5744708/190051744-2ddc72e7-be55-458a-bdb6-363673813298.png)

[2022-09-14 03:30] dadiorchen opened #948 "GET /planters api has duplicated recored"
In this query: https://prod-k8s.treetracker.org/query/planters?organization_id=775&limit=20&offset=0

There are at least two records of the same: 3940

[2022-09-14 03:50] dobinator commented on #943
I agree that the icon is too large. It is overwhelming to the user. I would reduce the white space and keep the green icon with smaller white border and background.

[2022-09-14 03:51] dobinator commented on #943
It would still show up against the earth/ image.

[2022-09-14 03:57] dadiorchen opened #949 "Need to switch to thumbnail for the slider images"
So we can speed up the loading and reduce the traffic, we already got the image thumbnail service here: https://github.com/Greenstand/images-api

![Image](https://user-images.githubusercontent.com/5744708/190056025-2ef475e3-554b-41cc-98a9-83df4e74228c.png)

[2022-09-14 04:29] jeremydthomas commented on #844
@dadiorchen its because the trees are spread out to 3 different continents and it sets the zoomLevel to 1 to try to include all of the trees in such a small screen space. When you are at zoom Level 1 you cant see anything on the map. Not only that, the minZoom is set to 2 so it kind of messes everything up.  If you set the zoomLevel to 2, you can see some of the tree markers.

Heres a video where

[2022-09-14 06:16] RubenSmn commented on #942
I will in a bit!

[2022-09-14 07:36] RubenSmn commented on #943
Something like this, without the black background : )

![bitmap](https://user-images.githubusercontent.com/31519867/190090495-cbcea255-7895-4f5c-912f-512001cb82d6.png)

[2022-09-14 07:40] RubenSmn commented on #498
I will do some research on this @dadiorchen

[2022-09-14 08:00] dadiorchen opened #953 "Tree page: species tag, `click to learn more`"
For species tag, add text at the third line (sub title) `click to learn more` and add the species_desc as the link.

Prerequisites: https://github.com/Greenstand/treetracker-query-api/issues/189

![Image](https://user-images.githubusercontent.com/5744708/190096206-55a42940-4674-4f02-b035-2d4f0e2f01ca.png)

[2022-09-14 08:17] dadiorchen opened #954 "Make the logo more recognizable"
For some logo, the background makes the logo hard to recognize.

https://prod-k8s.treetracker.org/web-map-beta/demo/organizations/1331?bounds=43.02246093750001,-21.207458730482642,50.93261718750001,-13.603278132528756

To reproduce it locally, follow this guide: https://github.com/Greenstand/treetracker-web-map-client#how-to-connect-to-production-data-locally

![Image](https://user-images.githubus

[2022-09-14 08:26] dadiorchen commented on #943
Actually for the tree icon, there are three status:
1. Default appreance
2. Highlighted, (by hovering the mouse)
3. Selected, (by clicking)

You can directly try it on the app here: https://prod-k8s.treetracker.org/web-map-beta/demo/planters/4735/trees/1630486
and the Figma defines it here: https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap?node-id=2497%3A9770

[2022-09-14 08:26] jeremydthomas commented on #943
Perhaps keep the big ones when you are zoomed way out, and when you start getting into the closer views start using the little ones.

[2022-09-14 08:40] dadiorchen opened #955 "A case: "can not find any data" error"
https://prod-k8s.treetracker.org/web-map-beta/demo/planters/4751

The map is wrong, and there are error throwing: "can not find any data"

To reproduce locally: https://github.com/Greenstand/treetracker-web-map-client#how-to-connect-to-production-data-locally

[2022-09-14 08:46] dadiorchen opened #956 "Fullscreen: layout is incorrect"
![Image](https://user-images.githubusercontent.com/5744708/190106585-5eff11a4-fa92-4e18-97b4-879ac4532cb5.png)

As shown here, we need to scroll the page to see the buttons on the bottom, actually we need to be able to see them directly

https://prod-k8s.treetracker.org/web-map-beta/demo/planters/4788/trees/1707041?bounds=47.583847045898445,-19.163512306880474,47.59929656982422,-19.154756035599753

[2022-09-14 08:57] dadiorchen opened #957 "Need a setting for image api"
Now it's fixed by dev env, env in prod env, we are requesting dev image API to resize the image: https://dev-k8s.treetracker.org/images/img/treetracker-production-images.s3.eu-central-1.amazonaws.com/w=208,h=232/2021.12.20.10.08.15_-19.158849191950235_47.592259844822465_3736716C-D085-459B-B61E-9514B170533D_EB695E39-ECEE-45A9-B248-D401BEB7CA73.jpg

https://prod-k8s.treetracker.org/web-map-beta/demo

[2022-09-14 08:58] RubenSmn commented on #498
They recommend using Cypress 10 https://applitools.com/tutorials/quickstart/web/cypress#step-2-getting-your-example-project
We're currently using Cypress 8

[2022-09-14 10:07] dadiorchen opened #958 "A error case: http://localhost:3000/organizations/1332/trees/2578565"
https://prod-k8s.treetracker.org/web-map-beta/demo/organizations/1332/trees/2578565

![Image](https://user-images.githubusercontent.com/5744708/190126024-4274f0e2-d61f-4acd-9778-60e5711cf76f.png)

[2022-09-15 03:05] dadiorchen commented on #844
Oh, @jeremydthomas you are my hero, can you open a PR for this?

[2022-09-15 03:20] #958 closed

[2022-09-15 07:58] dadiorchen opened #962 "Map core: initial view is wrong for this case"
https://prod-k8s.treetracker.org/web-map-beta/demo/wallets/f3d90452-12c6-4c23-8d2f-6cfa2ddc203

We can zoom out to see the data on the map

![Image](https://user-images.githubusercontent.com/5744708/190348458-deada7ad-7cce-4cd3-aab9-cbfe1cbd11f7.png)

[2022-09-15 08:10] dadiorchen opened #963 "Super slow case for wallet page"
https://prod-k8s.treetracker.org/web-map-beta/demo/wallets/6fb7b6c1-e9ce-4040-b05e-079c3b12a55f

Might because one of below requests is too slow:

[code]

[2022-09-15 09:04] dadiorchen opened #964 "Token page: add some infomation"
Please add extra info for the token page, just like the tree page, as the second picture showing, but the second item should be: mint at [date]

https://prod-k8s.treetracker.org/web-map-beta/demo/wallets/f3d90452-12c6-4c23-8d2f-6cfa2ddc203b/tokens/00b97042-4d22-4804-a6ae-ccc1380139ae?

To connect to prod data locally: https://github.com/Greenstand/treetracker-web-map-client#how-to-connect-to-produ

[2022-09-15 09:04] dadiorchen commented on #964
@jeremydthomas can you take this one? It's similar to what you did for the tree page

[2022-09-15 09:24] dadiorchen opened #965 "Map core: 500 error"
http://localhost:3000/wallets/643c67ec-9984-4b66-ab9d-6bbb80890cc6

The 500 error shows up randomly

And this page too: http://localhost:3000/wallets/c6131f89-afb1-46ac-b9a7-b77900660f7d

![Image](https://user-images.githubusercontent.com/5744708/190367619-07e0fb56-d16a-43dd-8db8-05e906a45a3c.png)

[2022-09-15 09:37] dadiorchen opened #967 "Web map core: the fullscreen is broken"
On the home page, click the `expand` button, no data on the map.

This happens after upgrading the web map core

![Image](https://user-images.githubusercontent.com/5744708/190370436-dcbf66bc-22c8-4d31-9c63-aa87f03bd4d4.png)

[2022-09-15 16:27] jeremydthomas commented on #844
Thanks! Yes I will when I get home

[2022-09-15 21:44] Medmly20208 commented on #956
is this issue still open?

[2022-09-15 22:01] dadiorchen opened #968 "On the default map, click tree will clean all data on map"
This just happens on the global map (without any filter, like planter, org)

![Image](https://user-images.githubusercontent.com/5744708/190516414-126076c6-3c20-47af-b510-4c2cde6fede9.png)

[2022-09-15 22:42] dadiorchen opened #969 "Planter avatar: need to rotate the image"
https://prod-k8s.treetracker.org/web-map-beta/demo/planters/940

The way to do it is here: https://github.com/Greenstand/treetracker-web-map-client/issues/732

[2022-09-15 22:44] dadiorchen opened #970 "The planter avatar is missing here"
https://prod-k8s.treetracker.org/web-map-beta/demo/wallets/1f2a0862-66d1-4b42-8216-5a5cb9c6eca5/tokens/c99999df-adea-47f5-9d98-809ac3e27169

![Image](https://user-images.githubusercontent.com/5744708/190521366-1d60e5e5-0c39-4b00-94fa-3a20d14e8f8b.png)

[2022-09-16 01:55] dadiorchen commented on #956
Yes, @Medmly20208 please help us on this if you want

[2022-09-16 02:24] dadiorchen opened #971 "Map: the cluster is inaccuate"
For this case: https://prod-k8s.treetracker.org/web-map-beta/demo/wallets/0cdf4219-869a-41ce-953a-a8421d8353f7

It's easy to get lost, the cluster location is inaccurate

[2022-09-16 12:11] Medmly20208 commented on #956
Yes of course I will work on it

[2022-09-16 16:46] Medmly20208 commented on #956
@dadiorchen
![GreenStand](https://user-images.githubusercontent.com/69359301/190688990-59db19e7-bae9-49ce-96cf-330cf7858ebe.png)
are you talking about "meet Planter" Button

[2022-09-17 07:08] dadiorchen commented on #956
See my explanation here:
https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-09-17%20at%203.03.20%20PM.mp4

[2022-09-17 11:55] Medmly20208 commented on #956
understood thanks I will work on it immediately

[2022-09-17 12:28] Medmly20208 commented on #956
![treetrackererror](https://user-images.githubusercontent.com/69359301/190856671-bb526284-07cc-4871-97df-4d1efb8d0d32.png)
I have a problem with "npm run dev"
I forked the repo and clone it then execute "npm i" but it throws this error
and I don't now exactly the problem

[2022-09-20 06:17] #844 closed

[2022-09-20 06:33] #964 closed

[2022-09-21 08:15] dadiorchen opened #976 "Improve the UX for `next` tree"
Currently, if we click next tree button, the next.js will load the data in ajax-like way, this is good to reduce the network traffic, but if the net condition is slow, the experience is not so good, the user don't know what's happening after clicking the button, see video below, maybe we should find a way to indicate the progress of loading, like the process bar on the top of the page or so?

http

[2022-09-21 08:22] dadiorchen opened #977 "Use uuid component to shorten this case"
https://prod-k8s.treetracker.org/web-map-beta/demo/wallets/1f2a0862-66d1-4b42-8216-5a5cb9c6eca5/tokens?tree_id=95602
please shorten the token uuid here.

![Image](https://user-images.githubusercontent.com/5744708/191453193-919818fd-cd59-4959-a177-41caec70e3a1.png)

[2022-09-21 09:02] dadiorchen opened #980 "Add tree slider to wallet page"
https://prod-k8s.treetracker.org/web-map-beta/demo/wallets/8de4ce55-f17c-41fe-9cc7-c21a47872405

![Image](https://user-images.githubusercontent.com/5744708/191462815-c1e50f74-9582-4554-be25-da6accd91680.png)

![Image](https://user-images.githubusercontent.com/5744708/191464043-63eb4afd-4d96-4148-8750-070492c02fed.png)

Just as we do on the planter page and organization page.

[2022-09-21 09:41] RubenSmn commented on #901
Closed with #935

[2022-09-21 09:41] #901 closed

[2022-09-21 09:41] dadiorchen opened #983 "A error case: the tree id is 0"
When open this wallet and jump the this bounds, and click the tree icon, the id of the tree is 0

http://localhost:3000/wallets/8de4ce55-f17c-41fe-9cc7-c21a47872405?bounds=-80.50781250000001,-27.215556209029675,46.05468750000001,35.02999636902566

![Image](https://user-images.githubusercontent.com/5744708/191471722-0d5a3e82-7201-4122-87b0-93bf46170be7.png)

[2022-09-21 09:48] RubenSmn commented on #732
Will be fixed by #981

[2022-09-21 10:01] RubenSmn commented on #983
I am unable to see the wallet
![image](https://user-images.githubusercontent.com/31519867/191476167-dadece4e-c9ce-4ec3-9ab4-680895861259.png)

[2022-09-22 02:52] #969 closed

[2022-09-22 02:52] #977 closed

[2022-09-22 02:53] #732 closed

[2022-09-22 02:54] dadiorchen commented on #983
@RubenSmn this is on prod db, you need to follow this to connect to prod: https://github.com/Greenstand/treetracker-web-map-client#how-to-connect-to-production-data-locally

[2022-09-22 09:38] #967 closed

[2022-09-22 12:09] tranquanghuy0801 commented on #552
@dadiorchen Seem like this issue has been solved in the linked MR?

[2022-09-22 12:12] tranquanghuy0801 commented on #791
@RubenSmn Where do we put the Change Theme button on this page?

[2022-09-22 12:35] tranquanghuy0801 commented on #696
https://prettier.io/docs/en/precommit.html
Seem like option 2 in this link can do this task

[2022-09-22 14:54] RubenSmn commented on #791
@tranquanghuy0801 thank you for looking into this! For now I think you can just place it to the left of the search button!

[2022-09-22 21:34] dadiorchen opened #988 "Wrong tree case: can not find tree id"
https://prod-k8s.treetracker.org/web-map-beta/demo/trees/35318663
But the id is returned from the tile server on the cluster layer.

[2022-09-22 21:37] dadiorchen opened #989 "Another place that need to rotate pic"
https://prod-k8s.treetracker.org/web-map-beta/demo/trees/220056

refer to: https://github.com/Greenstand/treetracker-web-map-client/pull/981

![Image](https://user-images.githubusercontent.com/5744708/191855819-e49f537e-f868-486a-8031-17ae78c6057e.png)

[2022-09-22 21:44] dadiorchen opened #990 "Improve the UX of map: avoid hiding of the icon when clicking `next`"
Check the demo: https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-09-23%20at%205.41.45%20AM.mp4

On the online version: https://map.treetracker.org the map can behave well on this.

[2022-09-22 21:51] dadiorchen opened #991 "Fullscreen tree: Bad UX on mobile"
https://prod-k8s.treetracker.org/web-map-beta/demo/trees/1017648?bounds=36.63632970608888,-3.21523880931952,36.645213182346204,-3.197585367168344

Please make the dialog panel fill up the space (no padding on right & left), and make the picture bigger

![Image](https://user-images.githubusercontent.com/5744708/191857711-c3aa445b-ed58-4b68-8781-7d60c630d939.png)

[2022-09-22 21:56] dadiorchen opened #992 "Planter page: broken layout"
https://prod-k8s.treetracker.org/web-map-beta/demo/planters/3939?keyword=undefined

The species component get distort because of long text

![Image](https://user-images.githubusercontent.com/5744708/191858432-41a0f344-c4d4-4c7c-8ba6-3a7e84c47e54.png)

[2022-09-22 21:59] dadiorchen opened #993 "Mobile: can not click the title text to expand the drawer"
As shown below, we can not expand the drawer by clicking the text (red arrow on the left), we must click the black area on the right to do so.

![Image](https://user-images.githubusercontent.com/5744708/191858991-a494c348-8766-4918-be41-e22126f8bb0c.png)

[2022-09-22 22:02] dadiorchen opened #994 "UI: too big icon"
The tree and group icon are too big, this happens somewhere else, please find the similar code and copy or maybe we can find a good way to reuse the code
https://prod-k8s.treetracker.org/web-map-beta/demo/planters/3939?keyword=undefined

![Image](https://user-images.githubusercontent.com/5744708/191859169-974ae37d-1129-4501-ac93-77f3e27ca064.png)

[2022-09-22 22:07] dadiorchen opened #995 "Mobile: a link doesn't work"
On the mobile device, can not click `meet the organization` to jump, but the same button works on desktop

![Image](https://user-images.githubusercontent.com/5744708/191859939-dad481fb-4ebc-4d30-a1b5-16c5ecf1b9f0.png)

[2022-09-22 22:09] dadiorchen commented on #995
Seem my wrong operation

[2022-09-22 22:14] dadiorchen opened #996 "The cover/hero image page"

[2022-09-22 22:16] dadiorchen commented on #994
And the page also:

![Image](https://user-images.githubusercontent.com/5744708/191860959-dbf95d82-b936-4801-8a0d-d7edcd1bfad1.png)

https://prod-k8s.treetracker.org/web-map-beta/demo/wallets/8de4ce55-f17c-41fe-9cc7-c21a47872405?bounds=-90,-80.11856387883782,55.54687500000001,81.56996820323275

[2022-09-22 22:19] dadiorchen opened #997 "Map: click tree icon jump to wrong path"
On the wallet page, clicking tree icont should jump to wallet/xxx/token/xxxx than to  /trees/xxxx
https://prod-k8s.treetracker.org/web-map-beta/demo/trees/288538
![Image](https://user-images.githubusercontent.com/5744708/191861165-d02ed45c-6834-4387-816f-81e67ef458e4.png)

To reproduce:

* top page
* dadiorchen wallet
* zoom in
* click tree icon

[2022-09-22 22:27] dadiorchen commented on #995
Still exists, and for the embed mode, the button doesn't work too
https://prod-k8s.treetracker.org/web-map-beta/demo/planters/3937?keyword=undefined

[2022-09-23 02:28] dadiorchen opened #998 "Research: could we manually trigger the cache update for next.js"
Currently, we are going to use the next.js's cache to speed up the performance, and set an expiration time for that. Can we find a way to manually trigger some page's cache update so we can get the newest data immediately.

This is to bring convenience for our operator, usually, after doing some data management, they want to check the result on the map immediately, but with the cache of next.js, t

[2022-09-23 03:44] dadiorchen opened #999 "The oganization page: too slow"
To reproduce: open page: /organizations/775

Took 30+s to load this api: https://prod-k8s.treetracker.org/web-map-beta/demo/_next/data/AhiCKuIUEwsoBRJtT-ZY4/organizations/775.json?organizationid=775

Please analyze the performance first on the client site, to figure out what's the bottleneck, and if needed, open issues on query api repo.

![Image](https://user-images.githubusercontent.com/5744708/

[2022-09-23 05:52] RubenSmn commented on #993
Same as #863
Will be fixed by #885

[2022-09-23 09:37] #996 closed

[2022-09-23 15:40] okdv commented on #939
Ah yea looks to be related to my issue from a few weeks ago, #813
I'm gonna go ahead and take a look at these, i dont think i realized it was so prevalent

[2022-09-23 17:37] okdv commented on #998
On-demand revalidation should work in nextjs out of the box: https://nextjs.org/docs/basic-features/data-fetching/incremental-static-regeneration#using-on-demand-revalidation

Basically they recommend creating an endpoint where we can supply a token and the path to revalidate, it'll purge the cache and force re-render on next call. Then we can just call this endpoint when/where needed. I'm happy t

[2022-09-24 02:55] #970 closed

[2022-09-24 02:58] dadiorchen commented on #552
Yes, thank you

[2022-09-24 02:58] #552 closed

[2022-09-24 02:59] dadiorchen commented on #696
@tranquanghuy0801 I agree, can you set it up for us?

[2022-09-24 03:01] dadiorchen commented on #696
Another think I observed is that seems the pre-check for commit can be bypassed in some way, because I seems saw some violation in some rule even we set for it, but I'm not sure, just a reminder

[2022-09-24 03:02] dadiorchen commented on #791
@RubenSmn @tranquanghuy0801 what would the UI look? A new button on the map?

[2022-09-24 03:09] #863 closed

[2022-09-24 03:09] dadiorchen commented on #993
Sorry for the duplication, I have merged that one

[2022-09-24 03:09] #993 closed

[2022-09-24 03:09] #911 closed

[2022-09-24 03:11] #939 closed

[2022-09-24 03:14] dadiorchen commented on #998
Okay, great, then let's define this issue to test this next.js feature, and put the guiding document into our readme.

[2022-09-24 03:20] #942 closed

[2022-09-24 03:30] dadiorchen commented on #976
Acutally, I think this is a common case on our site, for example, on the top page, click organization  Bôndy, and it takes dozens of seconds to open new page, but before that, the UI is doing nothing to let the user know what's happening.

[2022-09-24 08:26] RubenSmn commented on #791
I was thinking of placing it next to the search button, somewhere like this:
![Screen Shot 2022-09-24 at 10 25 16](https://user-images.githubusercontent.com/31519867/192088375-090b1107-90e6-425f-b77a-7c62a0bc02ee.png)

[2022-09-24 13:12] tranquanghuy0801 commented on #791
<img width="565" alt="image" src="https://user-images.githubusercontent.com/29462498/192099823-abce1a86-ccc0-40b7-bd84-515c06e58370.png">
Yup, I would think the same as Ruben said above and did like this.

Also @RubenSmn, do we have a design of how the embed pages look like when the dark mode is turned on?

[2022-09-24 14:35] RubenSmn commented on #791
Ah wow, nice @tranquanghuy0801 No we do not have a design for the dark mode, only for light

[2022-09-24 23:49] tranquanghuy0801 commented on #791
@RubenSmn I will have a look and find it first. If not, you can feedback on my MR and I will update then.

[2022-09-25 01:26] jeremydthomas commented on #980
@dadiorchen can I reword that "wallet since October 08, 2021"
 to Wallet Created On, or Wallet Minted On? When I do this issue? It will read/flow better.

[2022-09-25 06:36] #795 closed

[2022-09-25 06:56] dadiorchen commented on #980
Yes, @jeremydthomas please

[2022-09-25 06:59] #989 closed

[2022-09-25 09:27] RubenSmn commented on #995
@dadiorchen it does work, but the fetch for the organization is quite long:

http://localhost:3000/web-map-beta/demo/planters/3937
![image](https://user-images.githubusercontent.com/31519867/192136898-af0f9725-60dc-4a6b-bf2f-eb4901ae65bb.png)

http://localhost:3000/web-map-beta/demo/planters/3937?keyword=undefined
![image](https://user-images.githubusercontent.com/31519867/192136908-0fafdc41-432d-

[2022-09-25 09:39] RubenSmn commented on #845
@tyler1588 to fix the cypress issue run `npm run cy:nock`

[2022-09-25 09:50] RubenSmn opened #1008 "TreeSpeciesCard UI incorrect if species name is too long"
# Description
TreeSpeciesCard layout is incorrect if the name of the specie is too long, see the screenshot below.
Tested on chrome simulator: Galaxy S8+ 360x740
The long names do not occur on the `dev` environment by default (you could mock for easy testing)

![image](https://user-images.githubusercontent.com/31519867/192137488-136aef43-cd45-40a3-8075-619779796407.png)

## To reproduce
- npm run

[2022-09-25 09:55] RubenSmn opened #1009 "Impact section cards not same height"
# Description
Cards on impact section are not the same height on mobile, see the screenshot below:
 Tested on chrome simulator: Galaxy S8+ 360x740

![image](https://user-images.githubusercontent.com/31519867/192137773-c990f449-a832-4ec7-8c02-b64f6bf3c30a.png)

## To reproduce
- visit: http://localhost:3000/wallets/eecdf253-05b6-419a-8425-416a3e5fc9a0

---

Some hints:

- Please read our [readme](h

[2022-09-25 10:17] RubenSmn opened #1010 "Featured Tree cards not same height"
# Description
The height of the tree card is not the same if the text on 1 card is longer than the others, see screenshot below.
The long names do not occur on the dev environment by default (you could mock for easy testing)

Mobile|Desktop
:-:|:-:
![image](https://user-images.githubusercontent.com/31519867/192138443-058587ee-b61f-469d-9850-b8efbc9207bd.png)|![image](https://user-images.githubuser

[2022-09-25 10:29] RubenSmn opened #1011 "Navigating to another page does not place you at the top of that page"
# Description
When navigating to another page you do not start at the top of the new page, see the video below for a visual explanation.

[Kooha-2022-09-25-12:22:38.webm](https://user-images.githubusercontent.com/31519867/192138932-c846b449-29af-4d94-8984-882d7fe05b5b.webm)

## To reproduce
- visit: http://localhost:3000/planters/940
- scroll down to the tree section and click a tree

---

Some hi

[2022-09-26 10:16] khalatevarun commented on #1010
Would like to pick this issue

[2022-09-26 22:33] khalatevarun commented on #1010
PR is ready @RubenSmn , could you please send an invite to join the repo. Dont have access currently to push.

[2022-09-27 02:46] dadiorchen commented on #995
@RubenSmn yes, I relized that later, I think we can do these to solve the problem:
1. Add the slow pages to pre-cache on next.js
2. Improve the UX mentioned here: https://github.com/Greenstand/treetracker-web-map-client/issues/976

[2022-09-27 06:05] RubenSmn commented on #1008
Duplicate of #992

[2022-09-27 07:32] RubenSmn commented on #1010
Sorry @khalatevarun I don't see your pull request. Here is a quick guide on how to create one: https://www.dataschool.io/how-to-contribute-on-github/

[2022-09-27 07:40] khalatevarun commented on #1010
![SCR-20220927-ia3](https://user-images.githubusercontent.com/68511458/192464212-f270f4e0-f5c9-47eb-a582-0d033f729419.png)
Not able to create PR

[2022-09-27 12:48] khalatevarun commented on #1010
@RubenSmn the PR is ready.

[2022-09-27 17:48] khalatevarun commented on #992
@RubenSmn please review the following PR, have tried fixing the issue.
https://github.com/Greenstand/treetracker-web-map-client/pull/1018

[2022-09-27 17:50] okdv commented on #983
from what I can tell, this is being returned by the map core, so web map client is working as designed at least.

As far as what is causing this in the map core, im not sure at the moment...

heres an example of the grid for the trees in that bunch
https://tiles3.treetracker.org/12/1898/1952.grid.json?icon=ptk-s&wallet=dadiorchen

interestingly, if you zoom in further to narrow it to an individual

[2022-09-27 17:54] #813 closed

[2022-09-27 19:25] khalatevarun commented on #551
@dadiorchen please review following PR, have tried fixing the issue.
https://github.com/Greenstand/treetracker-web-map-client/pull/1019

[2022-09-27 21:55] okdv commented on #968
![image](https://user-images.githubusercontent.com/65867719/192642732-58442824-8561-4093-9d8f-a930121f9524.png)
I'm having trouble reproducing this one on my side, maybe there were issues with the prod db when you ran into this?

[2022-09-27 22:03] okdv commented on #976
Definitely seems to be a few approaches, we can just inject the loading indicator at the App level so it works for all page loads. I'd just say add a delay before we show the indicator so it doesnt try to pop up even when the page loads quickly.

Could keep it really simple and use something like [nprogress](https://www.npmjs.com/package/nprogress)?

[2022-09-27 23:50] okdv commented on #753
seems to be resolved now, not sure exactly what caused/fixed it however

[2022-09-27 23:50] #753 closed

[2022-09-28 07:44] dadiorchen commented on #976
@okdv good, if the mui component works for this, https://mui.com/material-ui/react-progress/#main-content I prefer to use it directly, but if it doesn't I am good to choose another lib,

and also I found some discussion related: https://stackoverflow.com/questions/55624695/loading-screen-on-next-js-page-transition

[2022-09-28 09:28] dadiorchen opened #1023 "Jumping to country is broken"
https://prod-k8s.treetracker.org/web-map-beta/demo/top on this page, by clicking the country name, we should be able to jump to the country on the map, it worked before, but now broken

![Image](https://user-images.githubusercontent.com/5744708/192743124-f582a089-1fee-48f3-b3a4-c0bc878ddf28.png)

[2022-09-28 22:18] dadiorchen opened #1024 "Loading progress on the country leader board"
Because the loading is slow , we need a progress effect to feedback to the user:

![Image](https://user-images.githubusercontent.com/5744708/192898660-509352b4-b3e2-4bf3-888d-a2aee7dc2244.png)

[2022-09-29 00:16] SS041 commented on #1024
Hi! I would like to work on it.

[2022-09-29 00:50] dadiorchen opened #1025 "Map: jump to wrong url"
To reproduce:
1. open https://prod-k8s.treetracker.org/web-map-beta/demo/planters/3350
2. click featured tree, the map will jump to that tree and be surrounded by other trees.
3. Click any of other tree, the map jump to: https://prod-k8s.treetracker.org/web-map-beta/demo/trees/952259

The correct target should be: https://prod-k8s.treetracker.org/web-map-beta/demo/planters/3350/trees/952259

[2022-09-29 01:00] dadiorchen opened #1026 "Map: jump to wrong url case 2"
On https://prod-k8s.treetracker.org/web-map-beta/demo/planters/3350
switch to fullscreen,
click featured tree, jump to: /trees/496172 but we should jump to: /planters/3350/trees/496172

[2022-09-29 01:05] #786 closed

[2022-09-29 01:06] #804 closed

[2022-09-29 01:17] #949 closed

[2022-09-29 01:22] dadiorchen commented on #968
I think this problem has been solved by some other PR

[2022-09-29 01:22] #968 closed

[2022-09-29 01:27] #995 closed

[2022-09-29 03:03] dadiorchen opened #1027 "Web map client: print version in console"
Print the current version of the web map client in the console, to bring convenience for debugging

[2022-09-29 09:28] #754 closed

[2022-09-29 09:28] #997 closed

[2022-09-29 13:11] dharmiknotop commented on #547
can you elaborate on the issue @dadiorchen

[2022-09-29 18:44] khalatevarun commented on #1009
Please revewi the following PR, have tried fixing the issue  @RubenSmn  @dadiorchen
https://github.com/Greenstand/treetracker-web-map-client/pull/1030

[2022-09-29 23:13] dadiorchen opened #1032 "Wrong layout for the card button"
https://prod-k8s.treetracker.org/web-map-beta/demo/planters/3350/trees/496170

![Image](https://user-images.githubusercontent.com/5744708/193157928-431853e5-38f8-4d9d-9b2a-8018bb09a742.png)

[2022-09-29 23:13] dadiorchen commented on #1032
The local/development version is correct

![Image](https://user-images.githubusercontent.com/5744708/193158092-9b4cc3d4-d23a-4872-afb1-53730f00aa0c.png)

[2022-09-29 23:17] dadiorchen opened #1033 "Can not jump to tree on the map for this case"
https://prod-k8s.treetracker.org/web-map-beta/demo/organizations/194/trees/785659

and the crumbs is wrong

![Image](https://user-images.githubusercontent.com/5744708/193158487-4d133188-080e-4a7f-9e8a-17a8eabfa979.png)

[2022-09-29 23:18] #1025 closed

[2022-09-29 23:20] dadiorchen opened #1034 "Logo is missing for this case"
https://prod-k8s.treetracker.org/web-map-beta/demo/planters/3350/trees/496170?embed=true

[2022-09-29 23:21] dadiorchen commented on #1034
There should be a logo on the right bottom corner

![Image](https://user-images.githubusercontent.com/5744708/193158775-8ce54674-c753-453b-9ad1-bf1b3f92aed0.png)

[2022-09-29 23:22] #1026 closed

[2022-09-30 00:58] dadiorchen opened #1036 "Missing logo on this case"
https://prod-k8s.treetracker.org/web-map-beta/demo/organizations/194/trees/785659

The logo for the org is missing on the first card

![Image](https://user-images.githubusercontent.com/5744708/193167389-75dac661-c2f5-40c9-ae47-7d414c057d13.png)

[2022-09-30 02:15] dadiorchen opened #1037 "Refine the fullscreen panel"
The fullscreen is kind of useless, the picture is too small, please help us on this, make the picture as big as possible,

To reproduce this problem, go to : https://prod-k8s.treetracker.org/web-map-beta/demo/trees/1031557

![Image](https://user-images.githubusercontent.com/5744708/193175500-7c8b6578-d1c4-4a2c-b702-0adeed1b20fa.png)

This issue is related, please note:
https://github.com/Greenstan

[2022-09-30 02:17] #1023 closed

[2022-09-30 02:17] #1033 closed

[2022-09-30 02:46] dadiorchen opened #1038 "Missing next/prev button on the case"
https://prod-k8s.treetracker.org/web-map-beta/demo/trees/2934333

![Image](https://user-images.githubusercontent.com/5744708/193179172-6aed9262-acf0-494a-8406-f6eecc1906fa.png)

[2022-09-30 03:23] dharmiknotop commented on #1032
Hey, I am interested in this issue can i solve this?

[2022-09-30 07:53] mohuxaiphasalik commented on #1036
I have found the logo of Haiti tree project i can add logo of it ,
Please assign me this project so that I could get started.

[2022-09-30 09:36] RubenSmn commented on #1009
Fixed by #1012

[2022-09-30 09:36] #1009 closed

[2022-09-30 09:55] dadiorchen opened #1039 "Display progress block when loading new page"
As the video showing, it is a bit confusing for user when we click next tree,  the old id and picture is still there and replaced by new ones when loaded, we should remove old content and replace with loading block (like this https://mui.com/material-ui/react-skeleton/#main-content) and display new content when ready.

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202022-09-30%

[2022-09-30 09:56] RubenSmn commented on #1032
@dharmiknotop go ahead!
PS: local/dev version also seems to be broken: http://localhost:3000/planters/5449/trees/953049

![image](https://user-images.githubusercontent.com/31519867/193245375-a6ce8ef5-ad95-43ae-acf4-d722240f8bc3.png)

[2022-09-30 10:00] RubenSmn commented on #1036
The logo of the organization is visible in the Breadcrumbs! @mohuxaiphasalik you can create a fork and open a pull request when you had any luck fixing the issue! Here is a good tutorial on how to if its your first time https://www.dataschool.io/how-to-contribute-on-github/

[2022-09-30 10:00] dadiorchen opened #1040 "Find a solution to improve this UX behavior"
On the tree map, by clicking next tree, it is possible we got lost and can not find the selected next tree, please find a solution for us to improve this.

https://prod-k8s.treetracker.org/web-map-beta/demo/trees/800401

![Image](https://user-images.githubusercontent.com/5744708/193245826-e25bbb90-9c15-4bbc-9242-aa91831f279f.png)

[2022-09-30 10:21] RubenSmn commented on #639
YES found something! It has something to do with a `<g>` element in the `<svg>` element there is filter on which magically `hides` the whole svg, no clue how it happens but will try a fix and open a PR :tada:

[2022-09-30 11:26] dharmiknotop commented on #1032
hey @RubenSmn, can you pls explain how can i write my commit message for this because i trying to write added width 100% to the card button but it gives error says to follow https://github.com/conventional-changelog/commitlint/#what-is-commitlint and when i saw this i didn't understand what to write so yea can you pls help me .

[2022-09-30 11:48] RubenSmn commented on #1032
Hi @dharmiknotop ah yes we use a format for the way we write our commit message.
For example if our change result in a fix we would commit like `git commit -m "fix: xxx element was using correct xxx"`

If you want more information, I personally found this article very helpfull! https://h.daily-dev-tips.com/git-basics-conventional-commits

[2022-09-30 12:16] dharmiknotop commented on #1032
@RubenSmn made a pr pls checkout and sorry for asking but should one tag the assigner after one makes a pr or the assigner just checks on the regular base and no need to tag them after making a pr?

[2022-09-30 13:33] RubenSmn commented on #1032
@dharmiknotop the PR's are getting checked on a regular base so no need for a tag

[2022-10-01 02:12] dadiorchen opened #1046 "Can not drag draw anymore on mobile"
http://localhost:3000/trees/854318

![Image](https://user-images.githubusercontent.com/5744708/193379059-9750af43-f774-467e-8dfb-6ab3930d9533.png)

[2022-10-01 02:16] dadiorchen commented on #1024
@SS041 sure! thanks!

[2022-10-01 02:23] #994 closed

[2022-10-01 02:23] #992 closed

[2022-10-01 02:27] dadiorchen commented on #547
I if remember this correctly, we use filter to create the shadow for the image, refer to our design here: https://www.figma.com/file/kF69K6r81GxoV8eGCgtOFY/Greenstand-Webmap-(Copy)?node-id=5127%3A20292

But the one mentioned in the issue is missing that effect/shadow

[2022-10-01 02:34] #639 closed

[2022-10-01 02:40] #1034 closed

[2022-10-01 07:42] dadiorchen commented on #943
new design

<img width="425" alt="image" src="https://user-images.githubusercontent.com/5744708/193398819-5a01a683-5eb8-4079-b542-3b314961c507.png">

[2022-10-01 07:42] #943 closed

[2022-10-01 07:47] dadiorchen commented on #1046
But this is not always the case, sometime the drawer is just okay, don't know what operations cause this.

[2022-10-01 08:38] dadiorchen commented on #980
@jeremydthomas are you waiting for this API? https://dev-k8s.treetracker.org/query/trees?wallet_id=eecdf253-05b6-419a-8425-416a3e5fc9a0
It is implemented now.

[2022-10-01 08:39] RubenSmn commented on #1046
I tested this on the Chrome simulator, visited: http://localhost:3000/trees/854318 and everything works as expected. I can drag the drawer before and after I switch trees. By clicking on the tree itself or the next/prev buttons

[2022-10-01 08:41] jeremydthomas commented on #980
Yes I was, thank you.

[2022-10-01 17:37] Harshalyadav commented on #1036
can you give me more about this issue?
I mean organization logo or plant logo.
Where I put this logo or if you have this logo where I get?

[2022-10-02 01:10] dadiorchen commented on #1046
That's weird, maybe my browser chrome has some problem

[2022-10-02 01:10] #956 closed

[2022-10-02 08:58] juliana-mol commented on #953
Can I work on this issue ?

[2022-10-02 14:39] SudoMig commented on #515
I'd like to take on this assignment

[2022-10-04 02:00] #980 closed

[2022-10-04 02:01] dadiorchen commented on #515
@SudoMig thank you!

[2022-10-04 02:02] dadiorchen commented on #515
@RubenSmn could you onboard @SudoMig on this, to give him some guide on the customizable web map?

[2022-10-04 08:34] dadiorchen opened #1054 "Put the first tree is the profile picture on wallet page"
Just like the planter page, we can put the tree picture as the backgroud/profile page on the top, the logic could be: display picture as priority like this: hero_picture > first tree capture > placeholder picture

[2022-10-04 09:53] RubenSmn commented on #1032
Solved with #1044

[2022-10-04 09:53] #1032 closed

[2022-10-04 14:15] #746 closed

[2022-10-04 21:06] khalatevarun commented on #953
@dadiorchen @RubenSmn please review the PR, have fixed the issue.

[2022-10-04 21:37] jeremydthomas opened #1057 "The forward and back buttons on the tree slider / sliders are hard to see."
As you can see in the picture there is an arrow forward, and when you go forward there is an arrow that goes backwards that is not in the picture. If I didnt know that was there, I dont think I would see it, so I doubt website visitors would see it either.

Try to make this more visible so that the visitors know its there.

![Inkedimage](https://user-images.githubusercontent.com/63400531/193934987

[2022-10-04 21:56] khalatevarun commented on #946
@dadiorchen @RubenSmn please review, have fixed the issue.

[2022-10-04 23:06] khalatevarun opened #1060 "Add real location for planters page"
---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-web-map-client#treetracker-web) for more information/guide/tutorial.
- For design guidelines checkout our [Figma design](https://www.figma.com/file/XdYFdjlsHvxehlrkPVYq0l/Greenstand-Webmap).
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organi

[2022-10-04 23:23] khalatevarun commented on #1060
@dadiorchen @RubenSmn please review the issue and PR

[2022-10-05 07:59] RubenSmn commented on #1057
To add to this: when hovering over the button; the button gets even darker. I think we should make the button more light / less transparent when hovering.

[2022-10-05 08:02] RubenSmn commented on #1036
@Harshalyadav the logo url is on the planter object passed down as argument: https://github.com/Greenstand/treetracker-web-map-client/blob/beta/src/pages/trees/%5Btreeid%5D.js#L54

And is already being used here: https://github.com/Greenstand/treetracker-web-map-client/blob/beta/src/pages/trees/%5Btreeid%5D.js#L328

[2022-10-05 08:05] RubenSmn commented on #1036
@Harshalyadav the logo/image is on the organization object passed as argument: https://github.com/Greenstand/treetracker-web-map-client/blob/beta/src/pages/trees/%5Btreeid%5D.js#L55

And can be used in the same way as here: https://github.com/Greenstand/treetracker-web-map-client/blob/beta/src/pages/organizations/%5Borganizationid%5D.js#L141

[2022-10-05 09:55] dadiorchen opened #1064 "The logo on this page is wrong"
On this page: https://prod-k8s.treetracker.org/web-map-beta/demo/organizations/775/trees/1019755?bounds=36.62507057189942,-3.2169592764997037,36.655969619750984,-3.199862893857267

The context of the page is: organization echo, you can see the path/crumbs on the top, but the log on the bottom right corner is wrong, it's showing the planter's avatar, which should be the log of echo

![Image](https:

[2022-10-06 03:38] #953 closed

[2022-10-06 03:42] #895 closed

[2022-10-08 01:36] dadiorchen opened #1068 "Display the name of the planter/org/wallet"
On the top page, it's usually the entity's lack of a logo, so we should display the name under the avatar.

So display for these three sections: featured planter, organization, wallet.

![Image](https://user-images.githubusercontent.com/5744708/194681135-b985c1be-c3e1-4b7e-a38c-e6181ee3f6f3.png)

[2022-10-08 01:40] #991 closed

[2022-10-08 06:38] khalatevarun commented on #1068
Hey @dadiorchen, would like to pick this issue although I have one doubt here.
We are already showing names on hover using tooltip, won't it be redundant then?

[2022-10-10 02:02] #946 closed

[2022-10-10 02:04] #1060 closed

[2022-10-10 02:04] dadiorchen commented on #1068
@khalatevarun thanks! did you join our slack community?

[2022-10-10 02:05] #947 closed

[2022-10-10 02:48] dadiorchen opened #1069 "Fix the layout flashing on the embed map"
When opening this url: https://prod-k8s.treetracker.org/web-map-beta/demo?embed=true before the global map showing up, there is a page shows and disappears quickly, we need to hide this.

[2022-10-10 05:22] sebastiangaertner opened #1070 "Associated sub organizations are not considered"
https://prod-k8s.treetracker.org/web-map-beta/demo/organizations/552?bounds=29.295043945312504,-18.218916080017465,31.464843750000004,-15.93227933760862

in this case Org 552 is the mother organization and the function getentityrelationshipchildren(int4) has to be considered.
The function also needs to be available in the new DB schema after the domain migration which is most likely another ticket

[2022-10-10 06:31] dadiorchen opened #1071 "Define our repository configuration for dev & relase workflow"
Please help us to set up/define the workflow on GitHub and release.

Goal:

The github/git configuration for different branch/feature, and consider the deployment and test/dev of this branch, feature.

Requirments:

1. A workflow to be able to develop on different features/versions.
  So we can work on different features at the same time.
3. A rule to handle the semantic version number, like: v1.x

[2022-10-10 06:47] dadiorchen commented on #1070
The count sql is here, can you help review?
[code]

[2022-10-10 06:56] dadiorchen opened #1072 "Hide the featured section if it is empty"
On the `top` page, it is possible that we won't display some of the featured sections:

![Image](https://user-images.githubusercontent.com/5744708/194812065-6d7187aa-28eb-446a-bade-3c1df988fcec.png)

So add logic that if the featured array from API is empty,then hide this section.

[2022-10-10 08:19] dadiorchen opened #1073 "V2: top page"
* Based on the current `top` page, migrate from v1 to use v2 API
* Change 'tree' to 'capture'
* Change 'planter' to 'grower'
* Prerequisites: https://github.com/Greenstand/treetracker-query-api/issues/235

[2022-10-10 08:20] dadiorchen opened #1074 "V2: capture page"
The capture page will be the same as current `tree` page, actually, we will copy and migrate the tree page to capture page.

* Migrate the current `[treeid].js` to `[captureid].js`
* Change the API from `/trees/{id}` to `/v2/captures/{id}`
* Prerequirsites: https://github.com/Greenstand/treetracker-query-api/issues/235

[2022-10-10 08:26] dadiorchen opened #1075 "V2: tree page"
Similar to the previous `tree` page, but now the tree page will bind with multiple captures, so the tree picture would become a slider.

Prerequisite: https://github.com/Greenstand/treetracker-query-api/issues/235

[2022-10-10 08:30] dadiorchen opened #1076 "V2: grower page"
* Based on planter page, change the name from `planter` to `grower`
* Migrate query API from v1 to v2
* Prerequisite: https://github.com/Greenstand/treetracker-query-api/issues/235

[2022-10-10 08:32] dadiorchen opened #1077 "V2: organization page"
* Based on the current `organization` page.
* Migrate query API from v1 to v2
* Prerequisite: https://github.com/Greenstand/treetracker-query-api/issues/235

[2022-10-10 08:33] dadiorchen opened #1078 "V2: wallet page"
* Based on the current `wallet` page.
* Migrate query API from v1 to v2
* Prerequisite: https://github.com/Greenstand/treetracker-query-api/issues/235

[2022-10-10 08:33] dadiorchen opened #1079 "V2: token page"
* Based on the current `token` page.
* Migrate query API from v1 to v2
* Prerequisite: https://github.com/Greenstand/treetracker-query-api/issues/235

[2022-10-10 09:53] RubenSmn opened #1081 "Update typography input validation"
# Description
Our validation is not working intuitively/correct
For example the input field for letter spacing, the default value is `0` but when you remove it and re-enter `0` it gives a syntax error. This should not happen because `0` is a valid input
To check for valid inputs we use regular expressions

## To Reproduce
- Visit: http://localhost:3000/admin/theme
- Go to the Typography section
-

[2022-10-10 10:05] RubenSmn opened #1082 "Change FontFamily input to dropdown"
# Description
Currently we have a textfield as an input for the Font Family, we want to change this to a dropdown to reduce errors, like typos.
The dropdown should contains all the default fonts like, Arial, Monospace, etc. On top of the default fonts we want to add the custom loaded fonts by the user.

The theme playground can be found at http://localhost:3000/admin/theme
The Font Family input is

[2022-10-10 10:09] DonBarbaro commented on #1082
Hi, can u assign it to me? I can work on this

[2022-10-10 11:11] RubenSmn commented on #1082
@DonBarbaro yes, go ahead!

[2022-10-10 11:35] RubenSmn opened #1083 "Theme type button should be fixed on top"
# Description
The theme type button on the theme playground hides when you scroll down the list of colors.
This is something we don't want. The user should always be able to see this button when editing the colors.

## Screenshot
Top|After a little scroll
:-:|:-:
![image](https://user-images.githubusercontent.com/31519867/194856720-ba63cf6a-4559-4b4b-884f-9e6cb9fdcc0f.png)|![image](https://user-im

[2022-10-10 13:02] DonBarbaro commented on #1082
@RubenSmn where can I find this textfield?

[2022-10-10 13:24] RubenSmn commented on #1082
Sorry, you can find the textfield here: [/src/components/playground/TypographyInput.js](https://github.com/Greenstand/treetracker-web-map-client/blob/beta/src/components/playground/TypographyInput.js#L148-L173)

[2022-10-10 14:30] khalatevarun commented on #1068
not yet, I would love to, how can I join?

[2022-10-10 16:56] Harshalyadav commented on #1083
could you send me localhost URL link?

[2022-10-10 17:21] Harshalyadav commented on #1081
I'm getting this error
 "Module not found: Can't resolve 'react-best-gradient-color-picker'"
on  http://localhost:3000/admin/theme page.

[2022-10-10 18:01] khalatevarun opened #1087 "Planter quote info card location bug"
**Describe the bug**
A clear and concise description of what the bug is.
The location of planter in planter quotes cards was coming with "info=" text

**To Reproduce**
Steps to reproduce the behavior:
http://localhost:3000/web-map-beta/demo/organizations/1332

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![SCR-20221010-whz](https://user-ima

[2022-10-10 18:18] RubenSmn commented on #1083
@Harshalyadav sorry I forgot to add this, http://localhost:3000/admin/theme

[2022-10-10 18:19] RubenSmn commented on #1081
Have you tried running `npm install`?

[2022-10-10 18:37] khalatevarun commented on #1081
Hey @RubenSmn, the letter-spacing input expects to add 'em' after input. So '0em' works too. I don't think there is any issue to be fixed here.

[2022-10-10 18:53] khalatevarun commented on #701
could you please provide the design as in where the reset button/icons must be places for every input field

[2022-10-10 18:59] RubenSmn commented on #1081
@khalatevarun yes but a valid value should also be 0

[2022-10-10 19:06] khalatevarun commented on #1081
yes its just that it expects 'em 'at the end. Do you mean for 0 it should ignore the case?

[2022-10-10 19:10] RubenSmn commented on #701
@khalatevarun unfortunately we do not have a design for the theme playground. Maybe we can place it on the right side of the label?

[2022-10-10 19:11] RubenSmn commented on #1081
Yes for 0 it should also pass

[2022-10-10 19:11] khalatevarun commented on #1081
got it, thanks for clarifying

[2022-10-11 01:55] dadiorchen opened #1091 "A bug for the dark theme"
Sometimes the theme get messy, like below:

![Image](https://user-images.githubusercontent.com/5744708/194979708-05200c14-00d6-459b-a548-0f6ad9ea0add.png)

To reproduce:
* Open the map
* Change to dark theme
* Close the map
* Open it in a new tab

[2022-10-11 01:59] dadiorchen opened #1092 "This link on the wallet page is wrong"
On the wallet page, like this: https://prod-k8s.treetracker.org/web-map-beta/demo/wallets/8de4ce55-f17c-41fe-9cc7-c21a47872405

Click the tree picture will jump to:
https://prod-k8s.treetracker.org/web-map-beta/demo/trees/189259?bounds=36.6171956062317,-3.2705175093643524,36.631250381469734,-3.2565283730694077

This is wrong, we should jump to the token page, https://prod-k8s.treetracker.org/web-m

[2022-10-11 06:33] #1064 closed

[2022-10-11 06:50] dadiorchen opened #1093 "The wallet page support the wallet name"
Now we just support wallet id: https://prod-k8s.treetracker.org/web-map-beta/demo/wallets/8de4ce55-f17c-41fe-9cc7-c21a47872405
We need to support the wallet by name: https://prod-k8s.treetracker.org/web-map-beta/demo/wallets/dadiorchen

[2022-10-11 06:51] dadiorchen commented on #1093
We can use the api to fetch wallet by name: https://prod-k8s.treetracker.org/query/wallets/dadiorchen

[2022-10-11 07:02] dadiorchen commented on #1068
Give me your email so I can invite you!